[2021-06-15 19:45] tesar-tech commented on #2448
One more piece of the puzzle: I let my app to output all requested paths to console:

[code]

## When requested from mobile chrome:
[code]
(that's all, nothing more)

## When requested from desktop chrome:
[code]
...and much more files..

[2021-06-15 19:59] louisgurung opened #2480 "Pagination Items not aligned straight in DataGrid"
![image](https://user-images.githubusercontent.com/25998430/122115567-3dee4980-cdea-11eb-8387-c09b39a589c4.png)

[2021-06-15 22:20] Jimmys20 commented on #2448
It seems that this problem is not related to Blazorise. For some reason Blazor is not working correctly on version 91.0.4472.101 of Chrome for android. Check [https://github.com/dotnet/aspnetcore/issues/33559](https://github.com/dotnet/aspnetcore/issues/33559).

[2021-06-15 22:57] tesar-tech commented on #2448
Don't forget to upvote that issue!

[2021-06-16 09:05] bh4017 opened #2481 "Time Picker does not fire associated event when time is 'picked' in 0.9.3.8"
**Describe the bug**
This is really a continuation of issue [2437](https://github.com/Megabit/Blazorise/issues/2437#issuecomment-860699275) which I have found to be partially fixed in 0.9.3.8 but there is a remaining issue with it as follows:

Using a TimePicker set up as follows:

`<TimeEdit TValue="TimeSpan?" Time="@selectedStartTime" TimeChanged="@OnStartTimeChanged" />`

And then an associated

[2021-06-16 09:08] stsrki commented on #2481
Thank you for the detailed explanation. The issue is a duplicate of #2462 and it is already being fixed. Since it was practically only a single reported bug I wanted to wait a little more before to see if there will be more issues before releasing a new patch. I will probably release it today.

[2021-06-16 09:08] #2481 closed

[2021-06-16 09:20] stsrki commented on #2479
Maybe in the end there are still use cases for `None` being present as an option. Without it, it would be hard to override global theme settings on each individual component.

For example lets's say we have a defined theme options for button, `Theme.ButtonOptions.Size = Size.Small`. All buttons in the app should automatically be made smaller. Remember, `Size` is now nullable on all components. But

[2021-06-16 09:39] sturlath opened #2482 "Card Background.Dark not being set"
If I set Background to Background.Dark it is just stays white. Is this a bug or just connected to styling in the abp.io framework I´m using? If so I´ll file a bug there

Here is the code I´m using with Warning that works fine

[code]

![image](https://user-images.githubusercontent.com/2386572/122195106-932b6900-ce85-11eb-9f98-d5e65e4613d0.png)

[2021-06-16 09:45] stsrki commented on #2482
It is working just fine in our demo app.

![image](https://user-images.githubusercontent.com/900302/122197213-42713b80-ce98-11eb-9a8b-8ab0bc59cbe8.png)

Maybe in ABP, there is some special CSS override for background dark? Maybe you have a dark theme so everything is reversed?

[2021-06-16 09:49] sturlath opened #2483 "Background and WhiteText properties to children element of Card?"
Is it possible to add Background and WhiteText properties to CardBody,CradHeader and CardFooter ?

At the moment Background and WhiteText only applies to CardBody so now I have to manually style to them. But then I loose control of theming.

[code]

![image](https://user-images.githubusercontent.com/2386572/122196691-fa95e880-ce86-11eb-96c1-0541f4aa39fc.png)

[2021-06-16 09:51] stsrki commented on #2483
Yes, but only in v0.9.4. Background, TextColor, TextAlignment, and many other utilities will be/are available for every component so it will be a lot easier to style your app.

[2021-06-16 09:55] #2483 closed

[2021-06-16 12:37] sturlath commented on #2482
I have gone through all the themes (lepton) and they are all like this. So I guess that there is something overriding it in ABP.

Here is one of the lighter ones Style 5.
![image](https://user-images.githubusercontent.com/2386572/122219653-2b821780-ce9f-11eb-836e-f1685545b15b.png)

[2021-06-17 13:39] #2472 closed

[2021-06-17 13:45] Enritski commented on #2462
I'm affected by this issue, too.  Are you expecting to release the fix shortly, or should I downgrade to v0.9.3.6 in the meantime?

Thanks, as always!

[2021-06-17 13:46] stsrki commented on #2462
I'm now preparing for the release.

[2021-06-17 13:50] Enritski commented on #2462
Brilliant, thank you!

[2021-06-17 13:53] #2474 closed

[2021-06-17 14:00] #2393 closed

[2021-06-17 14:07] stsrki commented on #2462
Relased!

[2021-06-17 17:32] Enritski commented on #2462
And it works brilliantly!  Thank you once again :)

[2021-06-17 19:24] davidjhurtado opened #2490 "File Edit doesn't reste file name or path"
**Describe the bug**
Whe i use a FileEdit control for upload files, it doen's reset the name or file path when the action is complete.
I turn on Autoreset but it doesn't works

**To Reproduce**
Steps to reproduce the behavior:
1. Insert an FileEdit component on a razor file.
     <FileEdit Changed="OnChangedFileEditTicket"  Multiple="false" @ref="@fileEdit" AutoReset="true"/>
2. Complete the actio

[2021-06-17 19:36] stsrki commented on #2490
@davidjhurtado What is your Blazorise version?

I'm testing on the latest v0.9.3.9 and v0.9.4-preview and it works without issues for me.

[2021-06-17 19:37] stsrki commented on #2480
@David-Moreira Can I assign this to you?

[2021-06-17 20:03] davidjhurtado commented on #2490
Version => 0.9.3-preview6

[2021-06-17 20:06] stsrki commented on #2490
Preview 6!?? That is the really old version. Any chance you could update your project to 0.9.3.x?

[2021-06-17 20:32] davidjhurtado commented on #2490
Right now i can't update...

[2021-06-17 21:15] David-Moreira commented on #2480
Sure I can take a look.

[2021-06-18 00:15] djlaney3 commented on #1946
When will we see this feature?

[2021-06-18 07:13] stsrki commented on #1946
It's scheduled for 0.9.4, so soon, in one of the next previews.

[2021-06-18 09:10] #2476 closed

[2021-06-18 09:18] #2368 closed

[2021-06-18 10:39] #1946 closed

[2021-06-18 10:40] stsrki commented on #2490
Once you update and if the error is still present please open a new ticket. I will close this now since it is working in current conditions.

[2021-06-18 10:40] #2490 closed

[2021-06-18 10:41] #2482 closed

[2021-06-18 10:42] stsrki commented on #2448
Should I close this ticket since problem is in chrome version?

[2021-06-18 10:43] stsrki commented on #2431
@David-Moreira what do you think of this?

Should we not call the `Changed` event second time once the upload is finished? Or do we just explain it better in the documentation?

[2021-06-18 16:00] David-Moreira commented on #2431
Oh,
I have used the FileEdit before also. To me it was also intriguing the `Changed` call with no files, when the upload completes.

I think that has more to do with the expected behaviour, the user expects the `Changed ` to be called when the end-user, chooses a file, and I don't think people in general expect it to automatically clear the files after it has uploaded, therefore calling the `Chang

[2021-06-18 16:07] StephenOTT opened #2496 "Buttons : Loading while async Clicked Action is running"
**Describe the solution you'd like**

When working with Buttons, a very common use case is to click the button, run some action such as call a API and get the 2xx response.  Would be great if the Clicked action could tie into Loading attribute so we do not need to manually control it.

When the Clicked Task returns a success then the loading would return to false.

[2021-06-18 16:54] stsrki commented on #2496
Did you mean this? https://blazorise.com/docs/components/button/#loading

[2021-06-18 17:03] StephenOTT commented on #2496
Yes i am talking about those buttons and that loading attribute.  To enable/disable the loading, one would need to store the state of Loading (in a boolean var) and/or store the button as a field.

Would it be possible to have the loading trigged (automatically) when calling the `Clicked` async event, and when the event completes / callback returns, `Loading` is returned to `false` ?

[2021-06-18 17:06] stsrki commented on #2496
I would say it is possible. Similar behavior is already present for the DataGrid component. Although it would be breaking change if the loading state would be controlled internally.

For now, I will schedule it for 0.9.5.

[2021-06-18 17:12] stsrki commented on #2431
@David-Moreira Exactly my thinking when I created it. We can leave `AutoReset` enabled, but we need to add a comment to the `Changed` event that it has a sideffect when it is enabled. Also, as you mentioned, better grammar is needed.

[2021-06-18 17:18] David-Moreira commented on #2431
Yea, that seems fine to me.

[2021-06-18 17:24] StephenOTT commented on #2496
Could it be a optional attribute?  `<Button LoadingOnClicked="true">` ?.

[2021-06-18 17:25] stsrki commented on #2496
Yeah, that might be good idea.

[2021-06-18 17:26] David-Moreira commented on #2479
Yea, agree with `Size.Default`. Would that not be a good replacement for the nullable? Make it be Size.Default instead? Or do you find use cases where the absence of value makes sense?

[2021-06-18 17:34] StephenOTT commented on #1573
Following up on this as I keep coming back to this feature:
Context:

**Is your feature request related to a problem? Please describe.**
I created a DataGrid (because i wanted the pager functionality, OnRead functionality, Detail Row Functions, etc, etc).
I created a custom display for the grid column where each row was a Card.

But the header row (was blank as there was no caption for the row, BU

[2021-06-19 14:38] StephenOTT opened #2498 "MS teams control library support"
Potential use case for you that could increase the popularity of blazorise:
Adding the Teams control library and css as one of the supported Libs. This would allow rapid builds of Ms Teams apps using the blazorise lib.

https://officedev.github.io/msteams-ui-components/#/

https://docs.microsoft.com/en-us/microsoftteams/platform/get-started/first-app-blazor?tabs=vs

[2021-06-19 15:05] StephenOTT opened #2499 "Refresh single data grid row?"
**Is your feature request related to a problem? Please describe.**
Is there an ability to refresh a single data grid row, without reloading the entire grid?

This would enable a user to action something (such as in the Detail Row) and it would cause a refresh of the data in the Row/one of the columns.  The change would not have an affect on the other rows, sort order, or page of the grid and thus

[2021-06-19 15:06] StephenOTT commented on #2499
(although this may lead back to #1573 type of functionality (such as performing an action on a card and only the card refreshes).

[2021-06-19 15:44] GilShalit opened #2500 "DetailRowTrigger on DataGrid is called twice on each row click"
Using the following to close a details row if the row is clicked a second time
[code]

with
[code]

Does not work.  Using debug I found that isRowAlreadySelected() is called twice on each row click, so obviously the prevSelectedRow variable is already set to the row which is newly selected on the second call, and so the result is effectively always true.

I found a way around this with an addition

[2021-06-19 17:21] stsrki commented on #2498
Doesn't seem like it is actively maintained. The last commit was a year ago.

From the technical side, it seems easy to implement. They have only some basic components so it would be pretty limited from the Blazorise side.

[2021-06-19 17:25] stsrki commented on #2499
We can do it as part of #1994

[2021-06-19 18:00] stsrki commented on #2500
I would say this is good behavior. DetailRowTrigger can be potentially called for every row in a table. That is why it has `item` as an argument. It's not just for the currently selected row.

[2021-06-19 19:25] GilShalit commented on #2500
Right.  But for some reason it seems to be called twice with the same item and selectedCourtCase because the first part of the trigger condition is met twice so that isRowAlreadySelected() is visited twice for each row click.

[2021-06-20 11:24] bodeg opened #2501 "Card: border-width"
It would be nice to have border-width attribute for the Card

With regards.

[2021-06-20 12:40] stsrki commented on #2501
Borders can be changed with our new `Border` utility in v0.9.4 (preview).

eg

`<Card Border="Border.Is1"`

or

`<Card Border="Border.Is0"`

[2021-06-20 20:13] stsrki commented on #2422
With the new API it will be possible to add an icon when the date picker is combined with the addon:

[code]

This is already working. When min/max is set, calendar will automatically disable everything else and will focus only to specified range.

[2021-06-20 20:13] #2422 closed

[2021-06-20 20:17] #2480 closed

[2021-06-21 09:11] joseazevedo opened #2504 "Possibility of waiting for a result of a Dialog"
Something like this:

async Task ShowModal()
    {
        var moviesModal = Modal.Show<Movies>("My Movies");
        var result = await moviesModal.Result;

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            Console.WriteLine("Modal was closed");
        }
    }

[2021-06-21 09:20] #1915 closed

[2021-06-21 09:23] stsrki commented on #2504
This is planned to be done in the next 0.9.4 preview. In fact, it is already working on our commercial applications and we just need to move it to public Blazorise. Just a copy/paste basically.

Closing now since it is already planned.

[2021-06-21 09:23] #2504 closed

[2021-06-21 09:29] stsrki commented on #1987
With the new set of public APIs in #2503, this feature is not needed. YOu will be able to create your command column or place command buttons wherever you want.

Closing it now.

[2021-06-21 09:29] #1987 closed

[2021-06-21 09:30] stsrki commented on #1620
Forgot to close this. It is already possible with `.Reload()` API.

eg.

`dataGridRef.Reload()`

[2021-06-21 09:30] #1620 closed

[2021-06-21 15:33] CaiusJard opened #2505 "Consider renaming DataGridColumn.Direction to "SortDirection""
While trying to set a grid so that a column was sorted by default I reasoned that the property would be on a column somewhere, but typing "Sort" in to see what intellisense would suggest brought only "Sortable" and "SortDirectionTemplate".

The property `Direction` is what I required, but I think it would be helpful to `[Obsolete]` this for a few releases and provide a mirrored property named `Sor

[2021-06-21 18:54] stsrki commented on #2505
Seems like a good idea. I'm currently working on DataGrid API so it should not be a problem.

@David-Moreira Any thoughts?

[2021-06-21 19:25] #2505 closed

[2021-06-21 19:25] #1278 closed

[2021-06-21 20:53] stsrki commented on #2505
I have made a new parameter and marked old as Obsolete. Also in the release notes, I have added a migration to a new parameter, just in case.

[2021-06-21 21:03] StephenOTT commented on #1705
@stsrki does this still work?  I am unable to reproduce in the demo.

[2021-06-21 21:05] stsrki commented on #1705
@StephenOTT It works, I have just tried the demo in Chrome and Firefox. What browser do you have?

[2021-06-21 21:09] StephenOTT commented on #1705
I am on mac and tried with https://bootstrapdemo.blazorise.com/tests/datagrid

Using CTRL plus click on a row (all options turned off on the grid) just produces the browsers context menu.

Tried with latest FF, Chrome, and Safari using OSX latest

[2021-06-21 21:12] stsrki commented on #1705
I have no idea how to reproduce it without mac...

[2021-06-21 21:14] StephenOTT commented on #1705
To confirm the functionality:

<img width="1423" alt="Screen Shot 2021-06-21 at 5 13 55 PM" src="https://user-images.githubusercontent.com/1994838/122828746-113ba580-d2b4-11eb-82aa-ffba9bdf45e7.png">

If i were to CTRL+mouse left click `Caro` in row one, the Detail Row should collapse?

[2021-06-21 21:17] stsrki commented on #1705
Yes, it should collapse if it is opened. Or open if it is already collapsed. Basically toggle open states.

[2021-06-21 21:18] StephenOTT commented on #1705
Okay yup.. does not seem to work...

[2021-06-21 21:19] stsrki commented on #1705
I can only asume on Mac ctrl key is not detected properly. Is it named diferently?

[2021-06-21 21:23] StephenOTT commented on #2500
Having similar issues: This seems to fit into the Virtualization work for the Datagrid?

[2021-06-22 09:13] CaiusJard opened #2508 "Consider adding an overload of SnackbarStack.PushAsync that accepts a MarkupString"
So that we can put styled text into a snackbarstack; at the moment we're limited to plain text

At the moment we can leverage MessageTemplate and supply a RenderFragment...

[code]

I wonder also if there's any sense in additionally providing an overload that just takes a SnackbarInfo so the calling code can provide it (I had a use case for changing its message while it was on show; if I had a ref

[2021-06-22 09:40] #2501 closed

[2021-06-22 09:55] stsrki commented on #1368
@JasonRodman

It's probably too late by now. But I think you can do this with the `ValidationSummary` component. https://blazorise.com/docs/components/validation/#validation-summary

You can inject custom messages by using the Errors parameter

[code]

[2021-06-22 09:57] stsrki commented on #555
Already done with #2293

[2021-06-22 09:57] #555 closed

[2021-06-22 09:58] JamesWinstanley270 commented on #555
body {
			margin: 0;
			padding: 0;
		}

		table,
		td,
		tr {
			vertical-align: top;
			border-collapse: collapse;
		}

		* {
			line-height: inherit;
		}

		a[x-apple-data-detectors=true] {
			color: inherit !important;
			text-decoration: none !important;
		}

		@media (max-width: 620px) {

			.block-grid,
			.col {
				min-width: 320px !important;
				max-width: 100% !important;
				display:

[2021-06-22 10:54] #1104 closed

[2021-06-22 10:59] Francescolis commented on #1368
Thank you for your answer.
ValidationSummary is not what I want to do. But I found another way to be able to do it more elegant, inspired by the code provided by Microsoft, by deriving from [DataAnnotationsValidator ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.forms.dataannotationsvalidator?view=aspnetcore-5.0) component, I can add custom errors in the context.

[2021-06-22 11:04] stsrki commented on #1368
Cool. Any chance you could share some parts of your code?

[2021-06-22 11:50] stsrki commented on #1144
With #2503 changes it will be possible to have a clear button anywhere on a page.

[2021-06-22 11:50] #1166 closed

[2021-06-22 11:55] stsrki commented on #1221
Settings the filter style work on my side

eg. `FilterRowStyling="@(new DataGridRowStyling { Style = "background-color: red;" })"`

![image](https://user-images.githubusercontent.com/900302/122920055-3df9c680-d361-11eb-8e7a-22b81a5d2d39.png)

Regarding you problem with sticky settings: `position:sticky; top: 110px; line-height:1em;padding:1;`. If I understand correctly you want to have header fixe

[2021-06-22 11:55] #1221 closed

[2021-06-22 11:56] stsrki commented on #1225
#2503 will handle this scenario. You will just call `.ClearFilter()` on the DataGrid instance.

[2021-06-22 11:56] #1225 closed

[2021-06-22 11:59] #1641 closed

[2021-06-22 12:02] Mijalski opened #2509 "Add new enums for Tooltip Placement"
Placement enum lacks some basic positions, like: TopRight, TopLeft, BottomLeft, BottomRight.

Right now tooltips on the edge of the screen with placement position top/bottom will overflow the page, like so:
![Tooltip not fitting the screen](https://user-images.githubusercontent.com/40124816/122920868-2242f000-d362-11eb-9bc3-2b201d263b71.png)
It should be possible tooltips that behave, like this:
!

[2021-06-22 12:03] stsrki commented on #1705
@StephenOTT Any chance you could clone Blazorise and debug it on Mac? In file `Blazorise.DataGrid._BaseDataGridRow` there is a `HandleSingleSelectClick` method. `eventArgs.CtrlKey` should be `true` if everything is good.

[2021-06-22 12:07] stsrki commented on #2509
In v0,9,4 we are using TippyJS as our tooltip provider. They can have many different placements according to https://atomiks.github.io/tippyjs/#placement

Since our enum `Placement` is used across many components, to be able to use new positions with tooltip we would need to introduce new enum `TooltipPlacement`. It is a small breaking change but I think it is worth it.

[2021-06-22 12:09] #1556 closed

[2021-06-22 12:13] stsrki commented on #1682
Already fixed!

[2021-06-22 12:13] #1682 closed

[2021-06-22 12:17] stsrki commented on #1816
This issue is already fixed with some changes in v0.9.4. Closing now.

[2021-06-22 12:17] #1816 closed

[2021-06-22 12:18] stsrki commented on #1827
Custom actions will be possible with changes introduced in #2503

[2021-06-22 12:18] #1827 closed

[2021-06-22 12:19] stsrki commented on #1938
@David-Moreira Can we close this ticket?

[2021-06-22 12:20] stsrki commented on #2254
Closing now since we're unable to reproduce it.

[2021-06-22 12:20] #2254 closed

[2021-06-22 12:22] #2348 closed

[2021-06-22 13:00] Francescolis commented on #1368
Of course! That's why we're here.

[code]

[IOperationResult](https://github.com/Francescolis/Xpandables.Net/blob/Net5.0/Xpandables.Net/OperationResults/IOperationResult.cs) represents the status of an operation. The result contains "Succeeded" and "Failed" which determines operation exit state, "StatusCode" that returns the HTTP status code and "Errors" which shows errors for failing operation ex

[2021-06-22 14:18] StephenOTT commented on #1705
Similar scenarios: https://stackoverflow.com/questions/45438932/ho-do-i-capture-ctrl-click-on-macos-with-d3js

Using the "Command" button: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/metaKey

[2021-06-22 15:18] stsrki commented on #1705
How it is usually done on Mac? The select and deselect of items..

[2021-06-22 15:22] StephenOTT commented on #1705
I have seen a mix of usage.  But If you follow close to how windows works: example: CTRL+W is close tab in a browser.  The Mac equiv is Command+W (MetaKey+W)

[2021-06-22 17:31] David-Moreira commented on #1938
I don't see why not. If there was an issue here, we would have more complaints already. 😆

[2021-06-22 18:08] #1938 closed

[2021-06-23 10:14] popcatalin81 opened #2512 "Boostrap 5 Support"
Would be great to have support for Boostsrap 5

Bootstrap 5 has a series of advantages over Bootstrap 4 that makes it more suitable for Blazor and WebAssembly:

- Vanilla JavaScript instead of jQuery
- IE 10 and 11 support removed which greatly simplifies the framework code making it easier to maintain and more powerfull.
- Expanded color palette ($blue-100, $blue-200, $blue-300, etc)
- All new co

[2021-06-23 10:18] stsrki commented on #2512
Yes, we already have plans for Bootstrap 5: #1103

I would say it will be for v0.9.5 or straight for v1.0 of Blazorise.

Closing now since we already have a tracking ticket.

[2021-06-23 10:18] #2512 closed

[2021-06-23 12:31] Kylar182 opened #2513 "Chart Font Options"
**Is your feature request related to a problem? Please describe.**
Chart options are not available for Fonts see [ChartJS Fonts](https://www.chartjs.org/docs/latest/general/fonts.html)

**Describe the solution you'd like**
Implement Options with default values

### Additional context
The current font seems Tiny and barely readable

[2021-06-23 12:32] Xeevis opened #2514 "Unify Tooltip and Dropdown positioning provider"
0.9.4 now uses [Tippy.js](https://atomiks.github.io/tippyjs/) as internal provider for Tooltip which solved lots of problems with positioning and overflow https://github.com/Megabit/Blazorise/pull/2112,

Same would be great for dropdowns since the functionality (and the associated problems) are exactly the same, only difference between the two on the tippy's side are styling and trigger properties

[2021-06-23 12:56] stsrki commented on #2514
I don't think it is a good idea. The `Dropdown` should use the native provider DOM structure and class names(Bootstrap, Bulma, etc.)

[2021-06-23 14:29] Xeevis commented on #2514
Looking at dropdown classes for Bootstrap and Bulma and they don't appear to require nested structure of classes? Tippy grabs the dropdown menu as it is with existing classes and just positions it (also adds it's own wrapper). It doesn't appear to break any functionality either, Blazor still seems to keep track of all the elements in there, as seen in the following video where I've achieved Tippy

[2021-06-23 14:30] stsrki commented on #2514
Hmm, interesting. I will need to investigate more. Good job.

[2021-06-24 06:54] jerpic opened #2515 "Question : Tooltip customization"
Hello,

I have two questions about the Tooltip component.

1. Is there a way to customize its appearance like the font size, background color, color etc... ?
2. Currently, the Tooltip displays a text, is it possible to display HTML?

Best Regards,
Jérôme.

[2021-06-24 06:58] stsrki commented on #2515
It will be possible in v0.9.4. The new Tooltip will be backed by TippyJS and they have support for HTML content https://atomiks.github.io/tippyjs/#html-content

As for font and color options. Currently there is not much customization.

[2021-06-24 09:26] stsrki commented on #1237
Validation is handled by the DataGrid internally. You should only need to remove the `Validations` tag from EditTemplate.

We're currently DataGrid validations and if any problem still occurs after we release v0.9.4 please reopen.

[2021-06-24 09:26] #1237 closed

[2021-06-24 10:53] stsrki commented on #2313
@David-Moreira We should do this as soon as possible. I think with this feature there will be no reason to have `blazorise.datagrid.js` or `blazorise.datagrid.css` files.

[2021-06-24 11:49] David-Moreira commented on #2313
Ya. Although Js will be needed for virtualize at the moment. But virtualize still needs work so for the time being we can move the feature to the table and remove the files, yes.

[2021-06-24 12:08] jerpic commented on #2515
Thanks for your answer, it's a good news!

Do you know when the v0.9.4 will be released?

Best Regards,
Jérôme.

[2021-06-24 12:09] stsrki commented on #2515
Probably middle of July.

[2021-06-24 12:22] #2509 closed

[2021-06-24 12:36] #2508 closed

[2021-06-24 14:38] GilShalit commented on #1381
Hey, Virtualization of the Select component will be a huge help too, and maybe easier then that of the Datagrid...

[2021-06-24 14:40] stsrki commented on #1381
@GilShalit I agreed it is a much easier implementation. What version of Select? Single or multiple, or both?

[2021-06-24 14:47] GilShalit commented on #1381
Single will be fine!

[2021-06-24 15:14] GilShalit commented on #1705
I can confirm this is working fine on Windows

[2021-06-24 16:18] jerpic commented on #2515
Ok Good, thanks!

[2021-06-24 16:18] #2515 closed

[2021-06-24 16:37] Luk164 commented on #1381
Actually I would like both to use virtualize. @stsrki Do you think it is going to be a problem? I thought it can be implemented simultaneously but I am not too experienced with it.

[2021-06-24 17:31] CaptainStealthy commented on #2415
Found this after discovering #841 and the `RichTextEdit` component.

For my purposes, RichTextEdit and storing the HTML output should work fine, but I was initially hoping to find a Markdown editor, so I'm definitely upvoting and subscribing to this for future updates!

I could also just manually implement something like EasyMDE or SimpleMDE, but I'm already using Blazorise, so I'd much rather mak

[2021-06-24 18:22] stsrki commented on #1381
Not sure. I must first investigate. Virtualize injects custom `div` at the beginning and end of the container element. So I need to see is it going to affect `<select>` if `div`s are placed inside of it.

[2021-06-24 18:24] stsrki commented on #2415
I have already implemented https://github.com/Ionaru/easy-markdown-editor for our proprietary project. Soon I will release it as part of Blazorise after I clean some things so it is ready for public usage.

[2021-06-24 18:24] stsrki commented on #2415
PS. see it in action https://support.blazorise.com/

[2021-06-24 18:48] David-Moreira commented on #1381
If blazorise is using select behind the covers I don't think it will be compatible it would need a custom div implementation. I could potentially take a look at this one if you'd like.

[2021-06-24 20:35] stsrki commented on #1381
And also AntDesign has its own weird implementation of the select component. @David-Moreira have a quick look but don't work too much if it's going to be difficult. We might move it for 0.9.5.

[2021-06-24 21:29] stsrki commented on #2287
Working on this now. Should I make modifications only for Pie chart?

[2021-06-24 23:18] David-Moreira commented on #1705
@StephenOTT I honestly don't know MAC very well.. But do you not have this corresponding key?
Not the Command, but the Control.
![image](https://user-images.githubusercontent.com/22283161/123343970-c091aa00-d54a-11eb-8b7e-4fdf14cf9e79.png)

[2021-06-25 06:25] CaptainStealthy commented on #2415
That would be great! I'll try to hold off until you do that, then!

Thanks!

[2021-06-25 11:20] naefp commented on #2287
Not sure, I did not use every chart type yet. So far, I only missed the dataset label on pie chart...

[2021-06-26 09:39] David-Moreira opened #2524 "Minify support + bundling"
Related #1910

Implement minifying support, meaning there should be resources both available in the normal version and in the minified version. *.min.css | *.min.js

Separate js from one big file to a more modular approach and just bundle them all back into blazorise.js / blazorise.min.js in the end.

[2021-06-26 09:40] David-Moreira commented on #2524
@stsrki agree with the feature?
Is it okay that I grab this one eventually? I think we could do it for 0.9.4.

[2021-06-26 11:16] stsrki commented on #2524
I have assigned it for you. Do it only after we clear all other issues in 0.9.4 and if we have enough time left.

[2021-06-26 13:06] #1634 closed

[2021-06-26 15:28] David-Moreira commented on #1381
News about Select + Virtualize.
Would need a custom div implementation.
Refer to Blazor issue: https://github.com/dotnet/aspnetcore/issues/29087

As for handling a data source you can already use the DropdownList provided by Blazorise.
A suggestion for this same Dropdownlist could be:
- An API to handle scrolling to obtain more records externally. Which I would say it would not require Virtualize.

[2021-06-26 16:04] David-Moreira commented on #561
@stsrki can I take a look at this one? Assign if so.

[2021-06-26 16:06] David-Moreira commented on #1615
@stsrki / @MitchellNZ Can I take a look at this one?

[2021-06-26 18:33] David-Moreira commented on #2444
Hello @angelru,
Sorry for the late reply. From looking at your code,
I can notice that :
- the field bound to the Column is the `IdCategoria`.
- the field you are displaying to the user is the Field: `NombreCategoria`.
- the field that you will update from the `select `selection is the `IdCategoria` not the `NombreCategoria` which means `NombreCategoria ` will remain unchanged unless you refresh y

[2021-06-26 18:36] David-Moreira commented on #2500
The detail row should close with Ctrl+click, have you guys tried that? Or does that not satisfy your use case?

[2021-06-26 18:52] David-Moreira commented on #2376
@jpacreb Would it be too troublesome to request a repo with the problem so we can reproduce on our end and figure out the culprit? :)

[2021-06-26 20:25] stsrki commented on #1381
We can also try to make the same for Autocomplete. Both components are similar in terms of using dropdown internally.

[2021-06-26 20:26] stsrki commented on #561
@David-Moreira assigned!

[2021-06-26 20:28] stsrki commented on #1615
@David-Moreira Fine by me. If I happen to start before you I will let you know.

[2021-06-26 20:52] stsrki commented on #1994
We've dome almost all except for

considering we're limited with time we will move to the next milestone.

[2021-06-27 00:02] David-Moreira commented on #2313
@stsrki can we create a new feature issue to handle this "nice to have" in the future:

And could you leave it allocated to me, for a future milestone.
Also, do we have any internal apis for handling local storage?

[2021-06-27 00:38] David-Moreira commented on #561
Version of the Blazorise on the repo provided is 0.8.8.2.
Component used: `SelectEdit`
The problem is not with the Datagrid itself, but with Select component not supporting complex objects binding.
This would be the temporary fix for you, while keeping the complex object bound to the Column. I know it isn't pretty, but what matters is that it works! Let me know if this helps...
[code]

@stsrki we'

[2021-06-27 07:48] bodeg opened #2526 "Allow Null Value in SelectList"
Is it possible to allow the user to select Null Value in SelectList?
same for Select

With regards, alon.

[2021-06-27 08:48] GilShalit commented on #2500
Yes it works with Ctrl+Click, but this does not seem as intuitive as simply have the second click close an opened row.  How do I know it is not intuitive? EVERY new user asks me why isn't the second click closing the opened row...

[2021-06-27 09:11] David-Moreira commented on #2526
Hello @bodeg(alon),
depends on how you want to use it, as long as you use it, similar to this, it this should work just fine:

[code]

**[Image: SelectedValueChanged - Null Handling]**
![image](https://user-images.githubusercontent.com/22283161/123539084-e2985180-d72f-11eb-965a-887b116fac85.png)

[2021-06-27 09:12] angelru commented on #2444
@David-Moreira  Yes, everything you just said is correct. I understand that I must change the approach.

[2021-06-27 09:29] David-Moreira commented on #2499
I'd like to work on this one. But I'm not even sure what is exactly intended? Can you guys elaborate a bit?

**What I imagine :** To refresh a single data grid row, I would imagine that technically, you'd have to provide the following:
- `RefreshRow(TItem Item)`, so you can programatically trigger the row you would like to refresh
- `Action<Item> OnRowRefresh`, so you can manipulate and refresh th

[2021-06-27 09:38] David-Moreira commented on #1615
Oh this might be fixed on the latest version.
I have tested it on my mobile, and on desktop, I am unable to reproduce.

@JaredMRomano could you take a look at https://bootstrapdemo.blazorise.com/ and see if this still happens?
@stsrki in case @JaredMRomano is unable to provide feedback, do you remember how you had reproduced this bug at the time? Can you also attempt to reproduce it on latest vers

[2021-06-27 10:33] stsrki opened #2527 "Save DataGrid columns positions and sizes"
@stsrki can we create a new feature issue to handle this "nice to have" in the future:

And could you leave it allocated to me, for a future milestone.
Also, do we have any internal apis for handling local storage?

_Originally posted by @David-Moreira in https://github.com/Megabit/Blazorise/issues/2313#issuecomment-869076086_

[2021-06-27 10:36] stsrki commented on #2313
@David-Moreira Assigned to you in the new ticket.

---

Regarding the local storage API. I didn't think of it before. So far I always used _Blazored/LocalStorage_ from Chris Sainty. But if it makes sense we can try to create our own if it's worth it. If you think, I can open a new ticket.

[2021-06-27 10:36] #2313 closed

[2021-06-27 10:41] stsrki commented on #561
I don't want to handle hash tables internally for select options. What if people would want to use JavaScript to read the real value of the select option? That would be impossible if some internal key is used.

Usually, I've seen that people recommend using [TypeConverterAttribute ](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.typeconverterattribute?view=netstandard-2.1) for c

[2021-06-27 10:48] stsrki commented on #2526
You can safely use null values, as long you **don't assign** display name for the null option. It is a limitation in Blazor and how the browsers work in general. We already had similar requests but we don't want to stray too much from default `<select>` element behavior, even if it's _wrong_.

---

What I did in my own projects to handle `null`, instead of null I assign it some **dummy** value, li

[2021-06-27 10:49] stsrki commented on #2500
@David-Moreira do you think we should change the toggle with a click instead of ctrl+click?

[2021-06-27 10:50] stsrki commented on #2444
@angelru can we close this ticket?

[2021-06-27 10:53] stsrki commented on #2499
I've been thinking about this and I don't see an easy way to refresh just a single row. We would have to have a dictionary of items internally to be able to detect the row by some hash key. It would require major refactoring.

And I don't think it is worth it. From what I can see, simply calling StateHasChanged on a page would refresh the grid if the item has changed.

[2021-06-27 10:56] stsrki commented on #1615
I remember it was not working in one of my projects and then I might have fixed it. I cannot reproduce it now. Might be safe to close this ticket?

[2021-06-27 11:23] #2444 closed

[2021-06-27 11:26] David-Moreira commented on #2313
@stsrki yea I have also used his. However, if we are going to be needing to access localStorage and create internal APIs for that, might as well make a Blazorise LocalStorage Component for that. Which can also be a new feature issue, which the new ticket you've just assigned to me will depend upon.

[2021-06-27 11:33] David-Moreira commented on #561
- Could also make it so, reference types are restricted to a certain interface, where they would have to provide their unique hash mechanism. So they would be aware of it.

- I see, I've never used this TypeConverter before, but the idea here, is about the same above, right? Make the user provide the hashing mechanism?

I could also potentially take a look at this. But it seems you already have so

[2021-06-27 11:45] David-Moreira commented on #2500
Well, @GilShalit does have a point. I would say most users, would just expect to just click back again and it would collapse the `DetailRowTrigger` .
However the reason why Ctrl+Click works, is because it will unselect the row, therefore the `DetailRowTrigger Func` will not evaluate to true anymore.

I think it's feasible.
At the moment `DetailRowTrigger` is evaluated on a per blazor state update

[2021-06-27 11:50] David-Moreira commented on #1615
Seems like it.
Let's wait for a few days for OP to confirm. Otherwise we'll close on milestone completion.

[2021-06-27 12:56] mpmfrans commented on #313
Hi there! I started using Blazorise.Charts this week and I really appreciate the work you have done. A lot is possible and the way of setting up the charts is very clear. The only thing missing is customizing tooltips. Is there any progress on the tooltip callback so we can modify the tooltip and its return value? I would really appreciate any help because for me thats the final piece missing. You

[2021-06-27 13:03] andrewwilkin commented on #313
The challenge as I recall (which motivated me to switch to a commercial offering) was that there was no simple way of having a callback that ChartJS does not work with promises.

If you're prepared to go with synchronous callbacks you probably could get this working with interop:
https://github.com/mariusmuntean/ChartJs.Blazor/issues/90

[2021-06-27 14:08] Luk164 opened #2528 "Tag autocomplete"
**Is your feature request related to a problem? Please describe.**
I created a simple tag autocomplete, with a few changes (read: ugly AF) it should be possible to add this as another component.

### Additional context
Here is the current code. AllTags is the list of all tags to be shown, Selected tags is the list to which the tags will be added upon user selection. Tag object will have to be repl

[2021-06-27 15:29] stsrki commented on #2528
It looks OK but a real tag component should have tags inside of the input with the part for writing new values constantly moving when new tags are added. It can become problematic real soon. Not to mention when we try to implement Bulma, or AntDesign. It would require a lot of custom CSS.

---

What I had in mind instead is to add support for some other third-party JS library with tag support. Lik

[2021-06-27 15:41] stsrki commented on #2500
@David-Moreira I didn't try it but multi-select might be problematic indeed.

I will assign it to you. Also, I have placed in the new **Last Minute** milestone. It means, in case we got enough time before the 0.9.4 release you can try to do it.

[2021-06-27 16:48] stsrki commented on #313
I'm experimenting with serializing of custom JS function and early tests look promising. Nothing is for sure but if it keeps working I might add a function callback in the 0.9.5 version.

[2021-06-27 19:04] Luk164 commented on #2528
@stsrki Seems good as well, I just wanted to avoid JS and this was the simplest way to do it. Also why would custom CSS be needed? Everything uses pre-existing blazorise components, so I do not see where it would be needed.

[2021-06-27 21:21] stsrki commented on #2528
Because in your example Badges(or Tags) are placed above the Autocomplete instead of inside. It's not a standard way of doing tags component.

[2021-06-27 21:53] Luk164 commented on #2528
@stsrki So how would you like to proceed?

[2021-06-28 07:35] stsrki commented on #2528
@Luk164 I will need to investigate what is the best way to proceed.

BTW, I have modified your example and was able to quickly create real working tag input.

**Code:**

[code]

[code]

**Result**

![image](https://user-images.githubusercontent.com/900302/123597761-058c3980-d7f4-11eb-8d6e-1ca46c33cb1b.png)

[2021-06-28 07:39] Luk164 commented on #2528
@stsrki Nice, but I would also add generic support and an accessor for the string

[2021-06-28 07:40] stsrki commented on #2528
This was just a quick demonstration. I'm sure real TagEdit it would be much better.

[2021-06-28 07:41] jpacreb commented on #2376
Hi David,

Thanks for contacting me about this.
I should be able to put a minimal repo together, but it will be few days before I have time to look at it.

Regards

Richard Brodie
0420 959 782
This email and any attachments are proprietary and confidential and are intended solely for the use of the individual to whom it is addressed. Any views or opinions expressed are solely those of the author a

[2021-06-28 07:50] Luk164 commented on #2528
@stsrki Ok, looking forward to seeing it in all of its glory

[2021-06-28 10:23] #1994 closed

[2021-06-28 10:37] mpmfrans commented on #313
@stsrki Thank you for the effort! If custom tooltips are possible I would be very happy! Love blazorise.

I recall:
Use JavaScript (interop) for the custom tooltip callback because Callbacks with return value are not supported on server-side blazor (as far as I understand you're using Server-side).

Any examples? I don't know how to do this and how to pass data to the Javascript?

[2021-06-28 13:30] christophwille opened #2531 "DataGrid.RowSelectable not firing when clicking the DataGridMultiSelectColumn checkbox directly"
I have a DataGrid defined with RowSelectable. The event fires fine when I click somewhere on the row, however, when directly clicking the checkbox it doesn't fire.

I am using the bog-standard DataGridMultiSelectColumn:

`<DataGridMultiSelectColumn TItem="FileInfoShortened" Width="30px"></DataGridMultiSelectColumn>`

[2021-06-28 14:35] JaredMRomano commented on #1615
Everything is working on the demo and I checked my application which was updated to 0.9.3.5 in April, and it is also working.

[2021-06-28 14:44] stsrki commented on #1615
@JaredMRomano Thank you for giving feedback. Since it is working I will close the ticket.

[2021-06-28 14:44] #1615 closed

[2021-06-28 18:18] #1745 closed

[2021-06-28 18:37] David-Moreira opened #2532 "Datagrid : ToggleDetailRow : Public Api Feature"
@David-Moreira I will merge this now.

Don't make it a priority, but in case you got any time to work on the public ToggleDetailRow method do it.

[2021-06-28 20:27] David-Moreira commented on #2531
This behaviour is fixed with version 0.9.4 which is now in preview.
With the introdution of ShiftClick support to select multiple rows, the feature was slightly reworked, to be closer to how regular click works. PR #2151

However I do think it's worth fixing this behaviour on 0.9.3. I also found out that using the checkbox to Select All Rows also does not honor this behaviour.
@stsrki will most li

[2021-06-29 07:34] #2531 closed

[2021-06-29 07:48] #1611 closed

[2021-06-29 08:56] GilShalit opened #2537 "Modal not Modal"
V 0.9.3.9

Using the sample in the Modal documentation, clicking the button opens a Modal dialog.  But while the dialog is still open, if I click on the page behind it becomes active and I can interact with it while the dialog is hidden behind.  For example, I can click menu items in a shared MainLayout.razor.

Is that the expected behavior?

[code]

[2021-06-29 08:56] #1842 closed

[2021-06-29 08:58] stsrki commented on #2537
You don't get the modal backdrop when the modal is opened?

[2021-06-29 09:00] stsrki commented on #2537
Maybe you're missing some CSS or JS files. Can you post the content of `index.html` or `_Host.cshtml` files?

[2021-06-29 09:05] MaddoScientisto opened #2539 "Settings ProgressBar Max doesn't do anything"
**Describe the bug**
Changing the Max value in a ProgressBar doesn't update the max value at all, it stays stuck to the default of 100

**To Reproduce**
Use following code
[code]
press the button a few times

see how the max value value of the progress bar is clearly not 20 but still 100

**Expected behavior**
I expected the bar to get filled when the value reaches 20 and to be proportionally fill

[2021-06-29 09:11] GilShalit commented on #2537
What do you mean by backdrop?

[code]

[2021-06-29 09:33] stsrki commented on #2537
Backdrop is grey area around the modal

![image](https://user-images.githubusercontent.com/900302/123774605-da761880-d8cd-11eb-89f6-fcbcdd368dc8.png)

[2021-06-29 09:37] GilShalit commented on #2537
It becomes gray but is clickable, even while dialog is open.

[2021-06-29 09:37] stsrki commented on #2537
You have duplicate bootstreap CSS. Also, reorder other like I noted

[code]

[2021-06-29 09:39] stsrki commented on #2537
PS. It's best to update to latest bootstrap 4.6.x. I had some problems with 4.5.0 CDN

https://getbootstrap.com/docs/4.6/getting-started/introduction/

[2021-06-29 09:46] stsrki commented on #2539
Seems to be working in 0.9.4

![image](https://user-images.githubusercontent.com/900302/123775975-22e20600-d8cf-11eb-8b65-326fe6abae28.png)

I have done some major refactorings on the `Progress` bar in the 0.9.4 branch. Not sure if it can be done on 0.9.3x since some breaking change might be possible.

If waiting is the problem for you, the new version will be released in mid July. In the meantime

[2021-06-29 10:24] #2316 closed

[2021-06-29 11:13] GilShalit commented on #2537
I have
- made the changes above
- updated to 4.6
- cleared the cache

And still I get a dark backdrop but I can click it and have the dialog go to the back and the main page becomes active.

I take it you cannot reproduce?

[2021-06-29 11:14] stsrki commented on #2537
No, everything works as expected on my side. Can you take the screenshot of your modal dialog?

[2021-06-29 11:23] GilShalit commented on #2537
![image](https://user-images.githubusercontent.com/34002589/123789101-752e2180-d8e5-11eb-95b8-de1ec7fb8fbd.png)

[2021-06-29 11:34] stsrki commented on #2537
Looks good to me.

I re-read your message and I'm not sure what you meant with

---

When you click on the backdrop, the dialog will close, but it will still stay in the DOM. That is by design. If you want to prevent closing of modal you can use the `Closing` event, eg. https://blazorise.com/docs/components/modal/#closing

[2021-06-29 11:47] GilShalit commented on #2537
Isn't a modal dialog supposed to prevent the main page from being interactive while it is open?

I did ask if that is the expected behavior :-)

Will try the ```Closing``` event

[2021-06-29 11:55] stsrki commented on #2537
Yeah, it shouldn't be able to interact with the main page.

But it's hard to tell what is wrong unless I can reproduce it on my side.

[2021-06-29 11:59] David-Moreira commented on #2537
@GilShalit would you be so kind as to set up a repository with the problem, so we can replicate / test ourselves? :)

[2021-06-29 13:00] GilShalit commented on #2537
Will do

[2021-06-29 13:23] stsrki commented on #2138
To fix this, we would have to create a completely new way of tracking closable components in the order of the opening, and according to their scope(one closable inside of another closable, etc.)

Considering we're almost at the end of the 0.9.4 milestone we will probably move it to the next milestone until we figure the best way to progress.

@David-Moreira Maybe we can talk about this for future

[2021-06-29 21:31] MaddoScientisto commented on #2539
that's great news!
does databinding work with it? I barely mentioned it in my example but that's my use case.
Does the max value work correctly when changed by binding too?

[2021-06-30 06:59] bodeg opened #2543 "Steps with long titles"
Long titles of steps may be broken in the middle of the word, and aligned to the left.
In my case, I have 8 steps, and an example for a long title is "Post Processing".

I solved it by:

`.step-text {
            /*word-break: break-word;*/
            word-break: keep-all;
            text-align: center;
        }`

![2021-06-30_9-53-20](https://user-images.githubusercontent.com/1940943/123916750

[2021-06-30 07:21] bodeg commented on #2526
Thanks for your reply - I fine with the suggested implementation.

When I opened the issue, I was thinking of something more "friendly", like the small 'x' in the Autocomplete

![2021-06-30_10-19-37](https://user-images.githubusercontent.com/1940943/123918727-d3620f80-d98c-11eb-8851-a531bb8a4d70.png)

[2021-06-30 07:21] #2526 closed

[2021-06-30 07:32] stsrki commented on #2526
Autocomplete is a different control because it has a search field that you can clear, that's why a clear icon makes sense. Select on the other hand can have multiple meanings for the "null" value. It can be `null`, `0`, `empty`, whatever the user can define for their projects.

Also, you can make something similar by using addons

[code]

[2021-06-30 08:59] stsrki commented on #2287
Not sure if I'm missing something? But for me, the labels are working just fine for Pie chart

![image](https://user-images.githubusercontent.com/900302/123932980-3efaab80-d992-11eb-8bd5-133b1995ccf3.png)

[2021-06-30 10:09] naefp commented on #2287
@stsrki that's correct, the labels of each entry are displayed correctly, but not the label of the dataset.

Each circle in the pie chart represents a dataset and the tooltip should be able to show the dataset label as well. Example here: https://stackoverflow.com/a/45184272

To be able to do that we need to change the tooltip callback for the label, and right now this is not possible with the Bla

[2021-06-30 12:45] kwackerz opened #2545 "datagrid column width"
Hi,

I cannot get columns to change width. I set width="300px" on the column but they are all equal size.
I have  set responsive="true" on the grid as someone else mentioned, but it makes no difference.

Any ideas what i am doing wrong?

[2021-06-30 13:31] #1283 closed

[2021-06-30 13:32] johnnyleroux opened #2547 "BarThickness and MaxBarThickness"
I cannot seem to get BarThickness or MaxBarThickness to work

I specify it like this:

[code]

Stacking works correctly, so the options are being applied. I've tried with various values for BarThickness and MaxBarThickness (separately) and nothing seems to make a difference.

[2021-06-30 18:25] David-Moreira commented on #2545
Hello @kwackerz
I just tried setting it on Blazorise v0.9.4 and it is working. You should set it using the DatagridColumn Parameter `Width`, with capital W : `Width="300px"`

If you're still having difficulties making it work, please let us know which version are you using. Also we can troubleshoot faster, if you provide a repository showcasing the problem.

![image](https://user-images.githubuser

[2021-07-01 06:19] kwackerz commented on #2545
I have tried it again this morning and it works. I think maybe the reboot sorted it out.
Thanks!

[2021-07-01 06:19] #2545 closed

[2021-07-01 07:55] christophwille opened #2549 "DataGrid Selection Behavior on Switching Single / Multiple"
I made a little recording, for repro (using https://bootstrapdemo.blazorise.com/tests/datagrid):

* In single mode, select an item
* Switch to multiple; it seems that the selection carried over.
* Click on any other item - you now see that the selected item wasn't actually selected because now only the newly selected item is so.

The bound data is ok, but the UI doesn't seem to catch on.

![Animat

[2021-07-01 08:32] CaiusJard opened #2550 "Add <EmptyFilterTemplate> to datagrid"
The template is used when the current filtering excludes all rows in the model. Currently, EmptyTemplate is only used when the model has no data; it isn't used when all of it is filtered out

[2021-07-01 09:49] stsrki opened #2551 "Refactor closable components"
Affected components

- Modal
- Dropdown
- BarDropdown
- Select (AntDesign)

Currently, all our closable components are tracked using the JS once they are in an `open` state. The component will close if it loses focus or the user press `Escape` key. What is problematic is how we detect lost focus. We do it by checking elementId, from the opened component and the one we clicked on. With this, it is

[2021-07-01 10:03] stsrki commented on #2551
@David-Moreira any help or suggestion regarding this problem is welcome. I have tried looking at other projects and guys at BlazorStrap have an interesting approach for toggleable components.

[2021-07-01 12:08] christophwille opened #2553 "DataGridMultiSelectColumn & Filtering Misbehavior"
I had my multi select column defined this way (you know, for good measure add everything to it):

`<DataGridMultiSelectColumn TItem="MyClass" Width="30px" Editable="false" Sortable="false" Filterable="false" />`

The column was followed by a simple column ("Name") that has sorting and filtering enabled, however, I got the following result:

![image](https://user-images.githubusercontent.com/344208

[2021-07-01 14:32] Smurf-IV opened #2554 "Setting `Readonly` in `RichTextEdit`, now causes an exception to be raised"
**Describe the bug**
As above

**To Reproduce**
Using the following code
[code]
Raises the following exception stack
![image](https://user-images.githubusercontent.com/2418812/124141476-5c5a7300-da81-11eb-8cbb-09141d44bcc5.png)

**Expected behavior**
For it to work like it did before (`<PackageReference Include="Blazorise.RichTextEdit" Version="0.9.3.6" />`)

**Additional context**
.Net 5
IIS Host

[2021-07-01 16:46] sks-ttaylor opened #2556 "v0.9.3.9 - DataGrid - OnClearFilterCommand function does not clear partial dates of DataGridDateColumn with FilterTemplate containing DateTimeEdit component"
**Describe the bug**
DataGrid -  OnClearFilterCommand function does not clear partial dates of DataGridDateColumn with FilterTemplate containing DateEdit component

**To Reproduce**
Setup
DataGrid with ButtonRowTemplate containing a Button when clicked calls context.ClearFilterCommand.Clicked
a DataGridDateColumn with a FilterTemplate which contains a DateEdit component

Actions:
Enter a partial d

[2021-07-01 18:44] David-Moreira commented on #2553
Hello @christophwille
The DataGridMultiSelectColumn is a column that is to be used together with the DataGridSelectionMode.Multiple functionality. If you set your Datagrid to Multiple selection, the problem should be gone.
However there should not be an issue in maintaining Filterable set to true, as that column does not render any filter content by default, only the FilterContent if you have set

[2021-07-01 19:08] David-Moreira commented on #2550
@stsrki seems like a simple good feature? Should we do for 0.9.4?

[2021-07-01 19:57] stsrki commented on #2556
I don't think there is much we can do. Partial dates are controlled by the browser. Once it is fully written it will trigger the `onchange` event and Blazorise will receive the value. Until then, in terms of Blazorise, nothing exists.

[2021-07-01 20:01] stsrki commented on #2550
I placed it on Last Minute. First focus on finishing the remaining tasks so that we have enough time.

[2021-07-01 20:30] #2553 closed

[2021-07-01 20:53] sks-ttaylor commented on #2556
Thank you for clarifying this issue.

Do you think setting a dummy value (datetime.minvalue) then setting it back to null would clear the partial value?

On Jul 1, 2021 2:58 PM, Mladen Macanović ***@***.***> wrote:

I don't think there is much we can do. Partial dates are controlled by the browser. Once it is fully written it will trigger the onchange event and Blazorise will receive the value. Un

[2021-07-02 06:11] stsrki commented on #2556
In theory yes. But the problem is, Blazor(ise) works declaratively. Meaning, a value needs to go through the parameter. Then the component would need to rerender, to activate internal logic. Then to clear it, it would need to repeat the same. It would be a really dirty hack.

[2021-07-02 08:51] #2556 closed

[2021-07-02 10:35] stsrki opened #2562 "Add support for .Net 6"

[2021-07-02 12:44] #2562 closed

[2021-07-02 13:28] #2415 closed

[2021-07-02 14:05] stsrki commented on #2287
I was able to do it the same as for all other charts

![image](https://user-images.githubusercontent.com/900302/124286455-431ff800-db4f-11eb-9a29-fbe02ab92137.png)

[code]

Is this OK?

[2021-07-02 14:08] David-Moreira commented on #2551
No opinion yet. I'll have to take a look at the current implementation. Assigning to myself just so I can keep track/remember to give feedback.

[2021-07-02 14:43] #333 closed

[2021-07-02 14:43] #629 closed

[2021-07-02 18:48] naefp commented on #2287
This is much better already. But in my opinion the title and label should be switched...
[code]

As I can see, i.e. in the barchart it is done this way.

[2021-07-02 22:12] David-Moreira opened #2564 "Dropdown menu goes behind div content : Bulma"
Dropdown menu goes behind div content : Bulma
Noticed this while testing the new auto complete features. Possibly z-index or some other css adjustment.
![image](https://user-images.githubusercontent.com/22283161/124332936-b2ffa400-db8a-11eb-9ed5-aafa8b2eec53.png)

[2021-07-02 23:38] David-Moreira commented on #2528
This might just straight up be Multiselection support on AutoComplete instead of a new component? @stsrki ?
I had it on #2548 list of improvements, but I dropped it when I read this issue.
Similar to how select2.js does it:
![image](https://user-images.githubusercontent.com/22283161/124336623-9ec1a400-db96-11eb-96c6-51004eb7108b.png)

[2021-07-03 08:22] David-Moreira commented on #1381
Might be worth taking a look into, Variable height with React's Virtualize: https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/variablerowheights

[2021-07-03 11:19] stsrki commented on #2564
Yeah, I noticed the same but was never able to fix it.

[2021-07-03 11:33] #2549 closed

[2021-07-03 11:50] stsrki commented on #2528
We might give it a go.

[2021-07-03 12:19] stsrki commented on #2287
Unfortunately, it doesn't work in that case. With my changes, as far as I can see it looks and behave the same as all other charts.

**Pie**

![image](https://user-images.githubusercontent.com/900302/124353877-7921b280-dc09-11eb-973d-60ae21301ebb.png)

**Line**

![image](https://user-images.githubusercontent.com/900302/124353922-acfcd800-dc09-11eb-9625-c2c10fdb64a6.png)

**Bar**

![image](https://

[2021-07-03 12:56] #2287 closed

[2021-07-03 12:56] #1014 closed

[2021-07-03 12:56] #2513 closed

[2021-07-03 12:56] #1067 closed

[2021-07-03 12:56] #1428 closed

[2021-07-03 12:58] #2294 closed

[2021-07-03 13:15] naefp commented on #2287
Should be fine. Anyway, I will be happy to have the dataset label available! Thank you for implementing that! :sunglasses:

[2021-07-03 16:27] David-Moreira commented on #2551
Hello,
I just took a brief look at #2138
I see you straight up just bind the key up event listener to the document. Would it be different to bind to the closeable component instead?

Also, the event, despite bubbling from children, does bring the source element that called it. Would that not be a way to handle this? Make sure the src element is the closeable element?

**AutoComplete:**
![image](ht

[2021-07-03 16:30] stsrki commented on #2551
Yeah, dependencies are the real problem. For modal for example a dependency is the backdrop. For dropdown, it can a menu or a toggle button. And if we have nested dropdown menus it can easily get complicated.

[2021-07-04 09:34] ParsaGachkar commented on #825
Wow looks awesome. is there a timeline? I'm so excited. maybe there is something I can help with?

[2021-07-04 11:21] stsrki commented on #825
We might try it in the v0.9.5 milestone after we release v0.9.4(around July 18th). @Xeevis's approach seems really good and hopefully, it will not be too hard.

[2021-07-04 12:36] #1485 closed

[2021-07-04 12:36] #1890 closed

[2021-07-05 00:08] CaptainStealthy commented on #2415
Is this available in the latest preview version of 0.9.4? Or will I need to wait until the stable version is released?

[2021-07-05 04:39] stsrki commented on #2415
@CaptainStealthy it is already in the preview. Any feedback is welcome until we release final version.

[2021-07-05 09:30] #2550 closed

[2021-07-05 09:50] cotur opened #2574 "Fast clicking makes the checkbox lagged"
When I click few times to a checkbox, it's become lagged. What is the reason of it? How we can make it smooth.

![](https://user-images.githubusercontent.com/16813853/118758752-39457c80-b8a2-11eb-8877-525b43624e3a.gif)

[2021-07-05 09:58] stsrki commented on #2574
Whenever a component has a  **two-way** binding, Blazor will trigger `StateHasChanged` and it will refresh the entire page or most of the page. Usually, it is not a problem because internally it will try to keep track of components states and will diff and only update what is really changed. I suspect in this case you have too many single smaller components on a page and Blazor diffing needs a lon

[2021-07-05 12:50] stsrki commented on #2554
I cannot reproduce it on my side. Did you tried clearing cache or hitting Ctrl+F5?

[2021-07-05 13:03] stsrki commented on #2547
According to this [answer on stackoverflow](https://stackoverflow.com/questions/48906453/how-to-set-width-of-bar-dynamically-in-chart-js) it seems chart documentation is wrong or misleading.

`BarThickness` should be on the `Axis`. I will fix it for the 0.9.4 release.

[2021-07-05 13:35] #2547 closed

[2021-07-05 18:43] David-Moreira commented on #2574
That's however still a strange delay. Doesn't hurt to take a look. @cotur Could you provide a repository showcasing your problem, please?

[2021-07-05 22:15] David-Moreira opened #2577 "Datagrid: TableFixedHeader | White Space between header rows | 0.9.4"
Noticed while doing testing, seems like the top position for the second row is sometimes not updated correctly, when resizing.

Should bind to the OnResize event, to have correct recalculation.

![image](https://user-images.githubusercontent.com/22283161/124521007-0b7ead80-dde6-11eb-8b93-b6dfc948bd0b.png)

[2021-07-06 06:31] tacoWanneeJama opened #2579 "dropdown.Open(); is unsupported"
**Describe the bug**
The example of the Dropdown is not compiling

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://blazorise.com/docs/components/dropdown/
2. Take the example below "Usage"
3. Copy to your Blozise project
4. See error for row: dropdown.Open();

**Expected behavior**
It should compile

**Screenshots**
![image](https://user-images.githubusercontent.com/76042577/12

[2021-07-06 06:33] tacoWanneeJama commented on #2579
I am using the newest Blazorise and addons

[2021-07-06 07:31] cotur commented on #2574
I will prepare [Minimal Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example). Will notify you when it's ready.

[2021-07-06 07:37] David-Moreira commented on #2579
Saying this from memory but Try using Show instead of Open.
We'll take a look if the docs are wrong.

[2021-07-06 08:04] tacoWanneeJama commented on #2579
That was the correct syntax. Thanks

[2021-07-06 08:05] tacoWanneeJama commented on #2579
Shall we close this issue? Or do you keep it as reminder to update the manual?

[2021-07-06 08:28] David-Moreira commented on #2579
Leave it open as a reminder, please.
Thanks.

[2021-07-06 08:29] stsrki opened #2580 "DataGrid documentation"
### Discussed in https://github.com/Megabit/Blazorise/discussions/2578

<div type='discussions-op-text'>

<sup>Originally posted by **kofinn** July  6, 2021</sup>
Hi,
I am not sure, if you are aware, but  in documentation for DataGrid [link](https://blazorise.com/docs/extensions/datagrid/) is missing information regarding these parameters

PagerPosition
ShowPageSizes
Responsive</div>

[2021-07-06 08:30] stsrki commented on #2579
We will update documentation for the coming release. Thanks for letting us know!

[2021-07-06 12:44] stsrki opened #2586 "DataGrid UpdateEditingCell API"
Ability to update any other cell after the current cell is changed.

[2021-07-06 14:26] stsrki opened #2587 "Investigate E2E testing with testproject"
https://github.com/testproject-io/csharp-opensdk

[2021-07-06 14:46] #2580 closed

[2021-07-06 14:46] #2579 closed

[2021-07-06 14:47] #1781 closed

[2021-07-06 14:47] #772 closed

[2021-07-06 14:48] stsrki commented on #2445
Closing since the problem is in browser support and we will have a new component in the new release.

[2021-07-06 14:48] #2445 closed

[2021-07-07 21:23] #2554 closed

[2021-07-08 05:21] juchunwei opened #2604 "How to show the color picker in RichTextEdit?"
Hi,
I couldn't figure out how to show the color picker, I added this code, it shows the color button but nothing happen when click it.
how to use it?
Thanks!

` <RichTextEditToolbarButton Action="RichTextEditAction.Color" ></RichTextEditToolbarButton>`

[2021-07-08 09:44] stsrki commented on #2604
@njannink any chance you might give feedback about this?

[2021-07-08 14:48] #2586 closed

[2021-07-08 16:55] AlexaBuff commented on #304
Hi! How use contextCommand in dataGrid Template, for example:
<NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button></NewCommandTemplate>
where contextCommand include:
 public class CommandContext<TItem> : CommandContext
    {
        public TItem Item { get; set; }
    }

    public class NewCommandContext : CommandContex

[2021-07-08 16:57] AlexaBuff commented on #304
Hi! How use contextCommand in dataGrid Template, for example:
<NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
where contextCommand include:
public class CommandContext : CommandContext
{
public TItem Item { get; set; }
}

public class NewCommandContext : CommandContext
{

}

public

[2021-07-08 17:00] AlexaBuff commented on #304
Hi! How use contextCommand in DataGrid CommandTemplate, where ContextCommand have to include:
  public class CommandContext<TItem> : CommandContext
    {
        public TItem Item { get; set; }
    }

    public class NewCommandContext : CommandContext
    {

    }

    public class EditCommandContext<TItem> : CommandContext<TItem>
    {

    }

    public class DeleteCommandContext<TItem> : Comma

[2021-07-08 17:32] David-Moreira commented on #304
Hello @AlexaBuff can you explain what you are trying to do?
You should have access to the item where applicable thought the provided command context. Meaning that on the button row or command column you can access it.

Please do take a look at our documents about the command context feature right here  :
https://blazorise.com/docs/extensions/datagrid/#command-templates

Let us know if you still ha

[2021-07-08 17:37] David-Moreira commented on #304
And here's also a print screen if that helps:
![image](https://user-images.githubusercontent.com/22283161/124966649-7533cd00-e01b-11eb-8182-1dc21a721045.png)

[2021-07-08 18:20] paiden opened #2611 "Chart colors only visible on hover"
Run the following code sample with Blazorise (Charts) v0.9.3.9

[code]

This will produce a chart that only has a color when hovered over. The following image shows the inital chart when the cursor is outside the chart on the left. The right shows the chart when the mouse is near the center of the chart:

![image](https://user-images.githubusercontent.com/7665273/124970445-33f5ea00-e028-11eb-8bed-

[2021-07-08 18:38] stsrki commented on #2611
Yes, with the first example, we don't have information on how to properly serialize the ChartColor. When you cast it into `(string)` it will convert the value into JS function as a string, eg `rgba(255,0,0,0)` and it will properly be sent to the chart vis JSInterop.

This also works, see `.ToJsRgba()`

[code]

[2021-07-08 18:52] paiden commented on #2611
My question here is, would changing the BackgroundColor type to `IndexableOption<string>` help at preventing this error?

Is there any reason whey it is an IndexableOption<object>?

Once you know what the error is, it is easy to fix, but it took me a few hours to find out what is going on. Maybe with the help of the type system this can be prevented?

[2021-07-08 19:00] stsrki commented on #2611
Changing BackgroundColor type to `IndexableOption<string>` would mean you would have `IndexableOption` inside of `IndexableOption`. It would not work. If you try it you will see an error.

The purpose of `IndexableOption` is to be able to have a single value, OR an array of values. ChartJS works like that and this was the way to support it.

[2021-07-08 19:05] #2611 closed

[2021-07-08 22:20] redbird19 opened #2612 "DataGrid Sort API"
I've looked through the source code but don't see any way to retrieve the current sort column/direction for a datagrid.  Can someone point me in the right direction?

What'd I'm looking to do is fairly straightforward, display a list of items in a DataGrid that's pageable, sortable, etc. Then the user clicks an item and is navigated to a separate page to view the item details.  Then the user click

[2021-07-08 22:43] David-Moreira commented on #2612
Hello @redbird19
For grabbing the current Sort Direction configuration out of the columns.
This field should be available. However you will have to inherit from Datagrid, so you can have access to the internals and do your own logic to grab this.
![image](https://user-images.githubusercontent.com/22283161/124999079-5cd8a800-e045-11eb-9134-2a67dd1e8250.png)

As for restoring the sort information. I

[2021-07-08 22:44] David-Moreira commented on #2612
On a side note, `SortChanged` event seems like a nice suggestion/addition, what do you think @stsrki ?

[2021-07-08 22:50] David-Moreira commented on #2612
Also we will expose a couple of APIs as public in the next release of Blazorise.
And one of them is `Sort`, which could be interesting for your case, as long as you can grab the column reference that you'd like to sort. (Should easily be able to, by accessing the datagrid's internal columns by inheriting)
![image](https://user-images.githubusercontent.com/22283161/124999800-da50e800-e046-11eb-9174

[2021-07-08 22:54] AlexaBuff commented on #304
Thank you for your answer.
How I can customization my CommandContext.cs? If I add to my project CommandContext.cs from Blazorise Demo for DataGrid, I am getting an error: InvalidCastException: [A]Microsoft.AspNetCore.Components.RenderFragment`1[Blazorise.DataGrid.ButtonRowContext`1[BlazorCRUD.Data.Employee]] cannot be cast to [B]Microsoft.AspNetCore.Components.RenderFragment`1[Blazorise.DataGrid.B

[2021-07-08 23:16] David-Moreira commented on #304
Hello again @AlexaBuff
`CommandContext` is internally created and handled by Blazorise, and is then "handled" to you on the appropriate places (CommandTemplates/ButtonRow), so you can trigger internal commands(Clicked) or access usefull information(LocalizationString/Item).
So you shouldn't be able to do what you're trying to do here, as there is no way for you to tell Blazorise to use a custom `C

[2021-07-08 23:47] AlexaBuff commented on #304
I undestand you, thank you. I stated studing Blazorise few days ago. And one more quenstion. Are you planning customizing modal dialog (popup) in CUID? For example include scrolling in popup.

[2021-07-09 01:39] redbird19 commented on #2612
Thanks for the quick reply @David-Moreira

I attempted to inherit from DataGrid as you suggested, and am able to get the sorted columns, but not the sort direction (the "CurrentDirection" property in DataGridColumn is an internal property so I don't have access to it).  Even if I did though, I'd still need a way to set the initial sort of the grid, sort of like we are able to set the initial page

[2021-07-09 09:07] David-Moreira commented on #2612
Oh I didn't notice `CurrentDirection` wasn't exposed, @stsrki could we give the info to the user? `GetCurrentSortDirection` or something?

@redbird19 did you try something like this? Setting the `SortDirection` on the `DataGridColumn` should work, since the column, while initializating takes in the parameter `SortDirection` as the initial Sort Direction.

"As for restoring the sort information. I'

[2021-07-09 09:33] stsrki commented on #2612
Done the first version in #2613

I believe the `SortChanged` event would be enough. I have also exposed CurrentSortDirection getter in case someone likes it that way.

[2021-07-09 10:32] Smurf-IV commented on #2554
Just found this was closed (No idea why I did not get an update from your comment)
Yes I have been refreshing (A lot - its part of the development process ;-))
But for some reason today after a refresh it's fine..
Very strange.

Thanks for investigating

[2021-07-09 10:45] stsrki commented on #2554
It's one of those weird bugs that suddenly starts to work :)

[2021-07-09 13:13] stsrki opened #2616 "Blazorise Grid to CSV"
### Discussed in https://github.com/Megabit/Blazorise/discussions/2615

<div type='discussions-op-text'>

<sup>Originally posted by **DavidCountry** July  9, 2021</sup>
Hello,
Is there a built in process to take the contents from the DataGrid and export to a downloadable CSV?</div>

[2021-07-09 13:18] damianog commented on #1116
Hi, it seems Microsoft started to write a simple wrapper of FAST controls https://github.com/microsoft/fast-blazor

[2021-07-09 13:58] Luk164 opened #2617 "Documentation mismatch"
**Describe the bug**
There is a mismatch between two parts of documentation regarding material css and js library.  This could be confusing for new users during first time installation.

The http://materialdemo.blazorise.com/ points to http://daemonite.github.io/material/

While https://blazorise.com/docs/usage/material/ points to a newer https://djibe.github.io/material/

I am going to post a PR

[2021-07-09 13:59] stsrki commented on #2617
Can you do it on dev094? We're soon to make a release anyways.

[2021-07-09 14:01] Luk164 commented on #2617
@stsrki Done

[2021-07-09 14:02] Luk164 commented on #2617
@stsrki I really just replaced the link so hopefully nothing will break.

[2021-07-09 14:47] njannink commented on #2604
@juchunwei  As you can see in the examples for the color picker you need a different kind of button:

`<RichTextEditToolbarSelect Action="RichTextEditAction.Color" />`

![image](https://user-images.githubusercontent.com/3843546/125096263-9982be80-e09a-11eb-8792-bad4779d118c.png)

[2021-07-09 15:20] redbird19 commented on #2612
Wow, that was a quick turnaround guys, awesome work!

[2021-07-09 15:44] stsrki commented on #2612
:) we got to be fast since new release is coming soon.

[2021-07-09 16:57] iwis opened #2619 "Ambiguities in the description of the plans on https://commercial.blazorise.com/"
1. On the https://commercial.blazorise.com/ page in the "Compare plans" section it isn't clear for me what the "Public" and "Private" rows mean. And why is public allowed and private isn't in the Community plan?

2. On the https://commercial.blazorise.com/community page:

Can I also create apps that will be paid i.e. my users will pay to use them? Maybe better write: "_Any individual developer can

[2021-07-09 17:04] Luk164 opened #2620 "Is the license going to change?"
I just noticed the new site https://commercial.blazorise.com/. Are you going to change the license from Apache 2.0? Because I have used this in almost every Blazor project of mine and if so I am going to have to be careful not to update to a paid license by accident.

[2021-07-09 22:27] David-Moreira opened #2621 "Ant Design : Table : FixHeader Broken"
Ant Design : Table : FixHeader Broken
![image](https://user-images.githubusercontent.com/22283161/125141539-3b42f380-e10d-11eb-96d9-c8a97e857e6f.png)

[2021-07-10 11:19] stsrki commented on #2619
Thanks for the message. We plan to make licensing details more clear and easier to understand. But the general idea is:

- Blazorise is free for all individuals be it for commercial, freelancing, private or public use
- Blazorise is also free for all companies that have less than five or fewer employees
- Blazorise is NOT free for all other companies that have over five employees, OR have over $1M

[2021-07-10 11:22] stsrki commented on #2620
Hi, Blazorise license will stay as Apache 2.0. We changed it recently from MIT. If you didn't please read our pots why we go this way and are the plans for the future: https://blazorise.com/news/changes-to-blazorise-license/

Also, look at #2619 for quick info until we fix the licensing details on the web.

[2021-07-10 11:32] #2577 closed

[2021-07-10 11:33] #2621 closed

[2021-07-10 22:39] kofinn opened #2624 "Steps navigation"
Hi,

Is it possible to add new parameter, that will make navigation in Steps component unclickable (navigation should be still present, but it should not be used to switch between different steps)

![image](https://user-images.githubusercontent.com/22171329/125177794-0901c680-e1df-11eb-857f-a139f0a720fe.png)

Thank you

[2021-07-11 10:17] David-Moreira commented on #2624
Hello @kofinn
I don't think you can, no.
For feature proposal, let me know if this is what you'd like:
1     - Disable Step click navigation
2     - Programmatically select the step that you'd like to navigate to. **(Already possible with `SelectStep`)**
2.1 - `NextStep` and `PreviousStep` API could be usefull, right?

[2021-07-11 11:30] Luk164 commented on #2620
@stsrki Ok, the under 1million$ clause seems more than fair, and would make me and my projects exempt. Thank you and I hope I will be able to keep contributing.

[2021-07-11 11:30] #2620 closed

[2021-07-11 12:18] stsrki commented on #2620
I wanted to be able to give back to the community as much as I can while keeping it fair. That's why I only wanted to charge larger companies.

[2021-07-11 14:17] kofinn commented on #2624
Hi,

[2021-07-11 14:27] kofinn commented on #2624
Hi,

ok, currently I have workaround using SelectedStepChanged and SelectStep.

Maybe with these changes it could be new component

Here is pretty much what I wish to do.
https://bbbootstrap.com/snippets/multi-step-form-wizard-animated-progressbar-53000683

[2021-07-11 14:46] David-Moreira commented on #2624
Don't think we need a new component. Just a way to disable the click on the steps themselves. And Next Step / Previous Step apis which you can then bind to the buttons as you wish obtaining the same result as in the demo you just sent.

Feature proposal for us to consider.

[2021-07-11 20:33] #2612 closed

[2021-07-12 09:35] Luk164 commented on #2620
@stsrki  Yeah that is much better than what SyncFusion does, as they limit it on the amount of developers in the company, which does not account for different wages and revenues.

[2021-07-12 09:51] MarcusBullock opened #2628 "Radio group button custom colouring"
Radio group buttons are currently hardcoded to secondary (Dark) Bootstrap colour theme. This makes seeing the active button much more difficult.

It would be nice to be able to pass in a colour as a parameter.

[2021-07-12 11:38] marcuscreatevision commented on #825
Great

[2021-07-12 12:48] stsrki commented on #2620
We all know I cannot compete with full-blown companies like SF, or DevEx. I was working alone so far, mostly in my free time. Recently I able to hire @David-Moreira part-time so it is already a lot easier. The plan is to get more developers on board, but since the budget is limited we first need to get enough paid licenses. It is not easy.

[2021-07-12 12:53] stsrki commented on #2628
It will be possible in the coming v0.9.4 release. It's planned for July 18th.

Closing now since the feature is already done :)

[2021-07-12 12:53] #2628 closed

[2021-07-12 13:02] Luk164 commented on #2620
@stsrki Well good luck, maybe this is a start of something big. The library itself is already fairly popular, so I believe there is a lot of potential.

[2021-07-12 13:53] stsrki commented on #2620
Thanks!

[2021-07-12 14:40] Luk164 commented on #2620
Hell if I wasn't already over my head in uni/work I would be sending you a CV right now :)

[2021-07-12 14:43] stsrki commented on #2620
One day maybe 😉

[2021-07-13 11:40] MarcusBullock commented on #2628
cheers

[2021-07-13 12:56] dkonstantinov193 opened #2629 "Tooltip text is not updated on @bind-Text"
**Is your feature request related to a problem? Please describe.**
I'm trying to dynamically update tooltip's text from a variable, but can't get it work - the text stays the same as it was on the first render.

I'm using the following code:
`<Tooltip Fade="true"
               @bind-Text="@_tooltipText"
               Placement="TooltipPlacement.Right"
               Multiline="true"

[2021-07-13 13:04] stsrki commented on #2629
Current Tooltip only sets the Text on initializing. I didn't anticipate it to be set afterward. It makes sense to have that feature. I will try to implement it for next release.

No need for TextChanged. That would mean Text could change from Tooltip and I don't see a reason for that behavior.

[2021-07-13 13:30] dkonstantinov193 commented on #2629
Great! My current workaround is to create different tooltips and manage them via some IFs but that leads to a lot of code duplicate inside visual part.

[2021-07-13 13:52] #2629 closed

[2021-07-13 14:51] dkonstantinov193 opened #2632 "Set numerical field buttons deeper in the field"
**Is your feature request related to a problem? Please describe.**
On the latest preview version we've got buttons on a numerical field (cool!) but they break field borders from rounded to the straight and generally stays above making borders look not so clean. Noticeable on validation:
![image](https://user-images.githubusercontent.com/71480348/125472949-4a225ddd-4730-4d7e-aaf5-1619d6df512b.png)

[2021-07-13 16:30] uzochiapa opened #2633 "Drag and drop functionality"
Hi,

It would be nice to have a drag and drop functionality. So developers can easily build interactive functionality for websites.

[2021-07-13 21:12] andz-gl opened #2634 "DataGrid: responsive layout"
Optionally render DataGrid via DIVs (not via table tr td). Like
div class="row"
    div class="col-2" cell 1 /div
    div class="col-2" cell 2 /div
    ....
/div

it will make DataGrid really responsive for mobile devices

[2021-07-13 21:20] David-Moreira commented on #2633
Hello,
So, you'd like some kind of Blazorise tool, where you can drag and drop components and maybe even configure their properties, and then it would generate the corresponding code for you, is this it?
That's a very very huge development cost which I'm not sure we are ready to take on anytime soon, right @stsrki ?

But we can always save the idea for the future, thank you for your feedback @uzoc

[2021-07-13 21:25] David-Moreira commented on #2633
Oh...I think I might have missunderstood.

Or would you rather...
For the majority of the Blazorise components, where applicable, have Drag and Drop functionality where:
1- You can set the component to be draggable.
2- You need some kind of container(s), or compatible component(s) to be able to drop them onto

Is this it instead?
Again, thank you for your suggestion/feedback, and please let us kno

[2021-07-14 04:02] cpurick opened #2635 "DateEdit Not Binding on Server, Binds Okay in Debugger"
I have a grid, and an edit form below it that shows the selected item. Testers reported that changing the value on the form is not updating a newly added item in the grid. Upon close inspection, it appears we are not changing the bound object at all, just the date displayed in the control itself. Furthermore, this is only evident on the deployed application -- it runs normally in the browser again

[2021-07-14 08:38] David-Moreira commented on #2635
Hello,
Can you provide the blazorise version you are using?
Also are you using Blazor Webassembly or blazor Server?
We'll try to reproduce on our end, but generally, if you have the time a repo reproducing the error helps us a lot, thank you.

[2021-07-14 11:59] stsrki commented on #2634
Hi @andz-gl

At the moment we don't have plans to use divs instead of tables for DataGrid. Mainly because DataGrid is meant to display tabular data and semantically a `table` is the best way to do it. Also, we use table implementation based on different providers(Bootstrap, Bulma, AntDesign). If we would go with divs we would have to implement every column, row, and cell from scratch and then do i

[2021-07-14 12:02] stsrki commented on #2633
I'm also not sure exactly. @uzochiapa can you give us more context what you expect?

---

What I understood and what I did in the past is to have `Draggable` and `Dropzone` components. `Dropzone` is a main container or area where you drop `Draggable`'s. And `Draggable` is a wrapper that you move around and that can contain any component or HTML element.

[2021-07-14 12:20] cpurick commented on #2635
We are on Bootstrap 0.9.3.6, Blazor Server.

[2021-07-14 12:23] stsrki commented on #2635
@cpurick What Blazorise provider you use?

[2021-07-14 12:28] stsrki commented on #2635
The only thing I can think of why it would break on the server is that you have different culture settings on your dev machine vs the server. Although it would be really strange why that would break it.

We would need more information and if possible a way to reproduce it before we could fix it.

[2021-07-14 12:53] David-Moreira commented on #2635
That's a pretty good point @stsrki makes and would explain different behaviour across environments,
What is your server culture? Do you have a staging or testing environment where you can test setting the culture to something else?
Or set the culture locally (IIS Express) to the same as the server.

[2021-07-14 15:48] cpurick commented on #2635
I can check the cultures. We interpret this as the events not firing when the user edits the date.

Do we believe the culture impact would be limited to date behavior, as I am seeing?

[2021-07-14 17:51] David-Moreira commented on #2635
Let's first track the problem... And only then evaluate the impact if that's indeed the problem. Dates and currencies/decimal parsing are the main ones when dealing with culture.
Let us know your findings please.

[2021-07-14 18:36] cpurick commented on #2635
I cannot find explicit culture settings. Where would I check this? We're an international company and there is some localization in the code, but I believe everything I am doing here is US-oriented. What would I need to check to confirm?

[2021-07-14 19:20] David-Moreira commented on #2635
The microsoft docs should help:
https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.currentculture?view=net-5.0
Let me know if you have any doubts.

[2021-07-14 20:07] cpurick commented on #2635
That is useful and I understand it. How do I explicitly get server-side and client-side values? Will Blazor code always return the server culture?

[2021-07-14 20:27] solvix opened #2636 "DateEdit - workweek in visual"
Hi team -
Thanks for all your wonderful contributions to date.  I wanted to see if you had planned to add a workweek to your date picker, something like this one made available in Jira.

![image](https://user-images.githubusercontent.com/4146979/125688380-1612a7e7-3166-42c5-8ce5-616db3f46564.png)

thanks again,
Brent

[2021-07-14 20:34] David-Moreira commented on #2635
I'm not sure I follow your question. The culture is set on the server thread that's serving the request and can be manipulated if you wish.
There's an example in the docs

using System;
using System.Globalization;

public class Example
{
   public static void Main()
   {
      CultureInfo culture = CultureInfo.CurrentCulture;
      Console.WriteLine("The current culture is {0} [{1}]",

[2021-07-15 00:12] andz-gl commented on #2634
got it, thank you for quick response! please think about mobile devices (so that users could see information without horizontal scrolling)

[2021-07-15 07:54] #2634 closed

[2021-07-15 07:59] stsrki commented on #2636
Not sure if I understand correctly. Did you mean to have a weekend days in red colors?

[2021-07-15 12:20] paulosdfigueiredo opened #2639 "DatePicker - Validation does not change border color"
**Describe the bug**
New component DatePicker does not update border color based on the current validation status.
"is-invalid" and "is-valid" classes are added to the wrong input element.

I'm using bootstrap.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Demo
2. Go to Validations Page
3. Replace DateEdit by DatePicker
4. Force validation

**Expected behavior**
Expected the border t

[2021-07-15 13:15] cpurick commented on #2635
Sorry, I thought you cared about client-side culture. As I read it, all that matters is the difference between the server and the IIS Express experience, in which case both are US-en.

Also, we are wondering if a firewall is involved. Is there any particular network dependency associated with this control?

One thing we are noticing is that, when they work, the bindings on this control seem to fun

[2021-07-15 14:43] astuy commented on #2024
Today I had some time to dig around in Castle Windsor and found, that during the final render the scope is already disposed, from where Blazorize components are tried to be created, though the Service Provider is still alive. Do you know where to find some documentation about DI scopes and ServerPrerendered?

[2021-07-15 21:27] cpurick commented on #2635
We did track this down to a firewall issue. Manipulating the date sends date strings in a request that includes a suspicious character which looks something like a 'U' with an accent mark. Our F5 was treating this like a malicious request. We started looking at the firewall after the standard InputDate control similarly failed to work. If I can get a capture of this I will submit it here for your

[2021-07-16 08:07] #2639 closed

[2021-07-16 08:18] stsrki commented on #2632
I have fixed the border-radius. Regarding your suggestion for moving buttons more into the input, we can consider it for the future since we don't have much time at the moment. We're planning a new release for the beginning of next week.

[2021-07-16 08:18] #2632 closed

[2021-07-16 11:43] stsrki commented on #2619
I have fixed some problems on the commercial web and made FAQ more clear.

[2021-07-16 11:43] #2619 closed

[2021-07-16 19:40] gwgrubbs opened #2645 "RichTextEdit is empty when re-visiting a page"
Using a RichTextEdit and binding to a string property, the control correctly shows the content.  Navigating away from the page and then returning to the page, the control "Editor" content is empty.

markup:
[code]

I have also placed a simple div tag on the page that renders the same "@Subject" value.  This value is present on both the initial load and subsequent return to the page:

[code]

The s

[2021-07-17 12:47] stsrki opened #2646 "Add Table ScrollToRow method"
https://stackoverflow.com/a/7853216/833106

_Originally posted by @stsrki in https://github.com/Megabit/Blazorise/pull/1977#discussion_r671692660_

[2021-07-17 12:52] #1381 closed

[2021-07-17 13:11] stsrki opened #2647 "Configure demo apps to switch between WebAssembly and Server"
https://itnext.io/blazor-switching-server-and-webassembly-at-runtime-d65c25fd4d8

[2021-07-17 13:29] stsrki commented on #2645
I cannot reproduce it. Here is my code

[code]

It always sets `"hello 2"` as expected.

[2021-07-17 14:25] stsrki opened #2648 "Fix closing of Bar from the separate BarToggler"
![image](https://user-images.githubusercontent.com/900302/126040125-b50f2b8f-9cb5-4eea-9f0c-6fcf7d31143e.png)

[2021-07-18 06:11] naefp commented on #2287
Hi @stsrki

In my opinion there is something wrong in the current version (0.9.4-preview6).

In the example of a BarChart you can see that each dataset is a date and contains some data using the colored labels. In the tooltip the title is used to show the dataset label, not the data label. I think this make sense and is correct.
![image](https://user-images.githubusercontent.com/42241289/126057347

[2021-07-18 12:01] #2646 closed

[2021-07-18 12:07] #2648 closed

[2021-07-18 12:22] stsrki opened #2651 "Add CLA for pull requests"
https://github.com/cla-assistant/cla-assistant

[2021-07-18 12:36] stsrki commented on #2287
But I don't see a dataset label on Pie chart. Can you try and submit a new PR with the fix? I'm in the middle of finishing Blazorise for the final release and there is little time for me. If you manage to fix I will make it part of the release. Thanks.

[2021-07-18 14:55] naefp commented on #2287
I have tested the changes from the PR  locally in our project

[2021-07-19 09:33] bestpika opened #2654 "DataGridDateColumn contains time (minimum to seconds)"
**Is your feature request related to a problem? Please describe.**

I want to be able to modify the date and time directly in the column, but the DataGridDateColumn can only modify the date but not the time.

**Describe the solution you'd like**

Hopefully, you can add a parameter that specifies whether the field is a date or time, or DateTime.

### Additional context

I used to do it this way, bu

[2021-07-19 09:54] stsrki commented on #2654
Done. You got it just in time before the release :)

[2021-07-19 09:54] #2654 closed

[2021-07-19 11:37] stsrki opened #2656 "Add ColorPicker component"
based on https://github.com/Simonwep/pickr

[2021-07-19 13:22] #1974 closed

[2021-07-19 16:34] robalexclark opened #2658 "DataGrid bug with 0.9.4"
I just upgraded from 0.9.3 preview 5 to 0.9.4, and get a nasty null reference exception on load:

[code]

I'm trying to figure it out by stripping back the razor and code but no luck yet other than it probably is something to do with the datagrid virtualize stuff.

Even a plain grid like:

[code]

causes it, so not sure where to look next...

Just letting you know and I'll keep looking tomorrow

[2021-07-19 16:35] stsrki commented on #2658
Are you sure have all the required JS files? Did you cleared the cache?

[2021-07-19 16:55] David-Moreira commented on #2658
Do take a look at your console and let us know the error you're getting. Either way the most likely issue as strski mentioned is cache.

However if you can find the steps to reproduce it, on a separate repository we can take a detailed look at it.

[2021-07-19 16:59] ehsangfl commented on #2658
error message
[code]

[2021-07-19 17:18] robalexclark commented on #2658
Cleared my cache :-)

Yes @ehsangfl does seem to be something to do with a null datasource as wrapping the datagrid in a null check fixes it. Its happening on more than one datagrid, so probably for all datagrids we might need to do a null check?

Haven't quite bottomed it out yet though so will keep looking....

[2021-07-19 17:22] stsrki commented on #2658
If the null is making a problem we should definitely fix it and release a patch.

[2021-07-19 18:17] robalexclark commented on #2658
Tried about 5-6 datagrids now and they all show the same problem, ones that appear on the initial screen through an error at:
[code]

but after I fix those with a null check and navigate to other pages with grids, even simple grids show an error in the console:
[code]

and as before a @if(mydata !=null). fixes it.

[2021-07-19 19:35] ehsangfl commented on #2658
@robalexclark I never use third party direct in my apps. usually I use a class inherited from third party class.in this item, I check null in inherited class and all of the forms working properly. In this way, you can change your third party without changing your forms

[2021-07-19 20:43] David-Moreira commented on #2658
Hello guys,
Thanks for reporting this issue, we'll patch it as soon as possible.

[2021-07-19 21:19] stsrki commented on #2658
I cannot reproduce the error. I've set the `Data` to null, and remove the `Data` parameter from `DataGrid`. Tried the WebAssemply and Server project, in both Server and ServerPrerendered modes. And I still cannot make it to raise an error.

[2021-07-19 21:31] stsrki opened #2660 "0.9.4 Fixes"
## 0.9.4.9

- #3116 Charts JsonNumberHandlingAttribute

## 0.9.4.8

- #3054
- #3037
- #3110

## 0.9.4.7

- #2944
- #3046
- #2991
- #2879
- #2993

## 0.9.4.6

Fixed the event callbacks for NumericEdit introduced in 0.9.4.5

## 0.9.4.5

- #2930
- #2910
- #2929
- #2932
- #2920
- #2913
- #2691
- #2944
- #2975
- #2967
- #2924
- #2876

## 0.9.4.4

- #2800
- #2809
- #2841
- #2843
- #2824
- #2814
- #2832

[2021-07-19 21:35] stsrki commented on #2658
So, I was able to reproduce it and seems that @David-Moreira fixed it with #2659. I also added another check for null value just in case. Tomorrow we'll release a patch.

[2021-07-19 21:35] #2658 closed

[2021-07-20 01:46] dkonstantinov193 opened #2661 "Checkbox appears above other components"
**Describe the bug**
Checkbox component appears above other components (like layout header bar or dropdown menu). There was no issue on Blazorise 0.9.4-preview5 but appeared in 0.9.4 release.

**To Reproduce**
Steps to reproduce the behavior:
1. Create layout with fixed header.
2. Add checkbox on some scrollable content page
`<Check TValue="bool" Disabled="false"></Check>`
3. Scroll down so the ch

[2021-07-20 03:07] ehsangfl opened #2662 "blazorise.datagrid.css not found"
as described on doecuments, we added
[code]
to index.html page. but in developer tools of chrome, the css part not found and return 404 error

blazorise version: 9.4
visual studio 16.10.3
dot net : 5.0

[2021-07-20 04:35] ehsangfl opened #2663 "Default chart configuration"
In chart configuration, for "pie" and "doughnut" types, a configuration setted on chart instance. this configuration must be setted on defaults config section. this replaced all configuration we needded
I think these lines

[code]
must change to
[code]

on top of Initialize of blazorise.charts.js

Blazorise 9.4

[2021-07-20 06:17] #2662 closed

[2021-07-20 07:17] #2663 closed

[2021-07-20 07:24] #2661 closed

[2021-07-20 09:05] stsrki opened #2668 "Create a PivotGrid component"
![image](https://user-images.githubusercontent.com/900302/126293584-7f8d27d5-e637-4b71-afe9-4c540079af89.png)

![image](https://user-images.githubusercontent.com/900302/126293786-ef1789eb-d994-47e1-ae15-72e5fbd59402.png)

[2021-07-20 09:31] David-Moreira commented on #2668
The guys on the image don't seem to be having a good time... Is that what's gonna happen to us!? 😆

[2021-07-20 09:32] stsrki commented on #2668
It is highly probable 😆

[2021-07-20 09:40] nightroman opened #2669 "Tweak the UI of Message service?"
The new message service is cool and useful. But the UI is rather strange (well, my opinion). It looks more focused on the icon than the message text.

![image](https://user-images.githubusercontent.com/927533/126299546-c5e07205-b8a1-4245-b9b0-02801d10df38.png)

If this is by design and not configurable I would rather have no icon at all.
Is this possible?

[2021-07-20 09:43] stsrki commented on #2669
You can disable icon with `options` param, eg

`MessageService.Info( "This is a simple info message!", "Hello", options => options.ShowMessageIcon = false );`

[2021-07-20 09:48] nightroman commented on #2669
This works, thank you.

Yet I'd be happy if the UI were more focused on the text.

Minor issue 2. I cannot find a way to close the dialog using keys. And it is not closed by clicking outside the dialog. Is this all by design?

[2021-07-20 11:34] johnnyleroux commented on #2547
Working perfectly now. Thank you very much!

[2021-07-20 12:19] stsrki commented on #2669
Yes, it is by design. The idea was to force the user to actually click on a modal action instead of accidentally closing it with escape key. We can consider adding another parameter to change that behavior or making it customizable.

[2021-07-20 12:20] stsrki commented on #2636
Hi @solvix can you please provide mora information about the feature you need? Thanks

[2021-07-20 12:21] #596 closed

[2021-07-20 12:22] #2635 closed

[2021-07-20 12:23] #2617 closed

[2021-07-20 12:23] #2604 closed

[2021-07-20 12:25] #2499 closed

[2021-07-20 12:31] stsrki commented on #2537
@GilShalit Any chance you could provide us with a minimal example to reproduce the problem? Thanks

[2021-07-20 12:31] iwis commented on #2619
The bolded parts written in capital letters don't result from [the license](https://commercial.blazorise.com/files/licences/SLA-2021-06.pdf).

Why is it important to clarify this? On [Reddit](https://www.reddit.com/r/Blazor/comments/o7wp88/recommendation_for_open_source_free_razor/) somebody said: "_Also if you're using Blazorise in a commercial way then you have to go to the paid tier._" I would

[2021-07-20 12:35] stsrki commented on #2619
Hi, sorry for the confusion. Our lawyer, the guy who written the SLA, is still on the vacation until the end of the week so we're still waiting for the actual license to be updated based on the points we have written on the commercial page. The updated version should be up by sometime next week.

[2021-07-20 12:35] nightroman commented on #2669
Thank you, it's all done then, closing.

[2021-07-20 12:35] #2669 closed

[2021-07-20 12:52] juchunwei commented on #2604
@njannink
Thank you!

[2021-07-20 13:24] Luk164 commented on #2465
@stsrki Great, I was getting a bit annoyed with having to look through the code manually to find how the examples were made.

[2021-07-20 14:28] stsrki opened #2670 "navbar-expand is needed for top bar to work when it is not collapsible"
https://getbootstrap.com/docs/4.6/components/navbar/#responsive-behaviors

[2021-07-20 14:53] gwgrubbs commented on #2645
Thank you for your prompt response to this!

I used your code above, and could not reproduce the issue either.  However, I changed the code above to include a MemoEdit bound to the same property, and an API call to get the value:

[code]
[code]
[code]

The RichTextEdit always displays "hello 2", where the MemoEdit always shows the result from the API call.  So this appears to be some timing issue

[2021-07-20 15:48] David-Moreira commented on #2645
From a quick look at the snippet you sent. You might be missing a statehaschanged call once the response comes back from the api.

[2021-07-20 17:21] gwgrubbs commented on #2645
Thank you.  I added a line to always call StateHasChanged, but the result is still the same.

[code]

[2021-07-20 18:13] mtbayley opened #2675 "DataGrid fails to update when items are added/deleted"
**Describe the bug**
When an item is added/deleted via code triggered by a button, it does not update in the DataGrid.
Note: you can manually trigger a DataGrid to refresh by sorting any column

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this test repo: [https://github.com/mtbayley/BlazoriseJSExceptionTest](https://github.com/mtbayley/BlazoriseJSExceptionTest)
2. Run, go to /fetchd

[2021-07-20 18:43] David-Moreira opened #2676 "DataGrid selection mode"
### Discussed in https://github.com/Megabit/Blazorise/discussions/2667

<div type='discussions-op-text'>

<sup>Originally posted by **AlexaBuff** July 20, 2021</sup>
After update 0.9.4 dataGrid's selection mode became multiple automatically. I can not turn on single selection mode. I noticed that multiple selection throw off after double click. My code:

[code]

[2021-07-20 18:45] David-Moreira commented on #2676
<
Not quite being in multi select. Just that the rows aren't re-evaluating the stylying, as they think nothing has changed. The @bind-SelectedRow solves this, as it binds an EventCallback behind the scenes, and that takes care of calling StateHasChanged.
I'll confirm this later today, and fix.
We've made quite some performance improvements on datagrid and it was quite the change, so bear with us i

[2021-07-20 18:48] David-Moreira commented on #2675
Thanks for taking the time to set up a repository reproducing the bug. We'll get back to you asap.

[2021-07-20 20:17] naefp opened #2678 "tootlip js exception in 0.9.4"
**Describe the bug**
After updating Blazorise from `0.9.4-preview6` to `0.9.4` we are getting the following exception, but beside the exception everything seems to work fine. As I can see, all tooltips are working as expected.

Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Cannot read property 'querySelector' of null

[2021-07-20 20:26] naefp opened #2679 "DataGrid pager styling changed in 0.9.4"
**Describe the bug**
Not sure if this is a bug or planned to work like that.

With updating Blazorise to `0.9.4` the styling of the DataGrid pager changed. In previews version the page-link elements inherited the color, now I had to add something like that to get back the old behavior:
[code]

just close the issue, if that was done on purpose.

[2021-07-20 20:40] David-Moreira commented on #2679
@stsrki rings a bell? Anything new in this department? Want me to take a look?

[2021-07-20 20:46] stsrki commented on #2678
Did you clear the cache? This usually happens with every new version. Try Ctrl+F5.

If that doesn't help we'll look into it.

[2021-07-20 20:49] stsrki commented on #2679
I think I actually fixed and this is good.

If I remember it correctly, theme settings were not applied for pagination links. So I added new CSS rules in the theme generator.

[2021-07-20 20:56] stsrki opened #2681 "Add Display utility to the DataGridColumn"
### Discussed in https://github.com/Megabit/Blazorise/discussions/2672

<div type='discussions-op-text'>

<sup>Originally posted by **pjmagee** July 20, 2021</sup>
I dont see `Display` property like how it exists on normal Grid `Column` type.</div>

[2021-07-20 20:58] naefp commented on #2678
yes I did, doesn't help.

[2021-07-20 21:31] #2675 closed

[2021-07-20 21:43] stsrki commented on #2678
Does it tell you on what line is error happening?

[2021-07-21 02:52] bestpika opened #2683 "The input area of DataGrid popup mode is too narrow"
**Describe the bug**

The input area of DataGrid popup mode is too narrow, so some long input boxes cannot be displayed completely.

**To Reproduce**

`EditMode="DataGridEditMode.Popup"`

**Expected behavior**

**Screenshots**

![image](https://user-images.githubusercontent.com/5698157/126423143-e5b86e8c-b881-444d-9e44-13fe4a500abf.png)

**Additional context**

[2021-07-21 03:01] bestpika opened #2684 "DataGridDateColumn becomes 0 when there are seconds"
**Describe the bug**

If the DataGridDateColumn input box starts with no data, it will become 0 the first time there is a second.

**To Reproduce**

[code]

Please see the following picture.

**Expected behavior**

After selecting the date and time including the seconds and confirming that it should be the seconds I selected.
But instead, I see 00.
If I select the seconds again, it will be working

[2021-07-21 03:29] drma-dev opened #2685 "datgrid - documentation - events edit popup"
is there somewhere I can find documentation on how the RowInserting and RowInserted events work?

I can't get these events to be called and the popup isn't even closing when I click save.

[code]
[code]

[2021-07-21 07:07] stsrki commented on #2683
There is not much we can do. You can increase the column size in edit mode, eg.

[code]

[2021-07-21 07:11] ivancavlek opened #2686 "Question - RichTextEdit - how to save image/video on server?"
Hi,

I know that Blazorise Team is in progress of looking for a new WYSIWYG Editor, but as RichTextEdit with Quill is still in use, I have a question regarding it.

How can I save an image/video on the server with RichTextEdit and post a(n) `<video>`/`<img>` link in its text?
Also, how can I create a video Icon to do this like the Image one?

I'd prefer to do it without installing new Quill module

[2021-07-21 07:22] stsrki commented on #2685
You can see an example in our demo app but it is not much different from what you already have. And I cannot see what is wrong with your code. Except that you have `async` but  don't have an `await`.

Try:

[code]

Also, can you tell us what type is `ListData`?

[2021-07-21 07:23] bestpika commented on #2683
I found where there is a problem, some parameters in the wrong place, no wonder I automatically ignore the description.
For example, PopupSize is placed inside the DataGridColumn ......

[2021-07-21 07:32] stsrki commented on #2683
You're right. It is fixed now. Thanks!

[2021-07-21 07:33] stsrki commented on #2683
You're right. It is fixed now. Thanks!

[2021-07-21 07:42] stsrki commented on #2683
You're right. It is fixed now. Thanks!

[2021-07-21 07:43] #2683 closed

[2021-07-21 07:44] stsrki commented on #2686
@njannink can you answer? You're more familiar with RTE.

[2021-07-21 07:48] stsrki commented on #2684
I think this is a browser problem.

Quote from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local

- DDMMYYYY
- DD/MM/YYYY
- MM/DD/YYYY
- DD-MM-YYYY
- MM-DD-YYYY
- MM-DD-YYYY hh:mm (12 hour clock)
- MM-DD-YYYY HH:mm

As you can see there are no seconds in the format.

[2021-07-21 08:48] #2676 closed

[2021-07-21 09:30] naefp commented on #2678
No, unfortunately I can't see where it happens. Just from the exception information and the by looking into bootstrap.js, it seems to be something with the Tooltips. But we have a lot of tooltips in several components and they are working well. Until now, I don't have any idea where to take a closer look.

[2021-07-21 10:06] naefp commented on #2678
Ok, I just found the component and the 2 tooltips, which are causing the exception. When I comment out these, I don't have no more exceptions. Are we doing something bad here? (At least, these lines worked without exception until 0.9.4-preview6)

[code]

[2021-07-21 10:53] GilShalit commented on #2537
yes, i will do it today or tomorrow.

[2021-07-21 11:39] Luk164 opened #2689 "Border not working on Material design"
**Describe the bug**
Border, as described in https://blazorise.com/docs/helpers/utilities/ is not working for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Install blazorise with material
3. Add spans from aforementioned part of docs
4. See error

**Expected behavior**
Borders are created as expected

Sample code:

[code]

**Screenshots**
![image](https://user-i

[2021-07-21 11:51] stsrki commented on #2689
It's working. It's just that you don't have any styles on the span elements. In the demo, I have added some default styles so that they can be seen and you should also make it for your own project.

[2021-07-21 12:13] Luk164 commented on #2689
@stsrki Oh ok, I thought it was supposed to be built-in like all the other stuff. Maybe consider mentioning that in the docs?

[2021-07-21 12:17] robalexclark opened #2690 "DataGrid multiselect - maintain selected rows after refresh"
I have a datagrid as follows:

[code]
After I have worked on the @selectedAnimals, saved and refreshed from the db I would like the currently selected animals to be maintained on-screen. I note that the list of @selectedAnimals still does have the animals, but the datagrid does not actually show that these rows are selected and the DataGridMultiSelectColumn does not have the checks against these a

[2021-07-21 12:21] Luk164 opened #2691 "Switch sizes in material demo broken"
**Describe the bug**
I just noticed the switches in Switch Sizes card at https://materialdemo.blazorise.com/tests/misc-forms are a bit broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://materialdemo.blazorise.com/tests/misc-forms
2. See error

**Expected behavior**
A bigger switch is displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/30559213/126

[2021-07-21 12:25] stsrki commented on #2689
Done!

[2021-07-21 12:25] #2689 closed

[2021-07-21 12:28] stsrki commented on #2691
What happened there 😅? Definitely a bug. Thanks for letting us know.

[2021-07-21 12:29] David-Moreira commented on #2690
If you refreshed the data from the bd... Then certainly you have fresh data and new in memory reference for your items and the selectedrows information is stale, because internally Datagrid compares items by reference, even if the information is basically all the same.

This should happen for both selectedrow and selectedrows if I'm not mistaken.
Which means that you should take a look at the prev

[2021-07-21 12:34] Luk164 commented on #2691
If you cut out the active one you could pass it off as "modern art" 🤣

[2021-07-21 12:53] robalexclark commented on #2690
Got it - I saved the IDs on the rows into a list, did a refresh and then repopulated selectedAnimals from those rows wiith those IDs

[2021-07-21 12:53] #2690 closed

[2021-07-21 12:55] David-Moreira commented on #2690
Exactly. Great! 👍

[2021-07-21 14:57] njannink commented on #2686
I guess with video's that will always be a link to video on something like Youtube. So you will have to configure your own module/handler for this. Here an example how they do this with QuilJS:

https://github.com/quilljs/quill/issues/3226

You will have to parse the delta json to get the linked url and create some download/streaming logic to actually download the video content.

For images this w

[2021-07-21 16:31] hammie1010 opened #2695 "<LayoutHeader Fixed="true"> causes overlap of LayoutContent"
It seems like in 0.9.4.1 LayoutHeader Fixed="true" causes overlap of LayoutContent

[code]

[2021-07-21 18:37] T3charmy commented on #2695
I was having this issue on 0.9.4 as well, ended up having to make my own CSS class to fix this temporarily.

For me the css variable `--b-bar-horizontal-height` was undefined according to chrome debugging.

[2021-07-21 18:38] stsrki commented on #2695
I cannot reproduce it. Can you show a screenshot as an example?

And also please try clearing cache with ctrl+F5.

[2021-07-21 18:45] hammie1010 commented on #2695
![image](https://user-images.githubusercontent.com/12533052/126542676-7bf14e76-e30e-48e9-8782-84d69f5e73ab.png)

vs. (without fixed header)

![image](https://user-images.githubusercontent.com/12533052/126542807-9d67d25e-0c66-4669-9fc0-6b7e4a9729b6.png)

[2021-07-21 19:02] T3charmy commented on #2695
Are you referring to
[code]

in App.Razor? If so I have that in there and same error.

![image](https://user-images.githubusercontent.com/389845/126544831-27981d27-4172-47f3-8b8c-ab5973418900.png)
Is this a value I should be manually assigning or is it calculated automatically?

Looks like the theming is working based on this:
![image](https://user-images.githubusercontent.com/389845/126544938-a13

[2021-07-21 19:19] pjmagee opened #2696 "Transient Services causes issues with Blazor in Maui."
**Describe the bug**

Because normal blazor is on a request scope, I think notification service Event Handlers are registered. But because by default the services are Transient, if I inject Service into a ViewModel and call Message/Alert it will not trigger alert in root App.razor because that component has different NotificationService injected and so the message/alert will not show.

If these se

[2021-07-21 19:54] T3charmy commented on #2695
Ahh digging through some source code for the theme provider I figured out the issue. This is what I was missing.
[code]

Works now. in both 0.9.4 and 0.9.4.1!

I assumed this was automatically calculated on load, apparently that assumption was wrong.

[2021-07-21 20:43] David-Moreira commented on #2685
Hello @drma-dev
Your methods do seem valid from a binding and method contract perspective. And In addition to @stsrki  suggestions.

Could you take a look at your console? If you're letting us know that the popup isn't closing when you save, and there does not seem to be any validation set up... so it might be that the app is crashing and you might have not noticed?

This line here might be throwi

[2021-07-21 21:01] stsrki commented on #2696
I understand the problem. But we cannot register services as a singleton as that would practically break Blazor Server apps. In that case, service would be shared between different sessions and every user would see a message.

The least we can do is to make service implementation public. That way you could re-register it based on your needs. But since it would mean API changes, and we don't allow

[2021-07-21 21:13] stsrki commented on #2695
I don't think I see any issue with your screenshots? LayoutHeader is properly placed about the content.

@hammie1010 Can you try @T3charmy solution?

[2021-07-22 02:04] drma-dev commented on #2685
@David-Moreira yeah, you were right. my intention was to call the update, not the insert. my mistake.

[2021-07-22 02:04] #2685 closed

[2021-07-22 02:42] bestpika commented on #2684
This input mode has a parameter of "step", set this parameter to 1
The seconds will be given when this parameter is set to 1.
![image](https://user-images.githubusercontent.com/5698157/126582760-3c84d73b-5bcd-4139-8bf7-dc2830025950.png)

This is the situation I asked you about earlier in #1255.
Because I used the normal input directly with the step parameter and the content was normal.
Demo: https

[2021-07-22 08:05] snowchenlei opened #2700 "Can I use the component's own functionality directly?"
The current component has fewer features and cannot meet usage requirements. For example, some components contain their own features.I want to use,how to
For example, select, table, cascader of antiblazor

[2021-07-22 08:32] stsrki commented on #2700
Hi, I'm not sure what you mean by "_use the component's own functionality directly_". Can you please explain what is not good with the components and what you want to accomplish? Thanks.

[2021-07-22 09:01] StefH opened #2701 "Name of next development branch ?"
Which branch should I use when I want to add functionality for the next version?

[2021-07-22 09:04] stsrki commented on #2701
We made some changes to make it simpler to contribute. And now we do the development on the `master` branch. While releases will be placed on `rel-*` branches.

https://github.com/Megabit/Blazorise/blob/master/CONTRIBUTING.md#branch-organization

[2021-07-22 10:02] Aarup opened #2702 "Modal dialog moves content"
**Describe the bug**

If I use Blazorise Boostrap to show a Modal dialog when there is a scrollbar on the page, the content on the page shifts a bit to the right when the modal opens, because the dialog removes the scrollbar.

If I use a native Bootstrap modal, the content on the page stays where it's supposed to be

**To Reproduce**

Steps to reproduce the behavior:
1. Make a new page and make su

[2021-07-22 10:25] Jimmys20 commented on #2702
Caused by this commit I believe.

[2021-07-22 10:36] bestpika opened #2703 "[FR] Multi-select with autocomplete"
**Is your feature request related to a problem? Please describe.**

Now there is a single-select autocomplete, but multi-select no autocomplete, so I hope this feature can be added.

**Describe the solution you'd like**

I hope this feature can be similar to JQuery's Select2 extension.
<https://select2.org/getting-started/basic-usage#multi-select-boxes-pillbox>
![image](https://user-images.githubu

[2021-07-22 11:02] Luk164 opened #2704 "In documentation, services link leads to a 404"
**Describe the bug**
This link leads to a 404: https://blazorise.com/docs/services/

**Expected behavior**
A page with list and general information about services.

**Screenshots**
![image](https://user-images.githubusercontent.com/30559213/126629318-2cf68ff3-45ee-44a6-b9c7-79b76c7bb321.png)
![image](https://user-images.githubusercontent.com/30559213/126629354-b9364839-cb7f-4886-8c9b-689af550c6da.

[2021-07-22 12:03] hammie1010 commented on #2695
The LayoutHeader is covering/overlapping the LayoutContent.  No the solution didn't work in my case.

[2021-07-22 12:47] #2701 closed

[2021-07-22 13:33] StefH opened #2705 "Missing step in documentation?"
In step 2:
https://github.com/Megabit/Blazorise/blob/master/CONTRIBUTING.md#running-documentation

I get an error:
[code]

So I think that before you can do `bundle exec jekyll serve`, you need `bundle install`?

[2021-07-22 13:36] stsrki commented on #2705
Yes, you need to install Jekyll and bundle before running docs.

[2021-07-22 14:18] thepra opened #2706 "[Bulma 0.9.4.1] The class .is-rounded is wrongly set"
**Describe the bug**
In `blazorise.bulma.css` the class `.is-rounded` is set as `border-radius: 4px !important;` something that doesn't even exist in the official bulma library.

**To Reproduce**
Steps to reproduce the behavior:
1. Update the NuGet package from `0.9.4` to `0.9.4.1`
2. Start you front-end and all your roundings are wrong

**Expected behavior**
I expect the class `.is-rounded` to be

[2021-07-22 14:25] stsrki commented on #2706
It seems I have chosen the wrong class name for the utility. Thanks for reporting it. I will change it to something else so that doesn't clash with Bulma classes.

Maybe `has-border-rounded`.

[2021-07-22 16:55] Luk164 opened #2708 "Tabs with selectors on the bottom but stuck to the bottom of a window"
**Is your feature request related to a problem? Please describe.**
A new tab position, bottomWindow, which makes the selectors position relative to window and pins it to bottom (see screenshot).

![image](https://user-images.githubusercontent.com/30559213/126678585-22e185a6-a736-4965-99a6-125e7d1bec49.png)

**Describe the solution you'd like**
A clear and concise description of what you want to ha

[2021-07-22 17:55] David-Moreira commented on #2703
Hello @bestpika
We are aware that these type of features are well sought after. Unfortunately we didn't have enough time in 0.9.4 to plan and execute it, but have already made quite a few improvements to AutoComplete in 0.9.4, check out: #2548

We will consider this for 0.9.5. Also Related: #2528

[2021-07-22 18:00] David-Moreira commented on #2633
Well even if @uzochiapa  does not get back to us, we could consider the Draggable and Dropzone components feature @stsrki?
Seems like a nice one to have.

[2021-07-22 18:32] gkapelevich opened #2709 "Tooltip doesn't display when Inline is true"
**Describe the bug**
Tooltip doesn't display when Inline is set to true (version 0.9.4.1).

**To Reproduce**
[code]
`Inline="false"` works fine.  Adding `display: inline-block;` style inline or in CSS also works.

**Expected behavior**
Tooltip should display.

[2021-07-22 20:40] stsrki commented on #2708
I don't think this needs to be implemented in the library because it's not that common, and also with just a little CSS you can already do it yourself. Here I just modify a couple of lines to move tabs at the bottom. I'm sure you can do it better.

First, adding a custom class to a simple:

![image](https://user-images.githubusercontent.com/900302/126706588-c4549736-152c-46d6-bd85-55033e06def5.png

[2021-07-22 20:51] stsrki commented on #2703
Thank you for the recommendation but considering we already have a tracking ticket for this feature I will close the ticket.

[2021-07-22 20:51] #2703 closed

[2021-07-22 21:23] Luk164 commented on #2708
Wait, I get the my-custom-class, but where did the style on the ul element come from?

[2021-07-22 21:37] stsrki commented on #2708
I have added them manually

[code]

[2021-07-22 21:39] Luk164 commented on #2708
Oh, so the ones defined in Tabs is applied to the menu? A thought it was for the whole thing. Now I get it.

[2021-07-23 00:53] snowchenlei commented on #2700
For example,now not have [cascader](https://ant-design-blazor.gitee.io/en-US/components/cascader) component,but antiblazor have.I want to use it

[2021-07-23 07:07] stsrki commented on #2700
Ah, so you want to have a _cascaded_ component so that you can create a hierarchical menu. It could be done with `Dropdown` but we first need to fix some issues with multiple submenus. In any case, it would not be done until v0.9.5 which we just started working on.

Your best option at this time would be to create it with multiple components. Something like in this article https://www.mikesdotnett

[2021-07-23 07:55] #2706 closed

[2021-07-23 08:01] #2704 closed

[2021-07-23 08:26] snowchenlei commented on #2700
no.
cascaded component is example.Represents all the components that blazorizse does not currently have but use that the ui contains.
 if now can use these non-existent components in some way and then remove them(some way) when blazorizse implements them.
This is best!
This can compensate for the current shortage of blazorizse components.and can have more time to implement components that are not

[2021-07-23 09:13] #2709 closed

[2021-07-23 10:59] stsrki commented on #2708
Yes, Tabs represent the navigations. But they can be used to contain the Content part. I did this a while ago to make it simpler.

[2021-07-23 10:59] #2708 closed

[2021-07-23 11:00] #2705 closed

[2021-07-23 11:05] stsrki commented on #2702
So it seems we will need to figure if the scrollbar is visible and then made an adjustment accordingly. We'll try to fix if for the next patch.

[2021-07-23 15:11] gkapelevich opened #2712 "Unable to change TooltipOptions.MaxWidth in Blazorise theme"
**Describe the bug**
Changing `TooltipOptions.MaxWidth` doesn't change tooltip appearance.  It still displays with default `max-width` of `15rem`.

**To Reproduce**
App.razor:
[code]

Test page:
[code]
Changed `ColorOptions `appear in UI but tooltip size is still default.

**Expected behavior**
Tooltip should have max size set in theme.  I'd also like to change it on some pages via cascading theme

[2021-07-23 15:50] njannink opened #2713 "Feature: Markdown extension custom toolbar"
Good work on the 0.9.4 release! I'm updating to 0.9.4 and I wanted to switch from the RichTextEdit to the Markdown extension, because basically what I need is a markdown editor and not the full RTE logic.

But when trying to migrate I run into some issues. The EasyMDE component has functionality like QuillJS for manipulating the toolbar, but the current Markdown component offered by Blazorise only

[2021-07-23 16:04] njannink opened #2714 "Markdown editor downloads FontAwesome"
The new markdown editor automatically downloads FontAwesome package even though I use the material icons.

The following needs to be turned off or configurable:

    new EasyMDE({ autoDownloadFontAwesome: false })

[2021-07-23 17:07] David-Moreira commented on #2700
Hello @snowchenlei
We're having some difficulties understanding what your proposal is.

1. We understand that somehow you want to mix different vendor components, specially the one's that Blazorise does not support just yet... So far this is it... Right?

2. Most Blazorise components should already provide a RenderFragment which should enable you to render others different component's inside of th

[2021-07-23 17:26] stsrki commented on #2713
Markdown editor was included near the end of the milestone so we didn't have much time for any new feature. Just the basic functionality. The plan was to add features once people start proposing them. Just like you did :)

So to answer your question, yes, we will add the ability for a custom toolbar.

[2021-07-23 17:27] stsrki commented on #2714
That means we will need to change the API if we would make it configurable. And we cannot disable it because in that case, it will not work for other people.

Best to do it in 0.9.5.

[2021-07-23 18:52] naefp commented on #2678
@stsrki any idea what could be wrong here?

[2021-07-23 19:04] stsrki commented on #2678
Not a slight idea unfortunately. Without being able to reproduce it it's really hard to tell.

What browser you have?

[2021-07-23 19:41] njannink opened #2717 "0.9.4 RichTextEdit gives exceptions"
I updated to 0.9.4 and now exceptions appear in the chrome console:

[code]

Even when I use a plain `<RichTextEdit />` I see these exceptions being logged. The weird thing is that if works normally further. Only these exceptions are polluting my console window. I tried to find the cause of this, but I'm kinda stuck. Also the demo projects of Blazorise don't have these issues. @stsrki maybe you go

[2021-07-23 20:05] naefp commented on #2678
OK. we have implemented a work around in our project, and everything is working fine:

[code]

[2021-07-23 20:37] njannink commented on #2717
I actually found what it is. In my case the QuillJS javascript file was loaded twice, because I forgot to remove the direct link. This was causing the above side-effect. Totally unrelated.

Anyway problem solved

[2021-07-23 20:37] #2717 closed

[2021-07-23 21:32] stsrki commented on #2678
So you only did a null check on an element? That is a good approach and I should add it to the codebase also. But, the bigger question is why is it null in the first place 🤔

[2021-07-23 21:37] stsrki commented on #2678
An `element` is sent through `window.blazorise.tooltip.initialize`, where it is used to create a tooltip instance. So if it is null at that point, it should raise an error. But it doesn't. Only when accessed with `element.querySelector` the error happens. It doesn't make sense...

Could it be that Tooltip is somehow created and disposed fast somewhere in your app?

[2021-07-23 22:49] naefp commented on #2678
That's a good point - this is indeed possible! I will come back to that tomorrow...

[2021-07-24 07:12] naefp commented on #2678
OK, your right!

Here's what we did on several "refreshable" components for one year now:
[code]

[code]

[code]

[code]

### What happened
With updating to .net6 and finally to Blazorise 0.9.4 as well, this became "too fast" and the null exception ton the tooltip element was thrown on one of our components.

### Solution
To fix that I only had to set our "_isLoading" initially to true.
[code]

Th

[2021-07-24 07:47] stsrki commented on #2678
It was a long shot but I guessed it right this time :)

In any case, it's good we were finally able to solve it. Just in case I will also add a null check in Blazorise.

[2021-07-24 07:52] #2678 closed

[2021-07-24 08:09] #2679 closed

[2021-07-24 08:20] stsrki opened #2719 "New documentation app"

[2021-07-24 08:23] stsrki opened #2720 "Split demo app example into more subpages"

[2021-07-24 08:25] naefp commented on #2679
Just for my understanding, this fix should come with 0.9.4.2, right?
I am asking, because it is not mentioned in #2660 and with 0.9.4.1 I still had to override this.

[2021-07-24 08:33] stsrki commented on #2696
https://github.com/Megabit/Blazorise/discussions/2697

[2021-07-24 09:09] stsrki commented on #2679
Yes, it will be in 0.9.4.2.

0.9.4.1 is already out so no way to re-release it.

[2021-07-24 10:19] #2712 closed

[2021-07-24 11:14] snowchenlei commented on #2700
yes.thanks

[2021-07-24 11:42] HaPre opened #2722 "DatagridEditMode.Popup don't close Dialog after Save"
I use DatagridEditMode.Popup in my Datagrids. Before 0.9.4 stable, after pressing Save in the dialog, the Popup closes. Now the popup hides the "body", and the header with the title and the footer with "Save" and "Cancel" are still there and the popup don't close anymore.
<img width="1456" alt="BeforeSave" src="https://user-images.githubusercontent.com/84223333/126867330-d30a2c3a-407e-44dd-85ae-eb

[2021-07-24 12:11] stsrki commented on #2722
@David-Moreira probably something with StateHasChanged. Can you check?

[2021-07-24 16:29] stsrki opened #2724 "Docs 0.9.5"
## Highlights

- .NET 6 ready
- .NET 5 latest version
- JS Modules
- Bootstrap 5 Provider
- Autocomplete tags
- Async refactoring's
- ColorPicker component
- Theme improvements
- InputMask Component

## Breaking changes

- Dropped `NotificationType`, `Message`, and `Title` from `NotificationAlert`
- Removed `void ValidateAll` in favor of `Task ValidateAll` on `Validations` component
- Removed `Tit

[2021-07-25 08:45] David-Moreira commented on #2700
@snowchenlei
I'm sorry.. but language barrier isn't helping here. We'd appreciate if you could make an effort to re-explain your situation, or find some friend or way to voice your thoughts that can translate them to enligsh without loosing most of the original meaning.

So... we still have no idea what your proposal is.

[2021-07-25 08:47] David-Moreira commented on #2724
@stsrki
This seems like a 0.9.4 issue?
-DatagridEditMode.Popup don't close Dialog after Save #2722
Did you happen to add this here by mistake?

[2021-07-25 08:50] stsrki commented on #2724
Yeah it is wrong copy paste. Can you fix it? Im on mobile currently!

[2021-07-25 09:34] ehsangfl opened #2726 "bar chart click"
the click event of bar chart raises multiple times (based on its dataset count)

[2021-07-25 13:01] #2722 closed

[2021-07-26 00:35] #2700 closed

[2021-07-26 07:53] cyuz opened #2729 "Blazorise.Visibility.None not hide Button"
**Describe the bug**
Set Visibility attribute to None, not hide the button.

**To Reproduce**
Steps to reproduce the behavior:
`<Button Color="Color.Danger" Visibility=Blazorise.Visibility.None>MyButton</Button>`

**Expected behavior**
The button should be hided

**Screenshots**
![image](https://user-images.githubusercontent.com/8605253/126952392-ff728d4e-724b-4144-b732-8d7f529c3ea7.png)

**Additi

[2021-07-26 08:00] stsrki commented on #2729
I can see the confusion. `None` means the style will not be applied. To actually hide the element you should use `Invisible` enum.

**Example**

[code]

---

We are actually planning to change the API to remove `None` or make it something else so that this kind of situation doesn't happen. See #2479.

[2021-07-26 08:00] #2729 closed

[2021-07-26 13:45] HaPre opened #2733 "Datagrid Edit-popup should not close by clicking outside of it"
Until now the Edit popup in the datagrid also closes when clicking outside the popup, it seems not to be modal. There should be a way to make the popup modal, perhaps with EditMode="DatagridEditMode.PopupModal". It happens more often that you click outside the popup and then lose all the entries you have made so far.

[2021-07-26 13:45] guillermodimas commented on #2695
Having the same issue after updating to 0.9.4.1

[2021-07-26 14:12] stsrki commented on #2695
Guys, I did more testing, and I have also had the same _issue_ in my new project where the top bar is used without a sidebar, it would mess with the top bar height. The solution is to add HorizontalHeight into theme settings or to define `--b-bar-horizontal-height` CSS variable.

My own example can be seen here: https://github.com/Megabit/Blazorise/pull/2732/files#diff-deb219f50fe5618c34444044a20a

[2021-07-26 14:16] stsrki commented on #2733
Hi @HaPre. I understand the problem and it should be easy to fix. But I don't quite understand what you mean by saying

Our popup is actually a modal, as in, it uses an actual `Modal` component. We just named it Popup in the DataGrid. Maybe that is the confusion here?

[2021-07-26 14:29] stsrki commented on #2733
Our `Modal` component is more generic so it needs to cover both scenarios. That's why we have a cancellable `Closing` API on the Modal. Example: https://blazorise.com/docs/components/modal/#closing

Now we only need to bring that same API on the DataGrid.

[2021-07-26 14:43] HaPre commented on #2733
Yea, that's great and would be fine for me, but how can I do this for the datagrid popup? I don't have a @ref for this internally handled Modal. When I open the window, I should be able to set Cancel = false, and after saving, i could set Cancel = true.

[2021-07-26 14:44] stsrki commented on #2733
It's not possible at the moment. That's why I said we would need to introduce it in the new version :)

[2021-07-26 14:45] HaPre commented on #2733
That's great!

[2021-07-26 18:19] mtbayley commented on #2695
Also suddenly experiencing this issue.
Is there a way to get the actual width of the bar? The size of my bar is different depending on the way the text is wrapped in the header. 88px is good for most screen sizes, but not all.

[2021-07-26 18:59] stsrki commented on #2695
That's actually not a bad idea to get the actual bar size. If theme setting is undefined then I can calculate size and apply the css variable. I will try it and will let you guys know how it goes.

[2021-07-26 19:35] StefanOssendorf opened #2734 "Datagrid-multi-selection: Re-populating the underlying list and maintaining the selection results in a wrong selection"
**Describe the bug**
When datagrid is for multi-selection configured and the Data list is cleared and re-populated including the SelectedRows property to keep the old selection. An old "orphan" selection which is kept in the SelectedRow property is being added to the SelectedRows property which results in a SelectedRows.Count + 1 selection. Where 1 is an old item which necessarily does not exist a

[2021-07-26 21:07] David-Moreira commented on #2734
Hello @StefanOssendorf
We really appreciate that you took your time for such a detailed working example, it really help us with analysing the problem and getting back to you faster.

Internally we set SelectedRows to null if Datagrid is set to `DataGridSelectionMode.Single`. The null comes from your razor code trying to access a null collection:
![image](https://user-images.githubusercontent.com/2

[2021-07-27 00:25] jpacreb commented on #2376
HI David,

Apologies for not following up with you sooner.

I notice a number of changes in the 0.9.4 that I will be wanting to take advantage of, so firstly I’ll attempt to migrate to the latest version and review my own code in the process.  If the problem still exists I’ll be in a better place to provide a minimal repo.

Regards

Ricchard

From: David ***@***.***>
Sent: Sunday, 27 June 2021 4:5

[2021-07-27 04:32] StefanOssendorf commented on #2734
Hello @David-Moreira ,

thank you for your detailed answer as well :-).

Okay, for the `NullReferenceException` I can only facepalm that I missed the usage in the markup. I fixed it in the method though for my test 😂 .

Didn't think about switching dynamically from Multiple to Single or vice versa. Could be a use case, that should not throw.

Thanks for the work around, quick fix and maybe even a

[2021-07-27 07:05] stsrki commented on #2734
@David-Moreira should we fix this for 0.9.4 or 0.9.5?

[2021-07-27 07:07] stsrki commented on #2734
Nvm, it's too early and I've just seen your PR 😆

[2021-07-27 07:12] #1991 closed

[2021-07-27 07:12] #2734 closed

[2021-07-27 09:26] stsrki commented on #2695
Good news. I was able to calculate bar height and apply the theme variables if it is already undefined.

I will need to do more tests before final merge.

[2021-07-27 12:25] #2726 closed

[2021-07-28 10:17] robalexclark opened #2740 "Suggestion: For DataGrid Virtualize can we change Style=height... to be max-height?"
I'm using the virtualize datagrid feature along with setting the height using VirtualizeOptions. This works well, except when there are few rows in the datagrid then the datagrid size doesn't shrink to match (when using Paged it does). This means there is a blank space on my page...

Instead of outputting height, can you use max-height (or add another option to output max-height instead of height)

[2021-07-28 10:32] stsrki commented on #2740
We can add it but I'm not sure everyone would prefer to have `max-height`. And you can easily override it with some custom CSS selector.

@David-Moreira What do you think?

[2021-07-28 10:50] robalexclark commented on #2740
I can't easily override it in css because I am setting the height dynamically:

` VirtualizeOptions='new() { DataGridHeight = browser.Height-120 + "px" }'`

The browser.Height comes from using Ed Charbenaus BlazorSize package

[2021-07-28 12:09] stsrki commented on #2740
Yeah, I understand. It makes sense to add DataGridMaxHeight. Then if any option is defined it will be used.

[2021-07-28 15:09] GilShalit commented on #2537
Ouch, sorry, that took longer then I planned...

The repo is at https://github.com/GilShalit/ModalRepo.  The behavior is the same after upgrading to 0.9.4.1 .

Thanks for the awesome project!!!

[2021-07-28 17:17] JasonTFifer opened #2742 "Steps Content"
Is there away to get the Steps Items to appear below the Content?  I'm building a set up wizard and when I follow the provided documentation, the Steps appear above the Step content. I'd like to have the Steps appear below. Is this possible?

[2021-07-28 21:12] stsrki commented on #2537
@GilShalit I tried your project and I don't see a problem with it. The expected behavior for Modal is to close when you click on the backdrop. And also, Modal is always present in the DOM, otherwise, it would not be able to react to any action like `Show` or `Hide`.

I have once again read your messages, and maybe you want to prevent the modal from closing? If that is the case then you only need t

[2021-07-28 21:27] stsrki commented on #2742
It is possible but it would require some work. If we're talking about the Bootstrap provider then swapping `step-text` and `step-circle` elements would be enough. You can do it by creating a custom `Step` component that inherits from Blazorise `Step`.

Create a new component name it `ReverseStep.razor` and copy:

**ReverseStep.razor**

[code]

**ReverseStep.razor.cs**

[code]

Then override compon

[2021-07-28 21:33] JasonTFifer commented on #2742
Sorry, I should've specified. It's for the Bulma provider. I was a little confused regarding the Steps vs StepsContent information on the documentation page. I didn't know if breaking things out to StepsContent would be the way to go or not.

[2021-07-28 21:43] stsrki commented on #2742
:)

For Bulma it is similar process. I played a little in DevTools and after swapping elements I only needed to adjust some CSS

Same as before, create **ReverseStep.razor**, while **ReverseStep.razor.cs** is not needed in this case.

Copy:

[code]

and custom CSS somewhere on your site

[code]
Adjust if needed.

[2021-07-28 21:44] JasonTFifer commented on #2742
I'll give it a try and report back. Thanks!

[2021-07-28 22:29] David-Moreira commented on #2740
@robalexclark
If you're doing it dynamically... have you tried setting the Datagrid's `Style` parameter to the desired max height? That should work solving your problem.
Let us know if it works.

As for your feature request, we'll take a look if it makes sense to add or not. If we add it, it'll be for 0.9.5.
So to manage expecations... on first tought, it seems more of a standard styling configura

[2021-07-28 23:01] JasonTFifer commented on #2742
I'm not sure this is going to do what I'm asking. I may not have been clear before.  I'm wanting to move the step bar below the content... instead of how it's appearing above.
![image](https://user-images.githubusercontent.com/78178498/127406715-afd44f79-1a5a-4f4b-8b6f-a46e39a11a6b.png)

I tried what you had put for the ReverseStep, and maybe I'm missing something, but this appears to only replace

[2021-07-29 06:25] stsrki commented on #2742
I was under the impression you want to move the `Step` text content from below the step circle to above the circle. My mistake.

Back to your question. You only need to swap `Steps` and `StepsContent`

[code]

[2021-07-29 07:41] robalexclark commented on #2740
Setting the Style didn't work very well because the Style is output on a different element to height.

`<div class="table-responsive table-fixed-header" style="height: 500px"><table id="BulkAllocationsGrid-DataGrid-0" class="b-table table table-striped table-bordered table-sm b-datagrid" style="max-height:1200px">  `

I tried to `unset `the height and that meant I didn't get a fixed header (I'm gu

[2021-07-29 07:49] robalexclark commented on #2740
But yes the height of a datagrid does work differently from `Virtualize `to `Paging `presumably because paging doesn't need a height of some sort set (?)

So, if I was being pushy :-), I would sorta say this is a bug because on `Paging `the height is automatically set dynamically whereas on `Virtualize `it becomes fixed (and this issue can be fixed by outputting that height as `max-height` instead

[2021-07-29 09:05] LJek77 opened #2745 "ModalSize.ExtraLarge is same width as Large using Material provider"
ModalSize.ExtraLarge is same width as ModalSize.Large using Material provider

Steps to reproduce the behavior:
1. Open https://materialdemo.blazorise.com/tests/modals
2. Click on 'Large Modal', remember width of dialog on screen
3. Click on "Extra Large Modal", measure width of dialog
4. Be convinced of similarity

Expected behavior: ExtraLarge size must be wider than Large, as with Bootstrap pro

[2021-07-29 09:57] AlexTeixeira opened #2746 "Carousel stop working"
**Describe the bug**
Carousel stop working with version 0.9.4.1 bug working in 0.9.3.6

**To Reproduce**
Just implement documentation code

[code]

**Expected behavior**
To do not have the exception ( Have a look to Additional context )

**Additional context**

[code]

[2021-07-29 10:05] GilShalit commented on #2537
Got it - works fine obviously.  I was thrown by your comment that 'Yeah, it shouldn't be able to interact with the main page.' which I took to mean that I shouldn't be able to click on the main screen...

Anyway, all good, can be closed, and thanks!

[2021-07-29 10:06] #2537 closed

[2021-07-29 14:03] PatrickBig opened #2747 "Sider layout with header on top does not render properly"
**Describe the bug**
Layout with sider and header on top does not work properly.
See documentation example here:
https://blazorise.com/docs/components/layout/#sider-with-header-on-top

When using this layout the sider pins to the upper left hand corner covering part of the top header.

There is also a gap in the lower left corner that is the same height as the top header.

**To Reproduce**
Steps t

[2021-07-29 14:10] JasonTFifer commented on #2742
I may be running into a bug. And full disclosure, I'm still on 0.9.3.10 because I haven't had a chance to test 0.9.4 yet. But this is what I get when I do StepsContent and Steps as you mentioned above.

![image](https://user-images.githubusercontent.com/78178498/127506143-d78a36ec-35ac-4ed0-8b2f-94d6be8cddd8.png)

Each StepPanel gets rendered to the screen and the Steps never show up. I had actual

[2021-07-29 14:15] stsrki commented on #2742
Can you remove `<Items>` tag from `Steps`?

[2021-07-29 14:19] JasonTFifer commented on #2742
Getting closer, but all of the StepPanels are still rendering to the screen. (Main Location and Thanks for Choosing are separate Steps).

![image](https://user-images.githubusercontent.com/78178498/127508479-e9bd2163-3a5a-4017-9e2b-df859018e4a0.png)

[2021-07-29 14:29] #2695 closed

[2021-07-29 14:55] stsrki commented on #2745
Hi @LJek77, I have investigated and the reason why it doesn't work is that we have an older version of djibe material. We will update it and release a new demo.

In case you also need to update material you can download it from https://djibe.github.io/material/

[2021-07-29 14:55] #2745 closed

[2021-07-29 15:25] MichalCadecky opened #2749 "Conditional localization/pluralization"
**Is your feature request related to a problem? Please describe.**
There are some languages (e.g. Slovak) which have different forms of words based on the context. I believe this is mostly related to numbers and plural forms. Blazorise currently does not support this kind of localization. Good example is pagination.

**English**
0 big items
1 big item
2..N big items

**Slovak**
0 veľkých položiek

[2021-07-29 17:13] stsrki commented on #2749
Croatian has similar _pluralization_ rules so I'm familiar with the concept. For now, I want to leave Blazorise localization as simple as possible so no planning on this feature at the moment.

In any case, I will leave it open for the future as it is a nice feature to have.

[2021-07-29 18:04] louisgurung opened #2750 "Async Validation for DataGrid"
Could you also add Async Validation for DataGrid? Thanks.

[2021-07-29 23:14] kofinn opened #2751 "Visual bug BarEnd BarDropdown"
**Describe the bug**
Visual bug, when using Layoutsider + BarEnd + BarDropdown. This bug is present in demo page too (See screenshot).

https://github.com/Megabit/Blazorise/blob/master/Demos/Blazorise.Demo/Layouts/MainLayout.razor#L147

**To Reproduce**
Switch sidebar to small mode and move to Utilities icon. BarDropdown will open downwards and part of it will not be visibile unless you scroll dow

[2021-07-30 07:57] stsrki commented on #2747
Removing `Fixed` from `LayoutHeader` seems to work. Although I agree, it should work with Fixed also.

[code]

[2021-07-30 07:58] StefanOssendorf opened #2752 "Bootstrap+Material-Demo: Left-Algined Snackbar hidden behind sidebar-menu"
**Describe the bug**
https://bootstrapdemo.blazorise.com/tests/elements
https://materialdemo.blazorise.com/tests/elements

On both pages the "Left-Algined Snackbar" click shows the snackbar which is partially hidden by the sidebar.
I can not reproduce that with the Bulma and AntDesign.

**To Reproduce**
1. Go to one of the links [Material](https://materialdemo.blazorise.com/tests/elements),[Bootst

[2021-07-30 14:01] #2747 closed

[2021-07-30 14:07] stsrki commented on #2746
I have copy-pasted the same code and no error on my side.

[2021-07-30 14:10] stevenlupo opened #2754 "Problem with Layout After Blazorise Update"
Something happened to the layout with the latest update to Blazorize. It's as if the `LayoutHeader` isn't there and everything got pushed up.

I tried to upload a screenshot but Github keeps erroring when I try.

[2021-07-30 14:11] stsrki commented on #2754
We fixed it already and it will be available in 0.9.4.2.

[2021-07-30 14:43] #2752 closed

[2021-07-30 19:00] David-Moreira commented on #2740
Oh, I'm sorry setting the Styles on the Datagrid, will change the styling of the underlying table as Datagrid is based on a Table.
So for workaround you'd have to set a fixed css style or if you really want to set it dynamically... do some javascript solution.

Virtualize is based on the OutterDiv for scrolling capabilities... And that's where you need to make the change.
`<div class="table-respon

[2021-07-31 12:47] stsrki opened #2757 "Add Select method to input components"
Add `.Select()` method that will select all text inside of the input component.

The component that needs to have the feature are:

- NumericEdit
- DateEdit
- TimeEdit
- TextEdit

[2021-07-31 12:57] stsrki opened #2758 "Error when edit button clicked in datagrid row with a complex object property"
https://support.blazorise.com/issues/5/Error-when-edit-button-clicked-in-datagrid-row-with-a-complex-object-property

[2021-08-01 10:56] #2758 closed

[2021-08-02 14:16] Luk164 opened #2762 "Allow spinKit to use current theme colors"
**Is your feature request related to a problem? Please describe.**
We currently have to set custom spinkit colors manually, and also change them manually if theme changes.

**Describe the solution you'd like**
Allow spinKit to use current theme colors, same as Button, Icon and all the others.

[2021-08-02 21:13] stevenlupo commented on #2754
I just upgraded to 0.9.4.2 and nothing has changed, I still have this problem.

[2021-08-03 06:23] stsrki commented on #2754
Refresh your app with ctrl+f5. We changed JS files that sometimes get cached by the browser. In that doesn't work please post full code to reproduce the issue on our side.

[2021-08-03 06:27] stsrki opened #2768 "RecursiveObjectActivator: Cyclic Object Traversal"
https://support.blazorise.com/issues/5/Error-when-edit-button-clicked-in-datagrid-row-with-a-complex-object-property

[code]

[2021-08-03 06:28] #2768 closed

[2021-08-03 09:51] Jimmys20 commented on #2762
Similar to what I asked here https://github.com/Megabit/Blazorise/issues/2368 😋

[2021-08-03 10:38] angelru commented on #1987
an example of how to add that button wherever you want?

[2021-08-03 10:40] tommykri opened #2769 "Dropdown toggled-event stops working the second time you open the dropdown"
**Describe the bug**
When using the Dropdown-component the Toggled-event stops working the second time you open the dropdown menu.

**To Reproduce**

Using this code:

    <Dropdown Toggled="Toggled">
        <DropdownToggle>Visible: @Visible</DropdownToggle>
        <DropdownMenu>
            <DropdownItem>Action 1</DropdownItem>
            <DropdownItem>Action 2</DropdownItem>
        </Dropdow

[2021-08-03 10:43] stsrki commented on #1987
[code]

[2021-08-03 12:26] Luk164 opened #2770 "[Question] How to apply current theme color to styles?"
I have a button with an icon. I want the icon to have circle around it, that matches the color of the icon. Right now my style looks like this:
`Style="background-color: transparent; border-radius: 50%; border: 2px solid white; padding: 0;"`

What is the correct way to replace "white" with current font color from theme? Is that even possible? If I try to use \@theme to access color variable I get

[2021-08-03 12:36] stsrki commented on #2770
Maybe use theme variable?

Example: `var(--b-theme-text-white)`

[code]

[2021-08-03 14:07] hammie1010 commented on #2754
I couldn't get the layout to display correct either.  In this example, if you comment out the footer in MainLayout, it'll work.  With the footer it won't.  https://github.com/hammie1010/WebApplication1.git

[2021-08-03 14:25] stevenlupo commented on #2754
@hammie1010 I tried that with my own project and it was still broken.

There's definitely something still wrong. I did the ctrl+F5 thing, and still no luck.

[2021-08-03 14:28] hammie1010 commented on #2754
I agree, something still off when it tries to calculate the bar height.

[2021-08-03 14:28] Luk164 commented on #2770
@stsrki Looks good, thx. I would suggest throwing this into theming docs, I forgot that the css even contains our defined colors.

[2021-08-03 14:28] #2770 closed

[2021-08-03 14:52] stevenlupo commented on #2754
@hammie1010 I tried out your code. If you take the code out of `MainFooter.razor` and paste it directly into `MainLayout.razor` instead, the problem goes away, but I don't understand why. It's the same behavior I'm experiencing though, that is, the content is getting pushed up. But I'm not using a razor component in my `LayoutFooter`, yet I still have the problem--even if I comment out the `Layout

[2021-08-03 15:11] stevenlupo commented on #2754
@hammie1010 I figured it out! -- sort of. _Remove_ the `Fixed="true"` from the `LayoutHeader` and it will work regardless of what's in the `LayoutFooter`.

[code]

I also duplicated this in my own project: if I remove `Fixed="true"`, the problem goes away! But I don't understand _why_ this is the case.

[2021-08-03 16:13] hammie1010 commented on #2754
Yeah - original issue was https://github.com/Megabit/Blazorise/issues/2695

[2021-08-03 21:22] stsrki commented on #2754
I have tried your layout structure on the Blazorise demo and cannot reproduce it on my side. Here is my screenshot

![image](https://user-images.githubusercontent.com/900302/128087986-94e24610-c3f1-457d-852e-eefa3b1693ac.png)

[2021-08-03 21:33] hammie1010 commented on #2754
What happens if you just clone my project?

[2021-08-03 21:38] stsrki commented on #2754
Aaaaaahhh I found the problem. You have two horizontal `Bar`'s. One for the top and one for the footer section. I never expected to have a second horizontal Bar. So in this case that second, or footer bar is overriding the top bar height calculation. And since it is smaller the page content will be behind the top bar.

Now that I know what is the problem I can easily fix it.

[2021-08-03 21:55] #2754 closed

[2021-08-03 22:54] David-Moreira commented on #2769
@stsrki
problem is with `data-toggle="dropdown"` which instantiates bootstrap's Dropdown js and adds an event listener that stops calling blazor onclick.
![unknown](https://user-images.githubusercontent.com/22283161/128095781-5956dd9b-fbda-46c6-984c-1433778ddd84.png)

Proposed solution is to remove:
`data-toggle="dropdown"`
After all we are doing the toggling ourselves. No need for the bootstrap j

[2021-08-04 07:34] StefanOssendorf opened #2772 "NumericEdit does not support Byte with Step-buttons"
**Describe the bug**
Using `Byte` as `TValue` causes an exception when using the step-buttons.

**To Reproduce**
[code]
Steps to reproduce the behavior:
1. Add this to any Blazorise-enabled project
2. Use the buttons shown in the textbox on the page
3. The typical "blazor error pane" is shown

Console error log:
[code]

**Expected behavior**
The value should be increased or decreased as given by t

[2021-08-04 07:54] stsrki commented on #2769
Good job finding the real problem. Unfortunately, removing `data-toggle` breaks the menu. See the `dropright` menu in the screenshot:

![image](https://user-images.githubusercontent.com/900302/128142768-5c9a4621-2a79-44a2-bb3a-dacaba28a5dd.png)

We will need to find a way to calculate menu position without the need for jquery.

---

I agree with the `Toggled` event being redundant. We need to impl

[2021-08-04 09:06] #2769 closed

[2021-08-04 09:06] stsrki opened #2774 "Add VisibleChanged callback to Dropdown"
@stsrki
problem is with `data-toggle="dropdown"` which instantiates bootstrap's Dropdown js and adds an event listener that stops calling blazor onclick.
![unknown](https://user-images.githubusercontent.com/22283161/128095781-5956dd9b-fbda-46c6-984c-1433778ddd84.png)

Proposed solution is to remove:
`data-toggle="dropdown"`
After all we are doing the toggling ourselves. No need for the bootstrap j

[2021-08-04 09:35] stsrki commented on #2754
Guys, can you try RC from MyGet? https://github.com/Megabit/Blazorise#try-preview

I want to make sure it is OK before I release it on nuget.

[2021-08-04 09:45] stevenlupo commented on #2754
Just updated to 0.9.4.3-rc1 and I still have the problem in my project. Did hard-refreshes with ctrl+f5.

[2021-08-04 09:53] stevenlupo commented on #2754
Wait a sec... I got the package from https://www.myget.org/F/blazorise/api/v3/index.json

There isn't anything on https://github.com/Megabit/Blazorise#try-preview

Did I get the right package?

[2021-08-04 09:55] stsrki commented on #2754
https://www.myget.org/F/blazorise/api/v3/index.json should be the right source.

[2021-08-04 10:08] stevenlupo commented on #2754
I just figured out what I was doing that caused the problem in my project: I had a nested `Layout` for some reason (see below). I removed the nesting and it worked. I have to adjust the padding a bit now, not sure how it ended up that way. I discovered it because it worked in the sample project @hammie1010 gave.

This is what I had:
[code]

[2021-08-04 11:02] AlexTeixeira commented on #2746
Hi,

Unable to repro with a fresh project... I will try to make the update in my project Friday and I come back to you :)

[2021-08-04 11:54] tpGroupcare opened #2775 "RadioGroup Component - Accessibility compliance - unable to navigate and select with keyboard"
When I use a RadioGroup then I experience various accessibility (a11y) problems dependent on whether or not the Buttons property is true or not.

If it is true then I am unable to tab press my way through the radio buttons and ultimately select one without the use of the mouse.

if it is false then I can tab press my way through the radio buttons but ultimately I am still unable to select one with

[2021-08-04 12:06] hammie1010 commented on #2754
I still have the same issue if I update to 0.9.4.3-rc1 in my example progject.  Ctrl+F5 didn't resolve.

[2021-08-04 12:24] stsrki commented on #2754
I'm also trying to reproduce it with collapsed and expanded menu when minimized and then resize the browser. All seems to work.

[2021-08-04 12:26] hammie1010 commented on #2754
One way to trying to repo: When you start running the site, look at the size of the top and bottom bar.  The bottom bar will be smaller.  If I grab the lower right corner of the browser and move it, suddenly the bottom bar size matches the top bar.

[2021-08-04 12:33] stevenlupo commented on #2754
Yes, I see it too.

[2021-08-04 12:37] hammie1010 commented on #2754
The other way to repo is to start the site, make the width small enough to collapse the top bar, expand the menu, and click on a link in it, and then widen the page back.

[2021-08-04 12:48] stevenlupo commented on #2754
This is what happens when I do that:

![image](https://user-images.githubusercontent.com/4267021/128183167-19bbde02-298b-4821-b6b6-8d57243e6fe9.png)

[2021-08-04 14:16] stsrki commented on #2754
I should make a different approach to fix this. I Will let you know how it goes.

[2021-08-04 15:05] hammie1010 commented on #2754
Update to 0.9.4.3-rc2, the behavior is the same.

[2021-08-04 20:08] mshogren opened #2777 "Unable to display manually display validation errors using inline editor of DataGrid"
Hi,

I am using the RowUpdating and RowInserting events in the DataGrid to call out to an external service to validate each Item as it is added to the grid or modified.  In my event handler I update the ValidationsSummaryErrors array.

This works fine using the Form or Popup editors, but when I use the inline editor the Validation Summary remains hidden.  I believe the culprit is the following lin

[2021-08-05 07:03] StefanOssendorf opened #2778 "NumericEdit: StepButtons are not disabled when the control is within a disabled fieldset"
**Describe the bug**
When placeing the `NumericEdit` within a `<fieldset>` which is disabled depending on context the `input` control of the `NumericEdit` is correctly disabled but the StepButtons are still shown and working.

**To Reproduce**
Add this to any Blazorise-enabled project:
[code]
1. Start the app
2. Move with the mouse into the input field to make the step-buttons appear
3. Hit Up/Dow

[2021-08-05 08:08] stsrki commented on #2778
I don't think this is necessarily a bug. Blazorise was never meant to detect regular HTML elements, or how they are structured.

What I can do, and what I think is the best way to _fix_ this, is to create a new component `<Fieldset>`. That way we could know when any input is placed inside of it and then apply the disabled or any other state.

[2021-08-05 08:29] StefanOssendorf commented on #2778
Yeah I think the approach with a new component is the better one.

Either a `<Fieldset>` component or just a `DisableableContainer` on which the Disabled-property of Edit-Controls can be inherited from. I don't mind using a component instead of the `<fieldset>` tag :D.

[2021-08-05 09:23] stsrki commented on #2754
OK, guys, I want to give you an update on what I did and what are your options. I was trying to come up with a non-breaking solution since yesterday but without luck. So I reverted everything to where we started and made just a small adjustment so that at least it doesn't break too much.

---

As I already said, Theme HorizontalHeight was always meant to be used for only one Bar, which is placed a

[2021-08-05 09:35] tommykri opened #2779 "Modal Error - Cannot read property 'style' of null at Object.resetAdjustments"
**Describe the bug**
When I want to dynamically show/hide a modal dialog entirely based on user interaction where the modal is removed from HTML markup when not open I get an error when closing the modal from a button click inside of the modal.

If you click outside of the modal to close it, there are no errors.

**To Reproduce**
Use this code:

[code]

Steps to reproduce the behavior:
1. Click on

[2021-08-05 09:58] StefanOssendorf commented on #2779
I think you are using the modal not the way it's inteded to be used.
According to doc you should (must?) use a the following apporach:
[code]

[2021-08-05 10:03] stsrki commented on #2779
The recommended way is to always have Modal in the DOM but it's not a requirement. So this error is definitely a bug. Thanks for the report and the way to reproduce it?

[2021-08-05 10:11] #2779 closed

[2021-08-05 10:29] tommykri commented on #2779
We encountered this issue in a list where each item has it's own Modal with dynamic content so we wanted it to completely go away from the DOM when we close the modal, to not have unnecessary modals in the DOM. I might refactor this to always have a single Modal in the DOM where content changes based on the selected item, but that requires some work. Nice to see a fix for this. Thanks for a quick

[2021-08-05 11:47] #2775 closed

[2021-08-05 11:48] tpGroupcare commented on #2775
It came to my attention that RadioGroups you can control with arrows.

Switches you toggle with space and not enter.

[2021-08-05 15:16] guillermodimas commented on #2754
I tried this and it does fixed the Layout placement, but there's still an overlay preventing any buttons/links from the LayoutContent from being pressed.

[2021-08-05 17:35] hugomarshall opened #2784 "NumericEdit ValidationError doesn´t work"
The NumericEdit works with feedback ValidationError ?
I´m trying to use to show friendly message and doesn´t show when error occurs!

Ex.:
[code]

[2021-08-06 06:11] stsrki commented on #2784
It's a bug. Step buttons are messing with bootstrap styles and text is not visible, although it is present in the DOM. Until I manage to fix it you can hide step buttons as a workaround by `ShowStepButtons="false"`.

[code]

[2021-08-06 10:18] Aarup commented on #2702
Hi again, I can see on the changelog for 0.9.4.2 that this issue is mentioned as fixed, unfortunately I'm still experiencing the issue - I've updated my test repo - https://github.com/Aarup/BlazoriseModal - to 0.9.4.2 where the error is still visible.

[2021-08-06 13:24] ehsangfl opened #2785 "datagrid begin edit"
if entity has an complex property with no default constructor, this exception will thrown

`Default constructor not found for type [complex type]`
stack trace is
[code]
blazorise version : 9.4.2

[2021-08-06 13:30] stsrki commented on #2785
Can you try the latest 0.9.4.3 preview? This problem should be fixed.

https://github.com/Megabit/Blazorise#try-preview

Let us know how it goes.

[2021-08-06 18:29] JGSilverman opened #2786 "Mode="BarMode.VerticalInline" throws JS Interop Unhandled Exception on Blazor Server app"
In my MainLayout.Razor i have a cut and paste from your docs:

[code]
In _host.cshtml _head,_ I have the following:

[code]
In _host.cshtml _body,_ I have the following:
[code]

_Imports.razor has @using Blazorize per docs.

Startup.cs has the following service registration plus required using statements.

[code]

Index.razor is all generic html, no code yet.

Running the Blazor server app throws:

[2021-08-06 21:42] StefanOssendorf commented on #2772
I did a bit of source code digging and found the following:
The "problem" is this line within the `NumericEdit.AddStep()` method.
This `Converters.ChangeType<TValue>( Step.GetValueOrDefault( 1 ) * sign )` does not work for a `Byte` with a domain of (0..255) because `sign` has the value of `-1` due to subtraction.
Changing this line into something like this:
[code]
Get's me into the `MathUtils` cla

[2021-08-07 04:12] Jimmys20 opened #2787 "Bar default height should be auto?"
Hello, in previous versions of Blazorise I could customize the size of the Bar component by adjusting the vertical paddings. This is the usual way to change navbar height in bootstrap as you can see here https://stackoverflow.com/a/43117693/10839134. I want the Bar height to be responsive (smaller on mobile screen) so I use the following code:

[code]

On latest version 0.9.4.2 of Blazorise this a

[2021-08-07 07:07] JasonTFifer opened #2788 "Blazorise Wasm Dropdown toggle bug on 0.9.4.2 Bulma Provider"
**Describe the bug**
Clicking a dropdown open appears to generate an error. When clicking to close, it adds an additional toggle icon to the dropdown.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Dropdown to open
2. Click Dropdown to close

**Expected behavior**
Expecting that the dropdown will display and hide normally, without adding an additional toggle icon and throwing an error

[2021-08-07 10:19] stsrki commented on #2786
Are you on the latest 0.9.4.x version?

[2021-08-07 10:21] stsrki commented on #2786
I cannot reproduce the error.

[2021-08-07 10:26] stsrki commented on #2772
Not sure really if I would want to add specific overloads for `byte` types. It's really an edge case. And you can always _workaround_ it with an `int` field and then cast it in your app to `byte`. Like you already did.

So I think it's best to close the ticket.

[2021-08-07 10:26] #2772 closed

[2021-08-07 10:28] stsrki commented on #2787
To tell you the truth, `--b-bar-horizontal-height` is recently giving me too much trouble and I'm already thinking of removing it in favor of just setting Bar height manually via `Style` or padding like you already do.

The main problem is that the layout content is not working properly when the top Bar is fixed. And it messes everything. Still trying to come up with the right solution without bre

[2021-08-07 10:39] StefanOssendorf commented on #2772
Yeah. But this applies to all unsigned types. But I don't know if that
would change the outcome. Just so you are aware of it

Mladen Macanović ***@***.***> schrieb am Sa., 7. Aug. 2021,
12:26:

[2021-08-07 11:36] Jimmys20 commented on #2787
I'm not sure if I understand the problem correctly but in Bootstrap when using a fixed navbar it is normal that the layout container is pushed to the top of the window behind the navbar. You have to manually add padding-top or similar css rules to push it below the navbar.

https://getbootstrap.com/docs/4.6/components/navbar/#placement

[2021-08-07 11:57] stsrki commented on #2787
It's just that I'm _overly-trying_ to make it work with Blazorise without the need for custom CSS. But yeah, I know, if everything fails, custom CSS will be required

[2021-08-07 13:09] drma-tech opened #2789 "LayoutFooter (fixed) does not appear in browser with address bar"
![image](https://user-images.githubusercontent.com/12803050/128601108-3c79fb1d-944b-4f2e-b662-416b6c634e25.png)

[code]

when I open the site on my cell phone, what happens is: the bottom bar doesn't appear, only when I force the page to scroll down. I don't know if it's something from the bootstrap or the component. or if I missed something in my layout. I know it took me a long time to understan

[2021-08-07 19:50] JasonTFifer commented on #2742
I wanted to provide an update. I've updated to 0.9.4.2 and I'm still running into this issue.

[2021-08-07 21:19] JGSilverman commented on #2786
We're not. We're on 0.9.1 because we're on .NET Core 3.1. 0.9.4 font awesome doesn't work with .NET Core 3.1

[2021-08-07 21:30] stsrki commented on #2786
In the older Blazorise version JSInterop was wrongly called in OnInitialize. That's why you're seeing the error. That was fixed in one of the latest versions. Unfortunately, there is no way to fix 0.9.1 at this point as I don't keep or support the old versions. Your only and best option is to upgrade if possible.

Can you explain what you meant by saying _0.9.4 font awesome doesn't work with .NET

[2021-08-07 21:45] JGSilverman commented on #2786
When downloading the latest version of Blazorise.FontAwesome via Nuget on .NET Core 3.1 app, it threw an error saying 0.9.4 wasn't compatible with 3.1. I didn't have that same error with Blazorize.Bootstrap, just the font awesome package. Which is why I downgraded to 9.1

[2021-08-08 00:55] drma-dev opened #2790 "10 columns grid - bootstrap"
I know that there are some workarounds that can be done via css. but is there anything via component configuration that you can say that the row will have 10 columns instead of 12?

[2021-08-08 10:49] stsrki commented on #2786
It's not the problem with the FontAwesome package. Since v0.9.3, Blazorise support only .Net 5 and up. .NET Core 3.1 was dropped because it didn't support `IComponentActivator` which was needed to implement some core iptimizations at the moment.

[2021-08-08 10:51] stsrki commented on #2790
Do you mean to have always 10 columns, max? No that is not possible. Blazorise column is, and always will be 12 columns based. We don't have any plans to change that behavior.

[2021-08-08 11:00] stsrki commented on #2788
I cannot reproduce it on my side. Is there any chance you have some custom JS file that could bind to the dropdown and change the toggle behavior? Can you share the content of your index.html?

[2021-08-08 12:36] drma-dev commented on #2790
I don't mean always.  in Bootstrap there is a way for you to decide how many columns you want to work by changing the css.  in that case, you would make each column 10% wide.

[2021-08-08 12:47] stsrki commented on #2790
Yes I know, but even with bootstrap it means for you to manually download source code and then compile it. In the end you're left with a custom bootstrap css that is only valid for you own project. Now imagine doing that for every other Blazorise provider like bulma or AntDesign. It would become a nightmare to support pretty soon.

[2021-08-08 12:58] David-Moreira commented on #2785
Hello @ehsangfl
Datagrid now uses an activator that generates a dummy object for validation purposes behind the scenes. So you should be providing a complex object with parameterless constructor so that it can be generated internally.

We'll be taking a look at this in the future, providing better usage / making it better documented.

[2021-08-08 14:02] ehsangfl commented on #2785
@David-Moreira some types (like spatial types) does not have constructor. additionally, all of my entities inherited from base class, wich has internal/with-parameter cunstructor property type. I cannot wrap all entities inside an complex object with parameterless constructor. I think dummy object is not good solution for validation purpose. I think if you use IEditableObject and its implementatio

[2021-08-08 15:51] David-Moreira commented on #2785
@ehsangfl thank you for raising the concern about spatial types.

I understand if your current implementation does not allow you to implement a parameterless constructor, which I can only advise you to use DTOs if at all possible.

Also thank you for the suggestion about IEditableObject, but I don't think it fits this use case, correct me if you think I'm wrong. Datagrid already implements it's ow

[2021-08-08 18:42] David-Moreira commented on #2777
Hello @mshogren
First of all thank you for digging up the code and suggest where the possible bug is.
So If I got this right, you're mutating the DataGrid [Parameter] public string[] `ValidationsSummaryErrors `{ get; set; } with the validation errors you want to show, right?

Which means you're bypassing the validation system and generating the error messages yourself? Is this right?
So both `Form

[2021-08-08 21:10] Luk164 opened #2791 "Animate only works on a limited amount of items"
**Describe the bug**
I wanted to animate items in list appearing one-by-one, but only a few of the items actually animate and the rest becomes stuck.

Here is what the code looks like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a long list of items similar to the one I showed
2. Start the project
4. See error

**Expected behavior**
Every item in the list appears, one-by-o

[2021-08-08 21:23] drma-dev commented on #2790
I think I found two alternatives, but I can't use any of them:

if I don't set the column size, the bootstrap automatically adjusts.
[code]
it's equivalent to:
[code]
but if i want to define a column for the other resolutions, the component won't let me set null for full hd resolution.
[code]

another solution is that it asks for a string for me to dictate the rules, but the component doesn't acce

[2021-08-08 22:05] Luk164 commented on #2791
Update: It seems that only the components visible at the beginning are animated, the rest seem to be waiting to be shown on screen, but never trigger.

[2021-08-08 22:34] David-Moreira commented on #2791
Easier example to replicate:

[code]
First impressions:
- It seems there is a ceiling, `data-aos-delay="3000"` if value higher then 3000 it won't animate.
![image](https://user-images.githubusercontent.com/22283161/128647576-87acfacb-58cd-4cb7-8647-04d326a03d6f.png)
- Components rendered out of view, are hidden.

We'll take a look, thanks for reporting.

[2021-08-08 22:36] David-Moreira commented on #2791
Oh wait...
@Luk164
![AnimateLimitation](https://user-images.githubusercontent.com/22283161/128647679-0e8da70c-5f5a-4cc0-babe-9da761faacea.png)
and maybe @stsrki can enlighten us about this limitation. I'm pretty sure, there's gonna be a good reason, haha

[2021-08-08 22:40] Luk164 commented on #2791
There were only three elements in the list in foreach, so I do not think I broke the 3000ms limit.

[2021-08-08 22:45] David-Moreira commented on #2791
You're right, I'm sorry.
So your problem is the items rendered out of view, right?

[2021-08-08 23:11] David-Moreira commented on #2791
I'm testing on Blazorise Demo Page. And having a sidebar seems to affect the scroll detection... Since it works just fine on a regular page. Guessing... something to do with it not having the scroll detection set to the right element. From the AOS examples, not sure if this is configurable...

In the meantime, could you also provide us, with the rest of the components that are on your page?
We'll

[2021-08-09 07:10] stsrki commented on #2791
As far as I know, 3000 ms is the AOS default limit but it can be increased https://github.com/michalsnik/aos/issues/179

[2021-08-09 07:14] stsrki commented on #2777
I think the best solution is to add a new `Errors` field to the `CancellableRowChange` event args provided by the `RowUpdating` and `RowInserting`. Both events are already used for validating the inserted item so it's only natural to be able to return the actual error as a result and then show it on the form.

[2021-08-09 07:21] stsrki commented on #2785
I agree with @David-Moreira, you should be using DTOs, or other domain models, for the DataGrid data items, not the entity models directly.

Regarding the IEditableObject, it is not an option for several reasons. For example, it would force all our users to inherit their models from IEditableObject. Then since we already have our own editing logic it would take too many resources to refactor and I

[2021-08-09 07:22] ehsangfl commented on #2785
@David-Moreira  thank for your response and sorry about my week language.
I think this is a miss understanding. All of my entities have parameterless constructor. this problem is for some properties of entity that does not have parameterless constructor.
like this

[code]
source of datagrid is list of A

B is not another entity. B is some class like Spatial types. this error happen when entity has

[2021-08-09 07:24] #2786 closed

[2021-08-09 08:05] StefanOssendorf opened #2792 "DataGrid: Can't use a class as source without default constructor"
**Describe the bug**
A class used as `TItem` must have a default constructor even though the `NewItemCreator` delegate is set and used.

**To Reproduce**
Have a DataGrid-enabled blazorise project.
[code]

1. Add the code snippet from above
2. Start the application and hit the "Klick me!" button
3. You get the following exception

[code]

**Expected behavior**
A new item should be added without the

[2021-08-09 08:40] stsrki commented on #2792
It seems this is the same problem as in #2785

For now, the only solution is to have a default constructor on your model.

[2021-08-09 08:51] StefanOssendorf commented on #2785
With the current limitation you should remove the `NewItemCreator` delegate to create a new item. Because this let a user believe he can use any kind of type without the need of a default constructor.
Furthermore a DTO must not always have a default ctor. For example I'm now using shallow wrappers to get rid of type incompability (see #2772) where I have a clas like this:
[code]
This would become

[2021-08-09 08:58] ehsangfl commented on #2785
@stsrki Thanks for your answer. as I described in previouse comment,
the problem is not an entity that has not parameterless constructor. all of my DTO has parameterless constructor.
the problem is when entity, have a property which this property type, has not parameterless constructor.
like this

[code]
in this case, Entity class has parameterless constructor, but Geography type (typeof point pro

[2021-08-09 09:30] David-Moreira commented on #2785
Hello @StefanOssendorf
NewItemCreator should work as you'd expect. Just that you are hitting an exception caused by this issue which is also related with activating object instances internally.

[2021-08-09 09:32] stsrki commented on #2785
`NewItemCreator` is not called in this case. I'm now testing to see if it makes sense to use it for validation items.

[2021-08-09 09:34] StefanOssendorf commented on #2785
Hi @David-Moreira
Yes you are right (I created a dup at #2792). But with this the "should have a default ctor" isn't enforced any more. So removing this extension point and only using the InitNewItem would make that clear.

@stsrki
Using the deleagte for the validation items does not make sense. For example I'm creating temporary Ids on creation of the item. With the usage for the validation item

[2021-08-09 09:39] stsrki commented on #2785
@StefanOssendorf I'm just experimenting at the moment. I agree, NewItemCreator doesn't make sense in this case since we're not creating a new item. We're creating an internal object that users should not be aware of.

So far this is promising(https://stackoverflow.com/questions/390578/creating-instance-of-type-without-default-constructor-in-c-sharp-using-reflectio) but now I'm facing another probl

[2021-08-09 10:02] #2792 closed

[2021-08-09 11:23] Luk164 commented on #2791
@stsrki That is not the point. The problem occurs even if the time is left unset, or set the same for all elements.

[2021-08-09 11:26] Luk164 commented on #2791
Here is a downloaded site to illustrate:
[Site.zip](https://github.com/Megabit/Blazorise/files/6954085/Site.zip)

[2021-08-09 11:30] Luk164 commented on #2791
Interesting, after using the following code in the default counter site, everything works as I would like to:

[code]

[CounterTest.zip](https://github.com/Megabit/Blazorise/files/6954120/CounterTest.zip)

[2021-08-09 12:17] drma-dev commented on #2789
complementing: and when I force the bottom bar to appear, the top one disappears.

[2021-08-09 12:53] DDDenisSobek commented on #2297
@stsrki I found the problem. The connection problems have to do with SingleR connection. By default maximum message size is 32 KB. Connection is refused, because the string is bigger than 32KB with image, that JavaScript returns.
Actual my workaround is setting [MaximumReceiveMessageSize](https://docs.microsoft.com/de-de/dotnet/api/microsoft.aspnetcore.signalr.huboptions.maximumreceivemessagesize?

[2021-08-09 12:55] Luk164 commented on #2791
Possiby related issues on AOS (CSS library used by Animate):
https://github.com/michalsnik/aos/issues/675
https://github.com/michalsnik/aos/issues/675

[2021-08-09 12:55] stsrki commented on #2297
Aaahh makes sense. And we already have it increased in the demo server app so that's why it was working.

[code]

[2021-08-09 13:02] David-Moreira commented on #2791
Luk... You're basically just reiterating the analysis previously done...

We'll investigate further...

Thing is we need to figure out how to handle the scroll detection for these cases.

[2021-08-09 14:44] JasonTFifer commented on #2788
Sorry I didn't have a chance to get back to you yesterday. I'll do some more looking and get back to you. I do have some custom JS but it doesn't do anything with the dropdown control. I'm going to create a base project that doesn't include any of my libraries and see what I find. If you'd like me to close the issue for now, that's OK.

[2021-08-09 14:44] mshogren commented on #2777
@David-Moreira thanks for your reply.

After playing around some more I agree with your interpretation that the bug is actually with `Form` and `Popup`

In the `RowInserting` and `RowUpdating` events I couldn't find a way to update the validation status since the `CancellableRowChange` doesn't have a validation status member.  I can see value in having an entity level validator rather than using t

[2021-08-09 15:49] JasonTFifer commented on #2788
OK, I think I figured out what is going on. I've created a base project that doesn't include any of my libraries. I was still seeing the issue. The problem appears to be Font Awesome JS file. If you load FA via their JS and SVG files, the issue happens, but if you load them via the CSS and WebFonts, it does not. But this was not happening with the Blazorise 0.9.3.10 release. I'm seeing it on Edge,

[2021-08-09 15:55] stsrki commented on #2788
Hmm not that I'm seeing it I remember some time ago I had the same problem. But I don't remember what I did to fix it. I think I just used FA css file https://github.com/Megabit/Blazorise/blob/master/Demos/Blazorise.Demo.Bulma/wwwroot/index.html

[2021-08-09 16:06] JasonTFifer commented on #2788
I'll try the CSS file. There was a specific reason I was using the JS method, but I can't think of it right now.

[2021-08-10 00:20] dkonstantinov193 opened #2795 "Value is not recognizable for disabled radio buttons"
**Is your feature request related to a problem? Please describe.**
Consider the following example:

[code]

A user can clearly see the selected value when radio values are enabled (filling the form), but unable to do so when they are disabled (form is opened in read-only mode). Radio group value visuals are the same for selected and not selected options.

**Describe the solution you'd like**
The u

[2021-08-10 08:09] #2785 closed

[2021-08-10 08:37] #2777 closed

[2021-08-10 10:03] stsrki commented on #2702
Should be fixed with the next patch release. If not, please reopen!

[2021-08-10 13:35] Luk164 commented on #1267
@stsrki I would like to reopen this issue because of https://github.com/dotnet/aspnetcore/issues/29349. It should finally be possible.

[2021-08-10 13:37] Luk164 commented on #1280
Forgot to close, issue resolved.

[2021-08-10 13:37] #1280 closed

[2021-08-10 13:44] stsrki commented on #1267
It is for .Net 6 only. And as long we support .Net 5 we will not be able to implement it. The plan is to support .Net 5 until the third quarter of 2022.

[2021-08-10 14:50] Luk164 commented on #1267
@stsrki Noted, I will bring it up again then

[2021-08-10 16:16] topharley opened #2798 "Indeterminate progress is not animated"
**Describe the bug**
Indeterminate progress is not animated.
https://bootstrapdemo.blazorise.com/tests/progressbars and https://bootstrapdemo.blazorise.com/tests/utilities/services are showing correct animated Indeterminate progress, but latest version of sources https://github.com/Megabit/Blazorise is not working in that case anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Download

[2021-08-10 20:21] David-Moreira commented on #2798
I just ran both **rel-0.9.4** and **master** branch. Couldn't replicate. Which branch did you download and what demo did you run?

[2021-08-10 21:22] David-Moreira commented on #2742
Hello @JasonTFifer
From looking at the posted image.
You are missusing the component. The `StepsContent` should be set inside the `Steps` component under the `Content` RenderFragment, otherwise, there's no way for both components to communicate / share state.

Please also check out our docs for how to structure the `Steps` component
https://blazorise.com/docs/components/step/

If you're still havi

[2021-08-10 21:37] robalexclark opened #2800 "Upgrade 0.9.4.1 to 0.9.4.2 causes app to hang (something to do with ShowPager="true"?)"
In two completely unrelated applications (one work and one at home), the upgrade from 0.9.4.1 to 0.9.4.2 causes the blazor server app to hang - the page with a datagrid on never loads.

Reverting back to 0.9.4.1 fixes the issue with no other code changes. Commenting out the Datagrid razor markup does allow the page to load.

Also, bizarrely, when ShowPager="false"  the app works ok, but when I fli

[2021-08-10 21:42] David-Moreira commented on #2800
Hello @robalexclark
can you post the stack trace, if there's any?
Also can you try out the latest RC on https://www.myget.org/feed/blazorise/package/nuget/Blazorise ? So we know if the current RC has the same bug?

Also please post your sample code to reproduce the problem here. Makes it easier for us to test.

[2021-08-10 21:50] robalexclark commented on #2800
There is no error in the output or point at which I can pinpoint the error occurs (frustrating I know) as it doesn't error, it just hangs before the page loads. The best I could do when I was looking earlier was that it hung on an initial entity framework db call, which at first glance seems totally unrelated to blazorise.... I'm suspecting an async type issue.

Nope, using 0.9.4.3-rc2.1 still res

[2021-08-10 22:07] David-Moreira commented on #2800
hmm from 0.9.4.1 to 0.9.4.2 we didn't make too much changes on datagrid, specially on the pager...
only commit I found, was 43fd6122 which introduces a stateHasChanged on the Paginate call, but that should not be an issue at all....

If you're able, we'd appreciate if you could provide us with a repository reproducing the problem.

[2021-08-10 22:11] stsrki commented on #2742
Steps and StepsContent can be used separately. Nothing wrong with that. The only thing I can see that is wrong it the `<Items>` tag inside of the `Steps`. It shouldn't be used when both Steps and StepsContent are used.

[2021-08-10 22:22] David-Moreira commented on #2742
Oh, so that's also supported? My bad, sorry for missleading. Okay. :)

[2021-08-11 01:34] JasonTFifer commented on #2742
All the panels are showing at the same time. The Steps are at the bottom, but the Panels all display.

![image](https://user-images.githubusercontent.com/78178498/128953099-e67ff6c9-99e7-4e07-8d1e-87c73a066adb.png)

The "Account", "Admin Account", "Main Location" and "Thanks for choosing" are all StepPanels. If I do the normal code with Items & Content, it works like it should, but the Steps are a

[2021-08-11 06:57] robalexclark commented on #2800
Morning - I wired up my home project to the Blazorise repos and toggled between 47fbbd45a35726c8bd4e73f0c3efa316b9ad80d8 and 43fd6122543964910c33dfa51c7fef1d018598e6.

47fbbd45a35726c8bd4e73f0c3efa316b9ad80d8 - works
43fd6122543964910c33dfa51c7fef1d018598e6 - hangs.

Thats all I have time for at the moment but will try and look a bit closer later on.

[2021-08-11 08:22] David-Moreira commented on #2742
Yes. Would need to see like...every code that is part of that image.

Can you replace the components inside the step panels with just regular strings and confirm if it still happens or not? Because what I was trying yesterday was pretty much the same, with the exception of having text inside the step panels instead of components... (not that it should matter...but helps troubleshoot )

Is it viabl

[2021-08-11 08:54] topharley commented on #2798
It is something on my computer, i've checked it on another and it is working fine.
Sorry for inconvenience

[2021-08-11 08:54] #2798 closed

[2021-08-11 08:57] stsrki opened #2801 ".Net 6 and 7 features"
In this ticket, we will make note of features that we want to implement in the future but are currently only part of .Net 6

- **generic parameters as numbers** https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-7/#early-net-7-feature-preview-generic-math
- **query string as parameters** https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-7/#supply-blazor-compon

[2021-08-11 09:32] #2795 closed

[2021-08-11 10:34] DDDenisSobek commented on #2297
@stsrki Changing the behavior (like described) or extending documentation of RichTextEdit would be nice or?

[2021-08-11 10:44] stsrki commented on #2297
I would just extend documentation with the note about MaximumReceiveMessageSize for server-side projects.

[2021-08-11 10:54] annaarun opened #2803 "Is there any way to change the pagination position(Left and Right) in Datagrid in Blazorise?"
Is there any way to change the pagination position(Left and Right) in Datagrid ?

[2021-08-11 10:55] #2788 closed

[2021-08-11 10:56] stsrki commented on #2746
Hi, any luck with the repro project?

[2021-08-11 11:29] #2150 closed

[2021-08-11 13:23] hugomarshall opened #2804 "MessageService customization error"
I´m trying to customize the MessageService text buttons and icons but they ignore my changes...
I´m doing something wrong or it´s a bug ?

`await MessageService.Confirm("Existem dados que ainda não foram sincronizados com o servidor, deseja carrega-los ?", "Carregar dados", options => new MessageOptions { CancelButtonText = "Não", OkButtonText = "Sim", ShowMessageIcon = false })
`

[2021-08-11 14:08] stsrki commented on #2804
You're using options wrong. You don't need to create a new instance(`new MessageOptions`).

And replace `OkButtonText ` with `ConfirmButtonText`.

[code]

[2021-08-11 14:08] #2804 closed

[2021-08-11 14:30] JasonTFifer commented on #2742
I can't post the code for that project because it's an active product we're working on but aren't ready to publish publicly yet. I have reproduced the issue in a throw-away project I created for another issue I posted on here. This project is Blazor WASM and Blazorise only; it does not contain any of my custom code. The issue is still happening.  I'll work on posting the code to Github, but for no

[2021-08-11 16:06] guillermodimas commented on #2754
Any updates on this?

[2021-08-11 18:03] robalexclark commented on #2800
I have a repro for you:

https://github.com/robalexclark/BlazoriseBug

Run and click on the menu bar Setup -> Colonies

The attempt to load page Colonies.razor will hang

If you rollback to blazorise 0.9.4.1 and re-run, a basic grid will show.

[2021-08-12 02:29] austibor opened #2806 "Select with bind is not updating when value is null"
Hi,

I got the following code:

[code]

The problem:

I can select the documents and they will get assigned to the SpecDocumentId just fine.
When I select the 'Null' option the binding setter on the SpecDocumentId won't get called and value doesn't get updated.
The drop down in UI will show 'Null' selected but the SpecDocumentId will return previous integer value instead of null.

[2021-08-12 06:01] stsrki commented on #2754
Should be done with the 0.9.4.3 release from yesterday.

[2021-08-12 06:51] stsrki commented on #2806
This is a known issue. The problem is in how browsers work in general. When you have an empty value for the `<option>` element it will take its **text** or content and use that for the selected value. Which is obviously wrong.

Instead of `Null` text leave it empty and see if that helps, eg `<SelectItem TValue="int?"  Value="@((int?)null)"></SelectItem>`

[2021-08-12 09:57] austibor commented on #2806
Thank you, that did the trick.

[2021-08-12 09:57] #2806 closed

[2021-08-12 11:32] sturlath opened #2807 "Unhandled exception rendering component: Could not find 'blazorise.tooltip.updateContent'"
Hi

I just updated all (abp.io also) my code and Blazorise to 0.9.4.3 and am hitting this error.

I have cleared all browser storage and run in private mode so nothing is cached.

There are two errors (one using VS 2022 and the other VS2019)

Am I missing any update steps?

[code]

I´m also getting this version

[code]

[2021-08-12 11:37] stsrki commented on #2807
It might be ABP `global.js` is bundled with an older version of Blazorise javascript files.

[2021-08-12 12:56] sturlath commented on #2807
Ok thanks!! That led me to fix it

I ran the [bundling tool](https://docs.abp.io/en/abp/latest/UI/Blazor/Global-Scripts-Styles) and it updated the global.js and global.css. I don't know why the `abp update` command didn't do that..

There is this warning `"Unable to minify the file: AuthenticationService.js. Adding file to the bundle without minification."` though.
![image](https://user-images.git

[2021-08-12 12:56] #2807 closed

[2021-08-12 14:33] JasonTFifer commented on #2742
That did it. Thank you!

[2021-08-12 17:10] jbarrineau06 opened #2808 "Datepicker value is reset when using @bind-Text with MemoEdit"
Datepicker value is reset when using @bind-Text with MemoEdit

**Describe the bug**
Typing in a MemoEdit component causes the Datepicker value to be reset to its initial value on load. Unsure if this applies to other controls as well.

**To Reproduce**
I created a new Blazor WASM project, ASP.NET Core hosted PWA, installed Blazorise and Blazorise.Bootstrap packages, and used the following code to

[2021-08-12 17:15] stsrki commented on #2808
This is the expected behavior and is how Blazor works in general. You're basically using one-way binding with `Date="Date"` and since Date is always the same on each page refresh it will reset. You need to use two-way binding `@bind-Date="Date"` to make it work.

[2021-08-12 17:22] #2808 closed, assigned to nobody

[2021-08-12 21:02] David-Moreira commented on #2803
Hello @annaarun
we don't support it by default. You'll have to play with css to allocate the pager position.
Simple Example:
![image](https://user-images.githubusercontent.com/22283161/129269315-03e81b79-7bcf-4d70-857f-c451fe29b479.png)

[2021-08-12 22:17] Jimmys20 commented on #2787
In v0.9.4.3 it looks like you removed the top bar height calculation, so now the `--b-bar-horizontal-height` css variable remains undefined and resolves to `auto` by this css rule `height: var(--b-bar-horizontal-height, auto);`

https://github.com/Megabit/Blazorise/commit/bba39fc1321cd6ab04b89ed5269cc562a6f8dd7a#diff-f248585ee81f26c9e214159f0aad07a66043b6c26f30e7e4927f23d0724be92a

For me this is

[2021-08-13 02:02] drma-dev commented on #2790
@stsrki

[2021-08-13 08:03] #2803 closed

[2021-08-13 08:04] #2787 closed

[2021-08-13 08:11] stsrki commented on #2790
The purpose of `ColumnSize.Is()` is to be able to define custom class name rule, not the style. To define the actual style you can use the `Style` parameter, eg `Style="width:10%;"`.

[2021-08-13 09:13] umraopushpanjay opened #2809 "Blazorise DataGrid dynamic column is not removed on datagrid reload"
I have created a datagrid using bazorise. The issue I am facing is that when the user adds query to the text box and press the Start query button the data is populated in the gridview. However if the user press the same button again to get the updated data from db, the new columns and values get appended to the datagrid, meanwhile the old columns and value doesn't get disposed.

Note: If you are w