[2020-12-11 10:26] entuto commented on #1597
In my code I already have StateHasChanged() right after Reset() but it doesn't work.

[code]

[2020-12-11 10:33] RomanJahn commented on #1597
That was one of the first things I tried but did not change behavior.

[2020-12-11 23:20] gerfen commented on #1597
I have the same issue.  Fundamentally the problem is that the input's sibling label element is not getting cleared.  I came up with this fairly horrible hack to work around the issue.  I created this JavaScript method:

[code]

To clear the label I call the method like so:

[code]

And finally in my FileEdit.Changed handler I set the label  like so:

[code]

It's not the most elegant solution but

[2020-12-13 19:53] jinghua395 opened #1606 "Set colors for LayoutSider/SiderItem when item is active"
Hi,

I have a feature request to LayoutSider.

I would like to be able to set the background-color and color when BarItem is Active/Clicked, instead of hardedcoded blue color, to fit the theme completely.

Thanks!

[2020-12-14 08:20] stsrki commented on #1606
LayoutSider is used to structure your app layout. It's not supposed to be styled, at least not directly. You can always use CSS and adjust it for your use case.

[2020-12-14 08:21] entuto commented on #1597
@gerfen thank you very much. It works!

[2020-12-14 09:37] jinghua395 commented on #1606
Thanks for the reply, I am totally agree with you about LayoutSider.

I should rephrase my request:
I would like to set the background-color and color in BarItems when it is become Active(the url match To link).

I am able to set BackgroundColor and Color in Bar component to fit my theme, that's perfect.
However when I clicked the BarLink in one of the BarItems, The "problem" is, I cannot set the

[2020-12-14 11:28] stsrki commented on #1606
Try this

![image](https://user-images.githubusercontent.com/900302/102076277-ca05c100-3e07-11eb-9034-d79edc8d2d56.png)

[2020-12-14 12:49] jinghua395 commented on #1606
Hi,

It is exactly what I was looking for, sorry i missed in the first place.

I tried it, however, I got an error when my webassembly project started up,

![Capture](https://user-images.githubusercontent.com/4208171/102082886-04c12680-3e13-11eb-90f8-f1d550d136c4.PNG)

I also put the same config in your demo project, same error, by using below

    private Theme theme = new Theme
    {
        Bar

[2020-12-14 12:53] stsrki commented on #1606
It might be expecting all properties defined in `ItemColorOptions`. Just set every property in it, and see if it works. I might do a null check for the future versions so it doesn't break.

[2020-12-14 13:13] stsrki commented on #1606
It needs this two:

[code]

I agree, it's a bug and it needs to have better error handling.

[2020-12-14 13:22] jinghua395 commented on #1606
Thanks for the quick reply, yes, setting these two props made it works, thanks a lot.

And thanks for identify the potential bug, if we are creating bug, I would also like to create bug report
It is a minor error from my personal usage.

The Clicked call in `BarLink` (under `BarItem`) does not work, it does not invoke the my method.

[2020-12-14 13:25] stsrki commented on #1606
Just open separate ticket for new issues.

Regarding the Clicked event. You probably have `To` defined and click event is only used when `To` is not set.

[2020-12-14 13:36] jinghua395 commented on #1606
Yes, thanks for the hint, I will try and test.

Just did a complete test on `BarOptions`, it seems the below three props are not working anyways.
![Capture](https://user-images.githubusercontent.com/4208171/102087302-a0ee2c00-3e19-11eb-9839-4bd6490ecea8.PNG)

But I can work with it for now, thanks!

[2020-12-14 15:41] jbennink opened #1608 "Column Aggregate.Average on Average values"
**Is your feature request related to a problem? Please describe.**
On dashboards I regularly display average callduration per Agent. This is cacluated by taking the sum of all calldurations for the Agent and divide by the number of calls made by the agent. Then on the summary Aggregate I display the average over alle agent rows giving me the average "campaign" callduration.
The current DataGridAgg

[2020-12-14 15:55] stsrki commented on #1608
One way would be to use `DisplayTemplate` in `DataGridAggregate` and calculate whatever you need.

The other way could be to introduce a **custom** function for aggregates. Something like

`<DataGridAggregate TItem="Employee" Field="@nameof( Employee.Salary )" Aggregate="DataGridAggregateType.Custom" Function="@MyCustomFunction" />`.

It's just an idea out of my head now.

[2020-12-15 07:55] vbray1979 opened #1609 "Datagrid regression from 0.9.2.2 to 0.9.2.3 onwards"
OnReadData is called twice with the first call not containing "filter"/"sorting" data.
[code]
OnReadData is called twice. In the first call, DataGridReadDataEventArgs do not contain "filter"/"sorting" data. (i.e. PortfolioCode sorting ascending)
`async Task OnReadData(DataGridReadDataEventArgs<PortfolioModel> model)`

This is working fine in version 0.9.2.2

[2020-12-15 09:50] danielheddelin opened #1610 "Layout Content intrudes on the LayoutSider"
**Describe the bug**
LayoutContent can be filled with content in such a way that the entire LayoutContent Area gets placed partially over the LayoutSider.
I have cleaned out the project only to include the necessary code to reproduce:

**To Reproduce**
[code]

**Expected behavior**
Expected behavior is for the content to obey its maximum width and not affect the sider.

**Screenshot**
Blue is the

[2020-12-15 15:44] jbennink opened #1611 "ChartJS (LineChart)Dataset: the ability to add series (Datasets) that are initially not displayed (hidden)"
**Describe the solution you'd like**
Currently the "hidden" property in the LineChartDataset (and probably other Dataset objects) is not implemented. This undocumented property in the Dataset objects in ChartJS enables data series to be initially hidden (not displayed). In the Chart the series is displayed crossed out and by clicking the series label you can show it.
By implementing a "Hidden" boo

[2020-12-15 15:56] jbennink commented on #1608
@stsrki But in the `DisplayTemplate` context is of type `AggregateContext` Even if you could use the `TItem` type that would not give you an object that has access to the values I would need! In the Aggregate column I would need access to the Cumulative sum of (in my case) the Live callduration and the number of calls. My `TItem` has a value "LiveSS" Live call duration in seconds and has a value "

[2020-12-15 16:14] jbennink commented on #596
Late to the game. I like the Field suffix, but find the Check and Radio odd. It's a Checkbox so CheckboxField and RadiobuttonField are more in line with the Field suffix.
In Winforms a TextBox has a Multiline property to distinguish between the html `input type="text"` and `textarea` perhaps  Blazorise could also adopt something like that?

| Current Name | New Name
| - | - |
| TextEdit	| TextFiel

[2020-12-16 12:42] stsrki commented on #1608
With the `CustomFunction` you would get the `Item` and you can then calculate the value with whatever formula you want. You just need to return a result.

With `DisplayTemplate`, you can show any value or content. If you want you can directly use your data-source and calculate the value from there.

[2020-12-16 12:46] stsrki commented on #596
@jbennink I also tend to go with `Field` suffix for the input elements. It feels most _natural_.

The exception is Check, Radio, Switch, and Slider since they are not _fields_ like other inputs, as in, you don't enter values into them. So for them, the suffix is not needed. I know it's not common, but some convention need to change sometimes :)

[2020-12-16 15:22] DDDenisSobek commented on #1572
@stsrki Hey, is this a bug or do i something wrong?

[2020-12-16 15:37] stsrki commented on #1572
It seems like a bug. Going on the list.

PS. sorry for not answering before.

[2020-12-16 16:00] #1455 closed

[2020-12-16 16:04] LukeTOBrien commented on #1455
@stsrki  .... I see you have been busy...

[2020-12-16 16:05] stsrki commented on #1455
@LukeTOBrien Yep. It was NOT easy I must say 😅

[2020-12-16 17:08] LukeTOBrien commented on #1455
@stsrki Still you'll be a better man for it ;-)

[2020-12-16 19:41] DDDenisSobek commented on #1572
No problem.

[2020-12-16 20:44] JaredMRomano opened #1615 "Layout/Bar Header collapse issue in mobile"
**Describe the bug**
If you start the browser window as narrow as possible or on a mobile browser and you're using a layout with a header and a nested bar; when expanding the bar, instead of shfiting the contents below down and increasing height of the bar, it overlays just the menu items on top or below the contents below.

**To Reproduce**
On a desktop, go to the bootstrap demo page and make the

[2020-12-16 20:58] padnom opened #1616 "Cascading"
Hello,
Thx for your work it's awesome.

I try to implemant a another DetailRowTemplate into an DetailRowTemplate.
Look like i have some issue with context.
Does it's possible ?

Thx

[2020-12-17 03:53] sks-ttaylor opened #1617 "Using Bar (vertical), first render as Visible = false"
When my component first renders, I would like to have the vertical bar visible = false. Then let the BarToggler control Visibility.

Is this possible?

[2020-12-17 07:54] stsrki commented on #1617
It seems this is a bug. Setting `Visible="false"` should work, but it's not.

@MitchellNZ Can I assign this to you?

[2020-12-17 07:56] stsrki commented on #1616
Not sure if I understood correctly. Can you give more information and maybe a small usage sample so that we can know what you want to accomplish?

[2020-12-17 07:59] stsrki commented on #1615
It's a bug indeed. Thank you for the report.

[2020-12-17 10:13] padnom commented on #1616
Of course,

 <DataGrid TItem="RgddPeriodesAppel"
                      Data="@appels"
                      @bind-SelectedRow="@selectedAppel"
                      Striped="false"
                      Bordered="false"
                      Hoverable="true"
                      Responsive="true"
                      Sortable="true"
                      Filterable="true"
                      S

[2020-12-17 10:16] stsrki commented on #1616
I see it now. The `context` cannot be determined because you use it inside of another with the same name. The solution is simple. Just give it a different name.

**Example**

`<DetailRowTemplate Context="YourContextName">`

[2020-12-17 10:27] padnom commented on #1616
Thank you very much...
I need to better understand the use of context.
So for each DetailRowTemplate  in need to set a different context.

[2020-12-17 10:27] #1616 closed

[2020-12-17 10:32] stsrki commented on #1616
It's a Blazor convention, to have it named `context` by default. You only need to rename it if you have nested templates or if it makes sense for your use case.

[2020-12-17 11:01] #1606 closed

[2020-12-17 11:05] jinghua395 opened #1618 "Able to set color in header"
Hi,

I would like to be able to set the color (for font) in header, more specifix, for the text in BarItem.

[code]

I've tiered the above, it only working for the sider, but not the header.

[2020-12-17 11:05] jinghua395 commented on #1606
This is identified as a Bug.

[2020-12-17 13:44] mortezabarzkar opened #1620 "Datagrid LoadingTemplate"
How can i invoke loading template to show ?

i need button to reload datagid , but when it invoked loading template dose not shown .

[2020-12-17 13:45] mortezabarzkar commented on #1620
@stsrki

[2020-12-17 14:00] stsrki commented on #1620
It's handled automatically by the DataGrid. And it shows only in `ReadData` mode.

You can't invoke it manually from outside.

[2020-12-17 14:04] mortezabarzkar commented on #1620
ok i know it
but is it better to have reload button template ?

[2020-12-17 14:12] stsrki commented on #1620
hmm it's not a bad idea. But it's better to have an API to force DataGrid to reload.

[2020-12-17 15:28] nielscil opened #1621 "Datagrid SelectedRow default background color"
**Is your feature request related to a problem? Please describe.**
Currently the default background color for a selected row in the DataGrid is bg-primary (bootstrap).

**Describe the solution you'd like**
Bootstrap defines specific [contextual classes](https://getbootstrap.com/docs/4.0/content/tables/#contextual-classes)  for table rows/cells which are more subtle. Could we use the table-primary

[2020-12-17 15:51] stsrki commented on #1621
How come I didn't think of that!? Nice catch, btw. It's a simple fix, so I will add it to this milestone. Thanks!

[2020-12-18 07:34] RomanJahn commented on #1597
Thanks a lot. Works.
Sorry for the delayed feedback!

[2020-12-18 10:48] stsrki opened #1622 "Simplify usage of progress component"
Currently, to draw progress we must use two separate components.

[code]

`ProgressBar` is used for scenarios where we can have multiple progress bars. In the previous example, ProgressBar is redundant because we only have one value to show. So to simplify things the idea is to implement `Value` on a `Progress` so that `ProgressBar` sub-component is not needed for single value bars.

**Result:**

[2020-12-18 11:58] #1244 closed

[2020-12-18 16:19] #1600 closed

[2020-12-18 16:36] stsrki commented on #1621
@nielscil This looks good to you?

![image](https://user-images.githubusercontent.com/900302/102638309-943e4080-4157-11eb-8b1e-91264c83c4cc.png)

[2020-12-19 07:06] nielscil commented on #1621
Yeah, I think it does.

[2020-12-19 12:42] #1621 closed

[2020-12-19 12:52] #1572 closed

[2020-12-19 12:54] stsrki commented on #1595
Fixed with #1619

[2020-12-19 12:54] #1595 closed

[2020-12-19 13:07] #1583 closed

[2020-12-20 13:39] #1172 closed

[2020-12-21 04:16] daveabrock opened #1631 "Getting DI issues with adding Font Awesome icons"
Hello. In my Blazor WASM app, I'm trying to work with font awesome icons. As the documentation states, I added this to my app's `Program.cs` (and also added the files to my `index.html`:

[code]

I'm getting issues with needing to inject `ComponentMapper`.

[code]

When I manually add that, it clears up but asks me to inject another service. Do I need to keep manually injecting service dependencie

[2020-12-21 08:52] stsrki commented on #1631
I would guess you're using 0.9.2 version?

If that is the case you also need to include `.Use` methods

Example from https://blazorise.com/docs/usage/bootstrap/#4a-blazor-webassembly

[code]

[2020-12-21 08:53] stsrki commented on #1631
PS. I noticed you also didn't use `.AddBootstrapProviders()` in your example.

[2020-12-21 10:08] marcusjm commented on #825
Was this started already? I would really like to see this happening.

[2020-12-21 10:15] stsrki commented on #825
@marcusjm Unfortunately no. With all the other work, there is currently no time to commit to this big feature.

[2020-12-21 10:16] marcusjm commented on #825
Sorry if I missed the obvious but is there a guide on deriving your own version in the docs?

[2020-12-21 10:18] stsrki commented on #825
There is no guide for this. You can always look at the source for existing providers.

[2020-12-21 10:23] #1198 closed

[2020-12-21 10:23] marcusjm commented on #825
I suspected that was the case. Well then such a guide can be added to the wishlist :).

[2020-12-21 10:24] stsrki commented on #825
I agree :)

[2020-12-21 11:31] #1402 closed

[2020-12-21 13:31] daveabrock commented on #1631
I'm on `0.9.2.4`. I have this line in `Program.cs`:

[code]

When I try to invoke `UseBootstrapProviders`, I get an error saying it doesn't exist. Do you support .NET 5?

[2020-12-21 13:48] stsrki commented on #1631
@daveabrock

0.9.2.x supports both .Net 5 and .Net 3.1.x.

Starting with 0.9.3 we only support .Net 5 and because of that, `UseBootstrapProviders` and all `.UseXXX` are removed.

[2020-12-21 14:35] stsrki commented on #791
@robalexclark @StefH I know it's a little late but this was not possible before .Net 5 came along.

Currently, I'm working on this and so far I have implemented:

- `IIdGenerator`, to allow for custom generators
- `ElementId` can now be defined as a component parameter

The result, with default settings, looks like this:

![image](https://user-images.githubusercontent.com/900302/102787853-02764380

[2020-12-21 19:18] robalexclark commented on #791
I think, if I understand correctly, that a custom Id can be applied to a component which never changes on each compile/run, then this is exactly what I need - thanks!

[2020-12-21 19:56] stsrki commented on #791
@robalexclark yes that is what is going to be possible now. The only problem is that id will also be applied to all other elements. By default it will be some generated string.

[2020-12-22 01:58] Rambalac commented on #432
Indeed, some bug with stylesheets prevents NavBar display in desktop view.

Commenting that script line did not help for me, I had to comment
`<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">`

[2020-12-22 09:37] stsrki opened #1634 "Create services for messages and notifications"
The idea is to have a set of components and helper services based on the core Blazorise components

## IMessageService

An injected service that will show modal simply by calling a `messageService.Show("This is message", "Custom title")`. Internally it will be based on the **Modal** dialog

## INotificationService

Similar to `IMessageService`, but this will show a toast message instead of full-sc

[2020-12-22 12:07] StefH opened #1635 "Question : Does RadioGroup also support 'complex' classes ?"
In my case I had a 'complex' class `X`.

[code]

[code]

[code]

And setting the value did work, however the OnCheckedValueChanged was never fired.

Is this a known issue, or is something else wrong?

[2020-12-22 12:54] NeoCoderMatrix86 opened #1636 "Slider: Support for Timespan"
I want to use the Slider Component for a replacement for a seekbar for audio playback in blazor. Since in audio playback you normally work with timespans (position, max), I tried using Slider with TValue="Timespan", but this doesn't work, only saying:
"Unsupported type Timespan".

[2020-12-22 13:16] stsrki commented on #1635
I would guess it's the same problem like on other components. Every **value** must be represented as a **string** when presented to the DOM element.

So I would try to `override ToString()` on `X` and make it a combination of different properties, enough to be unique. See if that works.

[2020-12-22 13:20] stsrki commented on #1636
You can use ValueChanged and convert the value to TimeSpan

**Example**

[code]

[2020-12-22 13:21] StefH commented on #1635
My current workaround is to use `GetHashCode()` (which is an integer).

[code]

[2020-12-22 14:05] NeoCoderMatrix86 commented on #1636
Thanks for your help. I will currently use this workaround. But why not add a support for Timespans?

[2020-12-22 14:10] stsrki commented on #1636
TimeSpan goes more into the complex type territory and is too specific so it would complicate stuff. And since you can do almost everything with simple types,(int, short, double, etc.), there is no need to add TimeSpan support.

[2020-12-22 14:21] NeoCoderMatrix86 commented on #1636
Ok, thanks for your support :). I will use the suggested workaround :)!

[2020-12-22 14:21] #1636 closed

[2020-12-22 14:29] marcusjm opened #1637 "Class-less version?"
Wondering since we talked about tailwind. How about a version where you have no defined classes but have to add them yourself. Blazorize Vanilla :).

I mean isn't that what you get without adding any of the supported libs?

[2020-12-22 14:43] stsrki commented on #1637
You can already do that. Inherit from `IClassProvider` and write all your class-names manually, and the register class provider within DI.

Or just use `EmptyClassProvider`, which basically returns `null` for all classnames.

[2020-12-22 16:26] marcusjm commented on #1637
Aha but can I choose none instead of bootstrap as the base theme when using nuget also?

[2020-12-22 16:33] stsrki commented on #1637
That ia what EmptyClassProvider is used for. But in that case you will have no styles at all.

[2020-12-22 18:01] marcusjm commented on #1637
Which is basically what you need for tailwind.

[2020-12-23 01:26] paulosdfigueiredo commented on #1609
This is related with commit c68bcd8d9d00b66cc2fa1ccb3b75445be3eb89b4.

The first call is triggered by SubscribeOnPageSizeChanged before all the columns are hooked.

[2020-12-23 12:15] stsrki commented on #1637
Not sure if we're on the same track. Yes, you can have _vanilla_ Blazorise, without any providers included. Yes you can override `IClassProvider` and then go through the long process of implementing all of the tailwind classes. But, classes are just one side of a coin. You also need to override some of the components in case they have a different structure for the DOM elements.

Also, the problem

[2020-12-23 14:06] marcusjm opened #1641 "Setting CellClass in DataGrid"
Seems there is no way to set the Classes for Columns in the DataGrid. Any reason why there isn't a CellCssClass like for Header?

[2020-12-23 14:39] stsrki commented on #1641
There is. It's called `CellClass` and it can be applied to `DataGridColumn`.

**Example**

[code]

It's a function to allow more control over conditional class-names, based on the current row item.

[2020-12-23 14:41] Mijalski opened #1642 "NumericEdit doesn't have spinner buttons"
**Issue:**
When creating a NumericEdit node I would assume it would have the spinner buttons present on the demo page.

**To reproduce:**
1. Create a node of Type NumericEdit (eg. NumericEdit Value="123" )
2. Open the web page with the node, observe the lack of spinner buttons

**Expected behavior**
Spinner buttons should be present, preferably it could be an option ShowSpinnerButtons on the node.

[2020-12-23 14:48] stsrki commented on #1642
It's a known limitation. The problem is that NumericEdit is using `<input type="text"` to allow more control over string parsing and selections. With `<input type="number"` this was not possible. Pressing up/down keys still works but yeah, I agree spinner button would be great to have. At one point I might implement them, but for now, it's low on a priority list.

[2020-12-23 14:49] Mijalski commented on #1642
Would you mind explaining, why the buttons are there on the demo page?

[2020-12-23 14:50] stsrki commented on #1642
I don't see it

![image](https://user-images.githubusercontent.com/900302/103009164-937e2380-4536-11eb-8c79-ec96d36f6687.png)

What browser do you use?

[2020-12-23 14:51] Mijalski commented on #1642
https://blazorise.com/docs/components/numeric/

[2020-12-23 14:58] stsrki commented on #1642
Ahhh in the documentation. That's a whole another problem and needs a little more explanation :)

It involves a little history. When Blazorise was first created over two years ago, there was no server-side prerendering and all SEO features that we have today. So when I wanted to create documentation pages, I was limited with very bad and slow WebAssembly at the time. So I chose Jekyll as my static

[2020-12-23 15:03] Mijalski commented on #1642
Ok, that's why! I was confused about it.

[2020-12-23 15:04] stsrki commented on #1642
You're not the first 😅

[2020-12-23 17:04] marcusjm commented on #1641
Oh, yeah that would be even better. Is it "heavy" to use?

[2020-12-24 10:04] #791 closed

[2020-12-24 10:08] stsrki commented on #981
While I was working on #791 I decided to not go with this feature. It would make little sense to define ElementReference from outside the component. It's only used internally in a specific places. And `@ref` on a component is different than `@ref` on an element.

If you need to get the underline element you can do it with `ElementId` parameter done in #791. After that it's as simple as `document.g

[2020-12-24 10:08] #981 closed

[2020-12-25 13:59] RobertChanphakeo opened #1644 "BUG: in 0.9.2.4: System.ArgumentNullException: Value cannot be null. (Parameter 'element')"
Blazorise: 0.9.2.4
.NET 5.0

**How to reproduce error**
Upgrade from 0.9.1.2 to 0.9.2.4

**Solution:**
Downgrade from 0.9.2.4 (latest) to 0.9.1.2

------------------------------------
![image](https://user-images.githubusercontent.com/1288153/103153328-f0523600-47e3-11eb-9970-bfaa09300eec.png)

**Error**
---------------
[23:02:02 WRN] Unhandled exception rendering component: Value cannot be null.

[2020-12-25 21:16] gerfen commented on #1599
If you wrap you pages/components in a <div/> and use deep:: in your css/scss, then css isolation mostly works.

[2020-12-26 14:26] RobertChanphakeo commented on #1644
Inspecting "_validations" it was found that there are 16 items in Blazorise.Validation, and two items are null, but im unable to determine which item is null.

Note: this app was working before but something changed in blazorise?

[2020-12-27 03:05] RobertChanphakeo commented on #1644
If I leave only "Date of Birth" field on the form, an exception error occurs.

when I debug it, it show null validations, is that normal?

![image](https://user-images.githubusercontent.com/1288153/103163032-7efa9d80-484c-11eb-9ff2-071abee85660.png)

[2020-12-27 04:10] RobertChanphakeo commented on #1644
@stsrki Source code (with error)
[BlazoriseWebApp.zip](https://github.com/stsrki/Blazorise/files/5744073/BlazoriseWebApp.zip)

[2020-12-27 04:46] RobertChanphakeo commented on #1644
@stsrki I downgraded from blazorise 0.9.2.4 (latest) to blazorise 0.9.1.2 (the issue went away, same code)

Blazorise 0.9.2.4 (error occurs in this version)
[BlazoriseWebApp-0.9.2.4.zip](https://github.com/stsrki/Blazorise/files/5744086/BlazoriseWebApp-0.9.2.4.zip)

Blazorise 0.9.1.2 (no error)
[BlazoriseWebApp-0.9.1.2.zip](https://github.com/stsrki/Blazorise/files/5744087/BlazoriseWebApp-0.9.1.2.

[2020-12-27 05:42] athrayee opened #1645 "Bar component dynamic generation"
Hi,
Appreciate your work with Blazorise. I am using it to do some evaluation and was looking to use bar component, I am wondering if bar component can be dynamically generated based on a json or through code. I see in documentation sidebar extension provides that capability but looks like you have bar component added recently which supercedes sidebar. Could you please provide your input

[2020-12-27 09:46] a-urel opened #1646 "Size attribute is not functional for Addons"
Size attribute doesn't seem to work when used to resize addon labels.

[code]

![image](https://user-images.githubusercontent.com/66084385/103168023-08a46e00-4841-11eb-9c7f-28d59942f547.png)

[2020-12-27 12:56] stsrki commented on #1645
I believe @MitchellNZ already has dynamic Bar generation in mind. In any case, it's not that difficult to do it on your side as a workaround. It's just a basic `for` loop that does all the work :)

[2020-12-27 12:58] stsrki commented on #1646
Hi @a-urel, this is a duplicate of #1474. Probably going to work on it for the next milestone.

[2020-12-27 12:58] #1646 closed

[2020-12-27 12:59] stsrki commented on #1644
It's probably something that I recently did in the patch. Going on the list.

[2020-12-27 13:25] giovannigambino1980 commented on #1184
Hi Alexandr, maybe I'm having the same problem. How did you solve?

Hi Alexandr, maybe I'm having the same problem with the same code. How did you solve?

[2020-12-27 13:46] makhin commented on #1184
My code which is working now

[code]

[code]

[2020-12-27 14:22] rperazzolli opened #1647 "Modal dialog in WebAssembly using .Net 5 throws an exception when opened"
I'm migrating a web page from Blazor Server with .Net 3.1 to Blazor WebAssembly with .Net 5.
When opening a dialog, the following message appears:

System.ArgumentException: There is not loaded assembly with the name 'TableroPecasV5' at Microsoft.JSInterop.Infraestructure.DotNetDispatcher.GetRequiredLoadedAssembly(AssemblyKey assemblyKey) at ....

I guess the assembly name should be TableroPecasV5

[2020-12-27 14:27] stsrki commented on #1647
You probably dont have `Sdk="Microsoft.NET.Sdk.BlazorWebAssembly"` in your WebAssembly csproj file.

Also check our demo projects for reference to see what else you might be missing https://github.com/stsrki/Blazorise/tree/master/Demos

[2020-12-27 15:06] RobertChanphakeo commented on #1644
Btw has any style tags changed from 9.1.2 onwards? There are some issues with styles after upgrading aswell.

[2020-12-27 16:01] giovannigambino1980 commented on #1184
It's very strange.... I'm using **the same** code but nothing happens.
If I write
`Console.WriteLine($"File: {e.File.Name} Progress: {e.Percentage}");`
before
`this.StateHasChanged();`
I see data in debug console scrolling, but ProgressBar position is frozen.

mmm,
thank you anyway

[2020-12-27 16:47] makhin commented on #1184
here is project where I used it
https://github.com/makhin/BorderCrossing/tree/master/BorderCrossing/Pages
UploadFile and UploadFileBase

[2020-12-28 04:03] athrayee commented on #1645
I thought so and thanks for confirming.

 I'll update with my implementation and experience so could provide some thought for the implementation

[2020-12-28 08:04] stsrki commented on #1184
@giovannigambino1980 Are you sure you're using the same code as @makhin ?

In your first example, you only have partial code for ProgressBar, while the full example uses Progress and ProgressBar sub-component.

[code]

[2020-12-28 08:05] stsrki commented on #1647
@rperazzolli Did you manage to fix it?

[2020-12-28 08:09] stsrki commented on #1644
I just realized you're talking about moving from 0.9.**1** to 0.9.2. My brain somehow converted that into 0.9.**2.1** 😅

Yeah, there was a lot of changes between 0.9.1 and 0.9.2, it's hard to tell what changed. https://github.com/stsrki/Blazorise/issues/1024

[2020-12-28 08:38] RobertChanphakeo commented on #1644
Do you know which specific changes caused this bug? How would you know this specific issue has been resolved, via a merge, (there were so many changes was made)?

[2020-12-28 08:40] stsrki commented on #1644
No way to tell at this point. Validations and input fields also had a major rewrite. Once I test and debug your example I will see what is actually wrong.

[2020-12-28 10:02] WAELKASSEM commented on #1599
Here's how you do it.

[code]
[code]
**The Div is very Important**

[2020-12-28 10:52] stsrki commented on #1644
I found your problem. You're working with data-annotations validation but you're trying to validate private member instead of a field inside of you model.

**Instead of**

 `<TextEdit @bind-Text="_dateOfBirth">`

**it should be**

`<TextEdit @bind-Text="_updateAccountRequestRec.DateOfBirth">`

[2020-12-28 11:07] RobertChanphakeo commented on #1644
As you can see from the source code provided, it works in 0.9.1.2 but fails in 0.9.2.4

Note:
1. there is no data annotation validation for "UpdateAccountRequest.Individual.DateOfBirth"
2. DateOfBirth data type is "DateTime" rather than a string , hence the reason to use _dateOfBirth input string, once the user's input is assigned it is then validated, if the string is valid it is then converted t

[2020-12-28 11:14] stsrki commented on #1644
The thing is that as soon as you apply `Model` on `Validations`, it will go into the data-annotations mode so it expects to find the binded field on the model.

And that is what you have on your example

`<Validations @ref="_validations" Mode="ValidationMode.Auto" ValidateOnLoad="false" Model="@_updateAccountRequestRec">`

The older code in **0.9.1.x** was more _forgiving_ so that's the reason why

[2020-12-28 11:22] stsrki commented on #1644
OK I made some more testings and you can make it work by making `_dateOfBirth`  a public property.

`public string _dateOfBirth { get; set; } = string.Empty;`

[2020-12-28 11:53] rperazzolli commented on #1647
I checked the project and the first line is <Project Sdk="Microsoft.NET.Sdk.BlazorWebAssembly">.
On the other hand, I have downloaded the test project, added a modal dialog and it worked properly.
I have to investigate what difference exists between both projects.
Thanks a lot.

[2020-12-28 11:54] rperazzolli commented on #1647
The first line is Project Sdk="Microsoft.NET.Sdk.BlazorWebAssembly".

[2020-12-28 12:10] RobertChanphakeo commented on #1644
I can confirm this works "public string _dateOfBirth { get; set; } = string.Empty;"
Would this be a temporary workaround? Will it break in the future? (i.e _dateOfBirth property is not apart of the validation model itself but had to do this since DateTime is not supported)

Will there  be support for other data type such as DateTime, Guid?

[2020-12-28 12:15] stsrki commented on #1644
What do you mean? As far as I know, all types are supported by data-annotations. In case something is not supported you can always implement your own `ValidationAttribute`.

In your case for `DateTime` you can use `DateEdit` component.

[2020-12-28 13:38] RobertChanphakeo commented on #1644
There is a reason why the DateEdit component was not used, initially I believe in version 0.8 ? I experienced issues with this DateEdit component, when I click on the input field the date picker would open and then close, there was no way I could manually input the date or select the date from the data picker. I tested the latest version and it still has exactly the same issue - if the issue was f

[2020-12-28 13:56] stsrki commented on #1644
You're using a material provider? In that case you have the option of moving to [djibe](https://github.com/djibe/material) version instead of now abandoned [daemonite](https://github.com/Daemonite/material) Material CSS. In djibe version, the problem with datepicker was fixed since the problem was in their javascript.

[2020-12-28 14:34] #1597 closed

[2020-12-28 14:45] stsrki commented on #1609
I'm trying to reproduce this error but for me, it works. The `ReadData` is fired only once and all the filter and sorting data are present in eventArgs.

Any chance you guys can post a full sample page to reproduce it?

[2020-12-28 15:29] RobertChanphakeo commented on #1644
I tried it, replacing daemonite material css with djibe material, datepicker issue went away, however the date picker component UX isn't great for date of birth, you can't skip years. Is there another library?

[2020-12-28 15:48] stsrki commented on #1644
I can add an option to select year and month if needed

![image](https://user-images.githubusercontent.com/900302/103226481-84c7b000-492c-11eb-9e2e-397478ad36f2.png)

[2020-12-28 17:14] lrequena opened #1650 "DataGrid pager combo box doesn't have a binded event"
Hi! Doesn't this combo box lacks the event to actually refresh the selected page on it?
I'm changing the page but nothing happens.

https://github.com/stsrki/Blazorise/blob/4afffb790d50e9902af54571833ffc1d7a06596a/Source/Extensions/Blazorise.DataGrid/_DataGridPagination.razor#L42-L50

Thanks in advance!

[2020-12-28 21:11] vbray1979 commented on #1609
Hi Mladen,

This is replicable using the following code and navigating back and forth to the view. "OnReadData" get called twice and in the first call "OrderBy" is empty.

[code]

[code]

[2020-12-28 22:00] ricardoromaobr commented on #1066
I start an implementation of the MaskEdit component that inherits from TextEdit.
And I use the EditMask that is inherits from the TextEdit.
I'm thinking to create a property IsCurrency, if true only number
will be accept. Somes examples:
[code]
When using X any caracter will be accept in place of X caracter mask.

it is already working.

I'm thinking to add to EditMask a caracter 9, that only numb

[2020-12-29 02:59] RobertChanphakeo commented on #1644
Yes

But it would be better to make the ux work like bootstrap date picker,
1. Input Mask for date
2. Date picker icon on right side (this brings up the date picker window dialogue, which also has month and year dropdown combo as shown above)

[2020-12-29 08:24] stsrki commented on #1644
Well, it turns out djibe has a new DatePicker that is similar to what you describe https://djibe.github.io/material/docs/4.5/plugins/picker-flatpickr/

[2020-12-29 08:31] stsrki commented on #1066
@ricardoromaobr I googled a little and I found this https://formidableforms.com/knowledgebase/format/. I think it would make things better than just having **9** or **X**.

Also similar https://coreui.io/docs/2.1/components/masked-input/

[2020-12-29 09:23] stsrki commented on #1650
No this is OK. The actual event is raised in the property

![image](https://user-images.githubusercontent.com/900302/103273535-d1a89680-49bf-11eb-8d77-31fe468b38af.png)

[2020-12-29 09:23] #1650 closed

[2020-12-29 10:48] giovannigambino1980 commented on #1184
Hi,
that's my code:

[code]

[code]

When running I see Browser's console writing all percetages, but progress bar doesn't work.
I don't know if can be useful, the progress bar is inside a
[code]

tnx so much

[2020-12-29 10:58] stsrki commented on #1184
@giovannigambino1980 I tried your example in both **modal** and in a **page**. And for me, it works just fine.

Here is my copy-paste code based on yours:

[code]

[2020-12-29 11:06] paulosdfigueiredo commented on #1609
Looks like the problem is related with parameter PageSize, probably triggers PageSizeChanged too soon.

[2020-12-29 11:41] giovannigambino1980 commented on #1184
Unbelievable... I created a brand new page and pasted your code and it still doesn't work.
So I think the problem is to search somewhere else.
Maybe I'm missing some using?
If I set "ProgressValue" manually I see progressbar working.
Any idea?

[2020-12-29 13:51] lrequena commented on #1436
https://github.com/stsrki/Blazorise/issues/1436#issuecomment-722821015

+1 for that!

[2020-12-29 14:03] #1585 closed

[2020-12-29 14:03] #1575 closed

[2020-12-29 18:26] gwgrubbs opened #1653 "Divider does not use DividerType specified on component"
**Describe the bug**
When the divider component is used with a specified divider type, the divider renders with the theme divider setting or the default solid line.

**To Reproduce**
Given the following component markup:
[code]
The divider(s) will render with the type specified in a configured theme, or as a solid line.  If there is no theme setting for the divider, they always render as solid lin

[2020-12-30 13:05] stsrki commented on #1445
Hello to everyone in this conversation. I'm currently working on a localization feature and I'm kinda stuck on which way to proceed.

## Idea 1

My first idea was to use `IStringLocalizer`([docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.localization.istringlocalizer?view=dotnet-plat-ext-3.1)). So far it works OK. But, the first problem with this solution is that I would nee

[2020-12-30 13:30] araknusc commented on #1445
It would be easy to stay with IStringLocalizer as that would stay inline with Microsoft implementation? I suppose if you include support one for two languages with the ability for people to add further resource files as per their need?

[2020-12-30 13:36] stsrki commented on #1445
@araknusc Yes, that was my first idea. But it's not very flexible. It also requires more configurations on application startup(setting culture info for `DefaultThreadCurrentCulture` and `DefaultThreadCurrentUICulture`). Not to mention that dynamically changing culture info also requires to restart the app. While doable I don't like all of the stuff that comes with it.

[2020-12-30 13:40] NeoCoderMatrix86 opened #1654 "Modal Property Centered="true" does not work"
Modal Property Centered is set to "true" but the modal is clearly in the left top corner.

Sample Code used:

[code]

Result is:
![grafik](https://user-images.githubusercontent.com/40752681/103354847-f2024f00-4aac-11eb-9970-a056fd637eec.png

[2020-12-30 13:43] stsrki commented on #1654
This usually happens when you have some custom CSS overriding the default bootstrap styles. Can you inspect element styles in dev tools?

[2020-12-30 13:45] araknusc commented on #1445
yes, that is correct. The setup required is not easy to figure out with IStringLocalizer. I spent the whole day yesterday to get it working on my Blazor Wasm App. But after spending that time I find future management quite easy especially because there are quite a few resx maintenance tools. If the Blazor Wasm App already uses the resx implementation then maintaining another interface requires hav

[2020-12-30 13:49] stsrki commented on #1445
The same thing for me also. If it takes that long to even start using something, it's a red flag for me. It should have to be a lot easier. Anyways, as you said, let's see what others got to say.

[2020-12-30 13:49] NeoCoderMatrix86 commented on #1654
Where should I have a look? The generated HTML is this:

<app><section id="0HM5CP60808CH" class="b-layout b-layout-root" _bl_2=""><header class="b-layout-header"><nav class="navbar bg-primary navbar-light b-bar-light b-bar-horizontal" data-broken="false"><div class="navbar-brand"><a href="/" class="active nav-link"><span style="color:white;"><svg xmlns="http://www.w3.org/2000/svg" width="28" heigh

[2020-12-30 13:56] stsrki commented on #1654
Right-clicking on a modal and choosing **Inspect** will show you **dev tools**. Here you can select different elements and on the right side(mine is on the right), you can see every applied style. Play with it and see what is messing with modal center.

![image](https://user-images.githubusercontent.com/900302/103355624-f7f92f80-4aae-11eb-895f-8d9a4e9392a2.png)

[2020-12-30 14:02] NeoCoderMatrix86 commented on #1654
Ok, I just selected the element with class="modal fade show", so here you are:

![grafik](https://user-images.githubusercontent.com/40752681/103356001-0ac03400-4ab0-11eb-8f1e-e5d26e39d0e9.png)

I can see no override currently :(.

[2020-12-30 14:22] NeoCoderMatrix86 commented on #1654
I just found out, I'm missing the complete div for centered:

`<div class="modal-dialog modal-dialog-centered" role="document">....</div>`

So, you have any idea, why this div is not rendered into the HTML?

[2020-12-30 14:29] stsrki commented on #1654
Do you have this in your app startup?

[code]

[2020-12-30 14:51] NeoCoderMatrix86 commented on #1654
Currently I'm not using the FontAwesomeIcons, so my startup is:

`builder.Services.AddBlazorise(options =>
            {
                options.ChangeTextOnKeyPress = true;
            })
            .AddBootstrapProviders();`

[2020-12-30 14:52] stsrki commented on #1654
What version of Blazorise you have?

[2020-12-30 14:55] NeoCoderMatrix86 commented on #1654
I'm using 0.9.2.4:

`   <PackageReference Include="Blazorise.Bootstrap" Version="0.9.2.4" />
    <PackageReference Include="Blazorise.Components" Version="0.9.2.4" />`

[2020-12-30 14:58] stsrki commented on #1654
In that case I hope you also have `.UseXY` method along with the `.AddXY`:

[code]

[2020-12-30 15:06] NeoCoderMatrix86 commented on #1654
That was the Problem, thanks for your help. I didn't know, that I also have to use this methods, since it is not included in documentation :(. But now I'm save :).

[2020-12-30 15:06] #1654 closed

[2020-12-30 15:07] stsrki commented on #1654
It's in the documentation :) https://blazorise.com/docs/start/#4a-blazor-webassembly

[2020-12-30 15:12] NeoCoderMatrix86 commented on #1654
Ok, than I was just a bit blind :). Update the project to use 0.9.2.4 and didn't add this code. But well, now it works :)!

[2020-12-30 18:11] joseazevedo commented on #1445
Idea 1 "is not easy to set up" is a red flag.
I prefer Idea 2, just because it is simple and as you said, we can override it.

[2020-12-31 07:31] mortezabarzkar opened #1655 "Direction of Dropdown"
in antdesign ,  dropdown dose not get action when set Direction

[link](https://antdesigndemo.blazorise.com/tests/buttons)

@stsrki

[2020-12-31 08:11] stsrki commented on #1655
Yep, I can see it. Thank you for reporting this

[2020-12-31 09:29] tesar-tech opened #1656 "Documentation should be bound to demo app!"
I am new to blazorise. When I try to understand something I need to switch between demo app to see how it looks and between documentation to understand what my options are. It is just slower, really is.
It is done for some components (e.g [button](https://blazorise.com/docs/components/button/)), but for the others, the demo are missing ([rich text](https://blazorise.com/docs/extensions/richtextedi

[2020-12-31 09:31] stsrki commented on #1656
I agree completely. It's currently at work but it will take some time before I finish it.

Look at this answer https://github.com/stsrki/Blazorise/issues/1642#issuecomment-750337311

[2020-12-31 09:31] #1656 closed

[2020-12-31 10:45] tesar-tech commented on #1656
Glad to hear that!

[2021-01-01 21:59] cmorgado opened #1657 "DropdownItem should put the mouse pointer to "hand icon""
Today using a dropdown the mouse pointer doesn't change and user might think it has no action

**To Reproduce**
Steps to reproduce the behavior:
Create a Dropdown, expand it and hover any DropdownItem .

**Expected behavior**
Mouse pointer should change to "hand"

[2021-01-02 21:41] drma-dev opened #1658 "MemoEdit - Plaintext"
The documentation mentions about this attribute, but it does not exist in the component.

[2021-01-03 09:15] RobertChanphakeo commented on #1644
I mean work like this, mask + date picker https://1drv.ms/v/s!AtQl8eIX84DQgP8S5XLpE-OfJccn2g?e=mKrXYM

[2021-01-04 14:48] NeoCoderMatrix86 opened #1659 "Validation Type Warning"
With the validation you can currently work with error or success. But there are cases, in which you want the user to have warning, like TextEdit that are not nescessary to fill, but would normally be filled out. Or If the there are automatically read out fields with pattern validation, which does not match the pattern and need to be revised by a user, but also need to show the automatically recogn

[2021-01-04 21:03] drma-dev opened #1660 "Link within other components"
When I place the link inside other components, it cannot be recognized and it gives an error.

[code]
![image](https://user-images.githubusercontent.com/12803050/103579333-e224a980-4eb6-11eb-8822-0032879cce2f.png)

[2021-01-04 22:40] tesar-tech opened #1661 "DataGrid with custom ReadData cannot sort"
**Describe the bug**

This works as expected (sorts data without the problem).
[code]
But in this case, when I click on column I want to sort, OnReadData is called and no sort is applied.
[code]

[2021-01-04 23:29] paulosdfigueiredo commented on #1661
When you use ReadData, you are using manual read.

In this cases you probably want to get the items paginated from server. The DataGridReadDataEventArgs has all the parameters you need to send them to your api and sort / paginate on server:

- Page
- PageSize
- Columns - contains filter and sorting information from each column

[2021-01-05 07:11] tesar-tech commented on #1661
Yes, it does make sense.

[2021-01-05 07:11] #1661 closed

[2021-01-05 08:34] stsrki commented on #1660
It's a limitation in Visual Studio actually. Check this #1353

[2021-01-05 08:34] #1660 closed

[2021-01-05 14:35] SimonAndrews opened #1663 "Data Grid when Editing a record the validation errors require two submit clicks to show the full error message in both Summary and ValidationError property"
When editing a record within a Data Grid in either Form/Inline/Popup modes the error messages in both the summary or the ValidationError property requires two submit clicks to show fully.

**To Reproduce**
1. Go to https://rcbootstrapdemo.blazorise.com/tests/datagrid
2. Click on any record to edit
3. Remove the First Name so it's empty
4. Click Save once
5. See that the Validation Summary says...

[2021-01-05 14:42] stsrki commented on #1663
Thanks for the report. The error is already fixed and will be released with the next preview 5.

[2021-01-05 14:42] #1663 closed

[2021-01-05 15:37] NeoCoderMatrix86 opened #1664 "Tooltip destroys ColumnSize"
I'm using the Tooltip on a TextEdit inside a Field Body, but the Column Size gets destroyed:

Code:
[code]

Result:
(https://user-images.githubusercontent.com/40752681/103665877-38a3ed80-4f74-11eb-8f10-0f7185a99096.png)

[2021-01-05 15:47] stsrki commented on #1664
Bootstrap addons are pretty limited, in terms that their structure is fairly sensitive. And since in this case, Tooltip inserts a `div` between `Addon` and `TextEdit` it will also break specific CSS selectors that come by bootstrap.

I still need to decide if it makes sense to fix this, at least in Bootstrap 4.x. For Bootstrap 5 there were a lot of breaking changes and addons have been somewhat op

[2021-01-05 15:51] NeoCoderMatrix86 commented on #1664
Thanks for the fast reply :). So, you have any suggestions for a workaround?

[2021-01-05 16:13] gaffkins opened #1665 "[BUG] Set e.ErrorText don't update ValidationError message"
In manual validation function I set e.ErrorText but after validation message don't appear.
ver 9.2.4

[2021-01-05 16:18] stsrki commented on #1665
Already fixed in 0.9.3 https://github.com/stsrki/Blazorise/commit/58b4e5dbc5ea280488fc500bce516d0c0a20d6cd

I just need to transfer it to 0.9.2.x

[2021-01-05 16:23] gaffkins commented on #1665
Thank tou for response. When you publish nuget with this fix?

[2021-01-05 16:26] ruslankiskinov opened #1666 "Incorrect render html output when build <Select> with for/foreach"
When you create a simple **Select** using for loop as shown below, the renderd select **text** part contains only the last value of the iterator variable for each of the **SelectItem**, the **value** is rendered correctly.

[code]

**Actual render is the following:**

[code]

The strange part is that the value is correct but the text is not.
If you build a normal html <select> instead there is no

[2021-01-05 16:29] CobraCalle opened #1667 "Carousel with more than one visible slide"
Some times you would like to have a carousel showing more than one item at the same time. Would be a nice addition just defining the count of visible slides...

Like here:
https://mdbootstrap.com/snippets/jquery/ascensus/135508
https://www.codeply.com/go/s3I9ivCBYH/bootstrap-4-responsive-carousel-one-at-a-time

### Additional context
![image](https://user-images.githubusercontent.com/6218368/10367

[2021-01-05 19:03] nielscil opened #1668 "DataGrid TotalItems(short)Template should be marked as parameter"
The DataGrid control has many customizations for the pager component (like  FirstPageButtonTemplate and PreviousPageButtonTemplate) but the total items count in the corner cannot be overriden. In the source there are template properties available (see lines below), but  the parameter- attribute is missing.

https://github.com/stsrki/Blazorise/blob/14b7feaf1833861a17a5f2f970f8524ff018e2c0/Source/Ex

[2021-01-06 08:55] stsrki commented on #1665
Hopefully by the end of the week.

[2021-01-06 09:01] stsrki commented on #1666
Aaahhh, the famous Blazor for each loop problem :) If you google it you will learn more [about it](https://stackoverflow.com/questions/54812427/for-loop-not-returning-expected-value-c-sharp-blazor).

To fix your code just use a temporary variable

[code]

[2021-01-06 10:31] stsrki commented on #1667
Basic Blazorise components are just an abstraction over bootstrap(and other CSS providers) components. So they also take the cover of their default features and behavior. With this feature, we would go too far from that, and I'm not sure if it's even worth it.

For now, it's low on the priority list, but I will leave it on the backlog. In case more people request it I will consider it again.

[2021-01-06 10:47] David-Moreira opened #1669 "Datagrid: Pager page selection showing incorrectly on 0.9.3 - Preview 4"
**Describe the bug**
Now shows up both a sequencial selection and a dropdown selection:
![image](https://user-images.githubusercontent.com/22283161/103759002-f11c7080-500a-11eb-8fba-499de3f77cd7.png)

**Expected:**
![image](https://user-images.githubusercontent.com/22283161/103760096-8a985200-500c-11eb-9484-5072b1ae965e.png)

**To Reproduce**
Steps to reproduce the behavior:
I'm guessing this is e

[2021-01-06 10:49] stsrki commented on #1669
I made this change before testing it through. It's already fixed and will be available in preview 5 :)

[2021-01-06 10:49] #1669 closed

[2021-01-06 17:04] CobraCalle commented on #1667
👍

[2021-01-06 20:15] StefH commented on #1454
@Joelius300 : Note that the issue for serialization was more or less solved by this code:
https://github.com/stsrki/Blazorise/blob/93c016408b7a0f12b9014c6fc7dcdd779f8cbf6c/Source/Blazorise/Utils/Converters.cs

[2021-01-06 21:07] drma-dev opened #1672 "label label-danger - bootstrap class"
By default, you already have a css to replace the bootstrap, but I was looking to use the 'label' class. And apparently it is not directly accessible. Is there any way to solve it?

[2021-01-07 07:39] kunalpgithub opened #1674 "Not able to change primary text color."
I want to change text color of my heading in blazorise component using  theme.

It looks like colors are getting override by boostrap mixing scss.

Here is  my code for theme and usage of heading component.

[code]
Here is usage of my theme colors
[code]
But in browser I don't see this color getting applied, instead if picks up default primary blue color.

![image](https://user-images.githubuserco

[2021-01-07 08:28] stsrki commented on #1672
You mean to add `Color` support to the `Label` component?

[2021-01-07 08:38] stsrki commented on #1674
It seems like a missing `!important` flag. Should be an easy fix.

[2021-01-07 08:50] cotur opened #1675 "Dropdown stays behind of datagrid container"
Action dropdown is behind of datagrid container, so it occurs this kind visual bug.

![data-grid-action](https://user-images.githubusercontent.com/20099739/103871747-8177b580-50de-11eb-8cfd-2ba699c170db.gif)

[2021-01-07 09:58] kunalpgithub commented on #1674
Tried adding important as well, but its not working. Do you mean to add important in theme class, that is also not working.

[code]

[2021-01-07 10:00] stsrki commented on #1674
Adding it there would not work. It needs to be built with ThemeGenerator.

[2021-01-07 10:05] kunalpgithub commented on #1674
is there good document around it, on how to use theme generator?

[2021-01-07 10:19] stsrki commented on #1674
`ThemeGenerator` is not something to be used directly. It is an _internal builder_ that creates CSS styles based on the `Theme` options. Every Blazorise provider has its own theme generator with its own rules.

[2021-01-07 11:48] drma-dev commented on #1672
No, the class label. Is similar to badge, but it's different.

https://www.w3schools.com/bootstrap/bootstrap_badges_labels.asp

[2021-01-07 12:00] stsrki commented on #1672
That's for Bootstrap 3 as far as I can see. There is no `label` for Bootstrap 4: https://getbootstrap.com/docs/4.5/components/badge/

[2021-01-07 12:09] drma-dev commented on #1672
it is true.  I was reading the bootstrap 4 documentation. badge replaced the label.  and badge-bill replaced the old badge.  do you have it?

[2021-01-07 12:10] stsrki commented on #1672
Yep

[code]

[2021-01-07 12:14] #1672 closed

[2021-01-07 14:51] PatrickBig opened #1676 "Not able to set default filtering on DataGrid component"
**Describe the bug**
Setting a default filter on a `DataGrid` component is currently not functioning.

I was expecting to be able to set the Filter attribute on any type of `DataGridColumn` as a way to set the default filter but that does not appear to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new `DataGrid` component
2. Add a `DataGridColumn`
3. Set the `Filter` attribu

[2021-01-07 19:37] David-Moreira opened #1678 "Datagrid: Loads 2 times on first render"
Hello @stsrki
hope you've been well... :)
**Describe the bug**
I'm not sure if this is something to do with Blazor triggering a re-render or Datagrid or if it's just me missing something.
But I noticed that on the first load, datagrid actually ends up loading 2 times, meaning that it calls ReadData twice.

**To Reproduce**
Steps to reproduce the behavior:
Tested with a new project, with Blazor Ser

[2021-01-07 19:43] paulosdfigueiredo commented on #1678
Hi,

It's a known issue, duplicate of #1609.

There's an open PR #1662 to fix it.

[2021-01-07 19:45] David-Moreira commented on #1678
Oh I'm blind, haven't been paying attention to the latest issues!! Great thanks @paulosdfigueiredo! Closing issue. 👍

[2021-01-07 19:45] #1678 closed

[2021-01-07 20:01] giovannigambino1980 commented on #1184
I tried to create a new wasm project, setting up blazorise and pasting your code.
[TestProgressWASM.zip](https://github.com/stsrki/Blazorise/files/5783701/TestProgressWASM.zip)

Can you help me to understand what's wrong?
Tnx so much,
Giovanni

[2021-01-07 20:21] makhin commented on #1184
I will check tomorrow

[2021-01-08 10:41] stsrki commented on #1445
Guys, a little overview of what I did so far. I have tried to use `IStringLocalizer` but whatever I did I couldn't make it work in WebAssembly project. I wanted to be able to change the language in runtime. As far as I know, this is currently not possible because `IStringLocalizer` caches everything on application start and can't refresh later on. If someone knows better please let me know.

## `I

[2021-01-08 10:53] tacoWanneeJama opened #1680 "Modal not centered any more"
**Describe the bug**
I can't get a modal to center the dialog. It sticks to left side

**Difference with example**
I use "dotnet.5.0.1.js" , in the example 5.0.0 is used

I compared my HTML with the example and found out that the **<div "modal-dialog">** was not generated.

My workaround:
`<Modal @ref="modalRef">`
**`  <div class="modal-dialog modal-dialog-centered" role="document">`**
`<ModalCont

[2021-01-08 11:19] stsrki commented on #1680
Possible the same problem as #1654

Check the answer https://github.com/stsrki/Blazorise/issues/1654#issuecomment-752651065

[2021-01-08 15:40] Meberem opened #1681 "Add OpenReadStream to FileEntry"
Would it be possible to add an `OpenReadStream()` to `FileEntry` so the File can be streamed to the Application rather than read in all at once? This would mirror the API found in the [`InputFile`](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-5.0#inputfile-component) component in Blazor 5.0.

[2021-01-08 16:42] SimonAndrews opened #1682 "DataGrid switching between Inline Edit and Display loses applied Style's in Edit template"
**Describe the bug**
When using a DataGrid and applying additional Styles to the DataGridCommandColumn using the CellStyle Property / Func, when you click on the Edit button to edit a row the html created loses the styles applied in Display mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a DataGrid
2. Add a method to add a style to the DataGridCommandColumn.CellStyle such as chan

[2021-01-08 18:05] plsft opened #1683 "blazorize.js error in console"
Using Chrome and have all blazorize components installed for Bootstrap.

blazorise.js:526 Uncaught TypeError: Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'.
    at Object.getBreakpoint (blazorise.js:526)
    at blazorise.js:609

included the following in the index.html
<link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_conten

[2021-01-09 11:42] stsrki commented on #1681
Not sure what you mean. FileEntry has a `WriteToStreamAsync` method that reads and writes the file content to your stream in chunks. So, the file is not read all at once.

The chunk size can be controlled by `MaxMessageSize` parameter.

[2021-01-09 11:45] stsrki commented on #1682
I don't think Display mode and Edit mode should share the same style. Rather they would have to have different styles.

Maybe I can add parameters to control styles in Edit mode...

[2021-01-09 11:46] stsrki commented on #1683
Try hitting CTRl+F5 to clear the cache. This is usually the case with Blazor.

[2021-01-09 20:23] drma-dev opened #1684 "Figure - The image does not respect the size"
When the height of the image is greater than the width, it does not fit properly.
![image](https://user-images.githubusercontent.com/12803050/104107916-03164180-529f-11eb-807a-4ccf257b2483.png)

But if you think this behavior is right, at least you should force the components below to respect the new image size.
![image](https://user-images.githubusercontent.com/12803050/104107947-41abfc00-529f-11

[2021-01-10 00:09] Luk164 opened #1685 "Tooltip is getting burried"
**Describe the bug**
I put a tooltip into a caption template, but it is getting burried under the edge of the DataGrid. (see screenshot)

**To Reproduce**
[code]

**Expected behavior**
I am pretty sure a tooltip should appear at the top of all elements in page every time, maybe with an exception for toasts.

**Screenshots**
![image](https://user-images.githubusercontent.com/30559213/104111241-0088

[2021-01-10 14:42] plsft commented on #1683
That did not work.  I tried it quite a bit.

[2021-01-10 15:06] Luk164 opened #1688 "Validations mode default"
**Describe the bug**
Validations Mode has no official default, yet it sets a default value in case of `null` to `Auto` in `Validation.cs`

[code]

**Expected behavior**
Either set a default value to Auto or throw an exception of not set.

[2021-01-10 16:27] stsrki commented on #1688
Not sure what you mean. The Auto mode is the default mode for the `Validations `component. It's mentioned in the docs https://blazorise.com/docs/components/validation/#attributes

The part of the code you posted is from `Validation`, which inherits mode from the `Validations`. If it's used on it's own it will also have a default Auto mode.

[2021-01-10 16:50] plsft commented on #1683
breakpoint: {
        // Get the current breakpoint
        getBreakpoint: function () {
            return window.getComputedStyle(document.body, ':before').content.replace(/\"/g, '');
        },

this is the code causing the exception

[2021-01-10 18:59] wflouw commented on #1674
Having the exact same issue. I implemented a Theme using the ThemeProvider as explained in the documentation. I set the Primary value for the TextColorOptions and I get the same behaviour as @kunalpgithub.

[code]
I check the values in the developer console (Chrome) and I can clearly see that the value I defined in the ThemeTextColorOptions is correct but is striked through and overridden by the d

[2021-01-10 19:12] gaffkins commented on #1665
Hi, any news about release this fix?

[2021-01-11 03:42] kunalpgithub commented on #1674
@wflouw in my case, even important is also not working. Difference I see is , you are using material and I am using boostrap.

[2021-01-11 07:42] tacoWanneeJama commented on #1680
That fixed it

[2021-01-11 08:07] SimonAndrews commented on #1682
Yep that would work and would provide full flexibility 😃

[2021-01-11 08:09] stsrki commented on #1665
Still not ready. It's the holiday season so I didn't work as much as I usually do 😅

[2021-01-11 08:13] #1680 closed

[2021-01-11 09:45] Meberem commented on #1681
I see what you mean, it is possible to write a file to a destination in chunks. I however am trying to do something a little different, I am trying to stream the file into a parser. I have an example working with the AspNet Core `InputFile` and a non working attempt under Blazorize:

[code]

In the AspNet `InputFile` I can stream the results into my buffer and do the work on each chunk, where as,

[2021-01-11 10:08] stsrki commented on #1681
I see what you mean. Unfortunately, it's not possible for now. The only way I can think of is that you implement your own class that inherits from `Stream` and then on each write you notify your parser of each change.

Sometime in the future, I might try doing something similar to `InputFile`, but considering all other work it's low on a priority list..

[2021-01-11 10:12] NeoCoderMatrix86 opened #1690 "Vertical Bar inside Layout not fixed"
I'm trying to use the Bar Component inside a Layout. The Bar should be vertical and fixed at top. But currently it gets scrolled. The basic Page layout I'm using is:

`MainLayout.razor:
<Layout>
    <LayoutHeader>
        <Bar Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
            <BarBrand>
                <BarLink To="@navigationManager.BaseUri">
                    <sp

[2021-01-11 10:25] stsrki commented on #1690
Looks like you have **two** main `Layout`'s instead of one. Look at the [demo app](https://github.com/stsrki/Blazorise/blob/master/Demos/Blazorise.Demo/Layouts/MainLayout.razor) for usage reference and see if can help you.

[2021-01-11 10:28] mortezabarzkar opened #1691 "Datagrid FilterTemplate"
Hi

There is bug when using Select inside FilterTemplate .(AntDesign)
the width of select component can not be initialized until one value selected.

[link](https://antdesigndemo.blazorise.com/tests/datagrid)

[2021-01-11 10:39] NeoCoderMatrix86 commented on #1690
Yes, is it not possible to cascade the Layouts? I'm searching for an option to display vertical bar only on help page.

[2021-01-11 10:43] stsrki commented on #1690
Cascade does not work like that so it will not work for your use case.

If you want to have help layout only on help pages then it's best to have multiple different **Blazor layouts**. Then on your help pages, you use it like `@layout HelpLayout`, at the beginning of the file.

[2021-01-11 10:53] NeoCoderMatrix86 commented on #1690
Ok, I understand the problem. How can I use the different layout? Do you have a small code sample?

[2021-01-11 10:57] stsrki commented on #1690
Try learning is here https://blazor-tutorial.net/layout

[2021-01-11 14:06] Meberem commented on #1681
I completely understand that it would be low priority. I have created a PR with the functionality as a reference point if you wanted to include this in the future. Thank you for your work!

[2021-01-11 14:12] drma-dev opened #1693 "Alert - Close button doesnt work"
![image](https://user-images.githubusercontent.com/12803050/104192571-c3b23700-53fd-11eb-96ce-c32e16dc10ed.png)

Or did I forget to configure something?

[2021-01-11 14:15] stsrki commented on #1693
Close will not work automatically. By default `CloseButton` is stupid so it doesn't know what to do. You can use it with Alert like this:

[code]

[2021-01-11 14:16] #1693 closed

[2021-01-11 14:28] NeoCoderMatrix86 commented on #1690
Thanks for your help, I got it now 👍

[2021-01-11 14:28] #1690 closed

[2021-01-11 15:02] makhin commented on #1184
I checked everything code looks good and should work, but there is one difference between your and mine projects.
Your is WASM but mine is Server.
So I can only agree with you Blasorise for WASM has problem with Progressed event

@stsrki can you also check this sample, mb I miss somthing?

[2021-01-11 15:10] stsrki commented on #1184
I have just tried it in WASM and it works. A little slower, but still works.

[2021-01-11 15:11] Luk164 commented on #1688
I meant that you could just initialize it as Auto instead of doing a null check down the road, sorry I was a bit tired yesterday and did not make it clear. Anyway taking a second look it is not really a problem as much as a difference in writing styles, so I am closing the issue.

[2021-01-11 15:11] #1688 closed

[2021-01-11 15:12] makhin commented on #1184
Can you check this sample or share your?
Thanks

[2021-01-11 15:18] Jimmys20 commented on #1322
Sorry for commenting in this old closed issue.

I think he means a default empty option for when the SelectedValue is null. I would appreciate it if this was implemented somehow.

html example:
[code]

[2021-01-11 15:26] stsrki commented on #1322
@Jimmys20 That's basically a know limitation https://github.com/stsrki/Blazorise/issues/185

I still have no idea how to handle it since that's just how browsers work.

What I did in one of my projects is to have some kind of _converter_ that handles the default empty or null values and converts them into a dummy value. For example `null` to `DUMMY-VALUE` and vice-versa. The only problem is that y

[2021-01-11 16:29] mahmudkhalifa commented on #1322
<Select TValue="short" SelectedValue="SelectedTerminationReasonId" SelectedValueChanged="OnSelectedtTerminationReasonChanged">

                                                    <SelectItem Value="@LabourMarketAccess.Core.Config.AllOptionValueShort">@T["all-option"]</SelectItem>

                                                    @foreach (var c in DerivedTerminationReasons)

[2021-01-11 16:33] makhin commented on #1184
![TestProgressWASM - Microsoft Visual Studio 11 01 2021 17_29_48](https://user-images.githubusercontent.com/1430717/104210240-ee6ab280-5432-11eb-9ff7-ea889e003a23.png)

https://user-images.githubusercontent.com/1430717/104210314-02161900-5433-11eb-82f0-c4ac1df1cef6.mp4

Does not work for me.

[2021-01-11 18:22] nvassell commented on #1674
@stsrki How should we include the `!important` in the theme CSS? I can't get the important tag.

[2021-01-11 18:34] giovannigambino1980 commented on #1184
The same behavior for me. No updates during upload, but just a burst at the end.
I tried with all browsers, nothing :(

[2021-01-11 18:58] kunalpgithub commented on #1674
@nvassell  adding style in <Head> my index.html with important worked for me. You can try  that.

[code]

[2021-01-11 19:00] nvassell commented on #1674
@kunalpgithub Oh interesting! I haven't tried that yet!

[2021-01-11 19:49] MitchellNZ commented on #1610
Thanks for reporting - I will take a look into this.
What version of Blazorise was this?

Looks like its probably something to do with `VerticalBar min-width` and the `LayoutSider` not streching to match.

[2021-01-11 19:52] MitchellNZ commented on #1617
@stsrki Yup!

I have was having quite a lot of trouble with this originally (which mostly seemed due to the old rendering before `IComponentActivator`).

So I will take another look at fixing this in the latest version!

[2021-01-11 19:55] MitchellNZ commented on #1645
Related to #1304

[2021-01-12 06:21] sgesweinFusion commented on #1184
I'm also running into this same behavior on WASM/0.9.2/dotnet core 3.1 with similar code (calling StateHasChanged after changing the Progressbar value, etc.)

While Console.WriteLine shows console output on Chrome at regular intervals, there are no visual updates on the page between 0 and 100.

[2021-01-12 06:57] danielheddelin commented on #1610
Wonderful. The version is 0.9.2.2.

[2021-01-12 08:15] stsrki commented on #1184
Yep, the same thing is happening to me also. Sorry guys, I tested with smaller files and it appeared to work just fine.

[2021-01-12 08:16] stsrki commented on #1674
@nvassell As a workaround use the @kunalpgithub example. In the meantime, I will fix it in the code.

[2021-01-12 08:17] stsrki commented on #1645
Closing since @MitchellNZ already has it on schedule.

[2021-01-12 08:17] #1645 closed

[2021-01-12 09:23] abelvalle commented on #1603
it has happened to nobody else

[2021-01-12 09:39] stsrki commented on #1603
Maybe you forgot to include some CSS files in your second project? Check that you have all Blazorise static files in index.html or _Host.cshtml.

[2021-01-12 10:06] abelvalle commented on #1603
Hi I have checked my _Host.cshtml settings and gone through it and it seems I have fixed it.

Thanks a lot.

[2021-01-12 10:06] #1603 closed

[2021-01-12 11:37] gaffkins commented on #1665
Please can you apply this fix to 9.2 ver. Client wants to kill me ;p

[2021-01-12 11:46] #1665 closed

[2021-01-12 11:46] stsrki commented on #1665
Working on patch

[2021-01-12 11:47] gaffkins commented on #1665
you are great, thank you

[2021-01-12 11:49] stsrki commented on #1653
Sorry for not getting it sooner. I just tested and it's working. But, you have a typo. It should be `DividerType` instead if `Type`.

[code]

This was also wrongly explained in the docs and that is also fixed now.

[2021-01-12 11:49] #1653 closed

[2021-01-12 11:53] Mijalski opened #1696 "NumericEdit issues with Min=0"
**Describe the bug**
When NumericEdit has type of float/decimal/double and a step with floating point, it is not correctly calculated on arrow key press.
When the min is set to 0, it is not respected at all.

**To Reproduce**
1. Create \<NumericEdit TValue="decimal" Step="0.1m" Min="0" Decimals="1"/>
2. Input a number and use arrow up to make the number go higher
3. Note that it will follow a patt

[2021-01-12 11:59] stsrki commented on #1696
Hi, thank you for reporting this but it's a duplicate of #1286

It's already scheduled for the next milestone so I will close it.

[2021-01-12 12:00] stsrki commented on #1609
Fixed for 0.9.2.x. so I'm closing it.

For 0.9.3 I just need to merge @paulosdfigueiredo PR

[2021-01-12 12:00] #1609 closed

[2021-01-12 12:06] Mijalski commented on #1696
Right, but could you take a look at setting the min=0? It also does not work correctly (it does for eg. 0.1, but then i cannot type in 0.1, because it blocks me if i type in zero).

[2021-01-12 12:06] #1674 closed

[2021-01-12 12:27] stsrki commented on #1696
I changed the ticker name and will schedule it for the next milestone along with #1286

[2021-01-12 16:11] sks-ttaylor opened #1699 "dev093: Validations :: Unhandled exception rendering component"
**Describe the bug**
Using Validation in a @foreach causes error "Unhandled exception rendering component: The provided expression contains a InstanceMethodCallExpression1 which is not supported. FieldIdentifier only supports simple member accessors (fields, properties) of an object."

**To Reproduce**
@page "/"
<Validations @ref="validations" Mode="ValidationMode.Manual">
  <Container Fluid="true

[2021-01-12 16:17] #1699 closed

[2021-01-12 16:25] sks-ttaylor opened #1700 "dev093: Validations :: Unhandled exception rendering component: The provided expression contains a InstanceMethodCallExpression1 which is not supported. FieldIdentifier only supports simple member accessors (fields, properties) of an object."
**Describe the bug**
using Validations on a page with a Validator in a @foreach generates error
Unhandled exception rendering component: The provided expression contains a InstanceMethodCallExpression1 which is not supported. FieldIdentifier only supports simple member accessors (fields, properties) of an object.

**To Reproduce**

[code]

**Expected behavior**
No error

[2021-01-12 16:55] sks-ttaylor commented on #1700
Further findings:::

if switch from @bind-Text to Text and TextChanged  it works...

[2021-01-12 21:45] sgesweinFusion commented on #1184
My workaround of the day for this is to rewriting OnProgressed as async and having it explicitly yield to other Blazor work (like updating the UI) after calling StateHasChanged:
[code]
That `await Task.Yield()` to let Blazor do whatever it wants for a while with the UI thread feels somewhat risky, though, and is probably a bad idea outside of Blazor WASM and maybe in other ways. I'd rather see it

[2021-01-12 22:40] Sossenbinder opened #1701 "Carousel doesn't render"
**Describe the bug**
I am trying to get the Carousel to work as described in the documentation, but there's nothing rendered at all

I'm currently using this code:

[code]

The carousel is not only invisible, but it's also not even being rendered at all. The DOM is completely missing the component.

I tried to check its state by setting a @ref and was able to figure out that it is indeed properly

[2021-01-12 22:46] Sossenbinder commented on #1701
Okay, that was a quick one...

It seems like I was merely missing the

[code]
part. Didn't think it would make a difference!

[2021-01-13 09:04] stsrki commented on #1701
Yeah, `UseBootstrapProviders` is needed so that Blazorise can override a default component. At least this was needed until 0.9.2. Starting from 0.9.3 these `Use` methods are removed :)

[2021-01-13 09:04] #1701 closed

[2021-01-13 09:17] stsrki commented on #1700
There are multiple things hapening here actually. You used `Validations` and `@bind-Text` on a (somewhat) complex object. Internally this triggers Blazorise into data-annotation mode for doing validations. But the problem is that `FieldIdentifier` doesn't work with array objects. This is the same as what Blazor team is using, so I guess it wouldn't work for regular Blazor components also.

So, I'm

[2021-01-13 12:15] sks-ttaylor commented on #1700
Thanks for confirming

[2021-01-13 12:15] #1700 closed

[2021-01-13 14:07] thierrylio opened #1703 "NumericEdit Decimal not dynamically handled"
Hello,

I'm working on a page with the NumericEdit component and Decimals property doesn't work like I think it should:

[code]

1. Click on Button "-"
2. NumericEdit value should be "12.3"
3. Try enter a new value, 2 decimals remain set

Note the same issue for Min and Max.

[2021-01-13 14:41] stsrki commented on #1703
I'm trying your code sample and it's working for me. Two decimals are applied.

![image](https://user-images.githubusercontent.com/900302/104466621-b93a9d80-55b5-11eb-996d-dcac95489430.png)

Maybe it's because you have different culture. Try changing it

[code]

[2021-01-13 20:56] andrewb-idwala commented on #1381
Yes, please would like to see this soon.

[2021-01-14 01:20] devinbandara opened #1705 "Datagrid - Unselect child data grid"
Currently when you select a datagrid row that has a child grid, the child grid expands when you click on the parent row but if you click on the parent row again, you can not deselect the row and collapse all the child grid rows. The only way to collapse the child grid row is to click on another row.

Can you add a feature that collapses the Child Grid within a selected parent row when you click on

[2021-01-14 08:59] stsrki commented on #1705
Just hold the CTRL key while clicking on a row. It's a standard way of unselecting the row and it is supported by DataGrid.

[2021-01-14 10:55] paulosdfigueiredo commented on #1705
If you really want unselect on click you can just use a SelectedEntity like this in your component.

[code]

[2021-01-14 13:01] thierrylio commented on #1703
That is right, first render is ok (with 2 decimals).
But when I click the "-" button (to decrease decimals), value should change to 12.3 then 12 with an other click.

[2021-01-14 13:20] stsrki commented on #1703
Ah, so you want to change the decimals dynamically? Well, I can probably make it work, somehow, but I don't see why would you do it.

For example, if you make smaller decimals you would _lose_ data, so for example if you have `12.34` for start, make it to `12` by lowering decimals, and then up, you will get `12.00`. Is that OK?

[2021-01-14 13:25] itsLollo1000 commented on #1601
Any news on that?

[2021-01-14 15:45] joseazevedo opened #1706 "Creation of BarDropdownDivider"
Creation of a BarDropdownDivider

[2021-01-14 15:47] stsrki commented on #1706
A little background here. @joseazevedo and I talked over Gitter and we realized there is no `BarDropdownDivider` component. There is only `DropdownDivider`. But we need the one that is just for the Bar component.

[2021-01-14 15:48] stsrki commented on #1706
@MitchellNZ I will assign this to you and you decide in which milestone to do it.

[2021-01-14 21:43] devinbandara commented on #1705
This action unselects the parent grid but does not collapse the child grid. Child grid stays expanded

[2021-01-15 07:02] thierrylio commented on #1703
Yes it is ok. Of course this code is not my real use case.
Here is the final job : an input component for temperature with unit choice. When the user switch from °C, °F or Kelvin, NumericEdit parameters Decimals et Min must adjusted.
![image](https://user-images.githubusercontent.com/35895893/104692181-d2ebfa00-5707-11eb-80b4-b1a8f29e8ae1.png)

[2021-01-15 08:31] stsrki commented on #1703
I tried to make it work by using an `if` statement to recreate `NumericEdit` for each option but it still not working.

[code]

I expected to at least initialize input with decimal places, but no luck. It seems this is a known problem https://stackoverflow.com/questions/22641074/html5-number-input-always-show-2-decimal-places

Going on list as a bug.

[2021-01-15 08:32] stsrki commented on #1705
Child grid is controlled by `DetailRowTrigger` handler

**Example**

`DetailRowTrigger="@((item)=>item.Salaries?.Count > 0 && item.Id == selectedEmployee?.Id)"`

[2021-01-15 09:58] #1445 closed

[2021-01-15 10:03] #1196 closed

[2021-01-15 10:44] SimonAndrews commented on #1240
Would it be possible to provide away to allow full override of the pagination display via a <PagerTemplate> or similar to the other templates in the DataGrid? and provide a context that has the current page and either total records or total pages.

This would allow full customisation for people to display the paging in anyway they need to.

[2021-01-15 11:36] Meberem commented on #1615
I started looking into this before I saw @MitchellNZ was working on this. It looks like it caused by [`if ( Mode != BarMode.Horizontal )`](https://github.com/stsrki/Blazorise/blob/master/Source/Blazorise/Bar.razor.cs#L59) but I am not sure on the implications of removing this, in my test branch it seems to perform fine, do you have any thoughts on this?

[2021-01-15 11:40] stsrki commented on #1240
We already have something similar in work but it's still not ready. Check https://github.com/stsrki/Blazorise/pull/1580

[2021-01-15 14:05] sonphamit commented on #1401
Is feature available now?

[2021-01-15 14:25] mortezabarzkar opened #1710 "SelectList doesn't contain MaxVisibleItems"
is it possible to add MaxVisibleItems ?

[2021-01-15 14:29] stsrki commented on #1710
Yep, shouldn't be a problem.

[2021-01-15 15:53] stsrki commented on #1675
@cotur

This was actually a know Bootstrap problem with responsive tables.

See:

 - https://stackoverflow.com/questions/27081082/bootstrap-dropdown-menu-within-a-responsive-table
- https://stackoverflow.com/questions/26018756/bootstrap-button-drop-down-inside-responsive-table-not-visible-because-of-scroll
- https://stackoverflow.com/questions/45174905/make-dropdown-visible-in-bootstrap-responsive

[2021-01-15 15:55] #1657 closed

[2021-01-15 15:55] #1675 closed

[2021-01-15 15:55] #1655 closed

[2021-01-15 16:24] sks-ttaylor opened #1711 "dev093: DataGridColumn Width Property does not render correctly"
**Describe the bug**
When a DataGridColumn has the Width property set, the output html is incorrectly.

**To Reproduce**
```<DataGridColumn TItem="PageComment" Field="@nameof(PageComment.CreatedDate)" Caption="Date" Width="20em" Readonly="true" Sortable="true" Filterable="false" />```

generates

```<td width="20em">10/8/2020 10:02:47 AM</td>```

**Expected behavior**
Properly formatted html

[2021-01-15 16:31] sks-ttaylor commented on #1711
According to https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td  the width is a deprecated attribute.
So, I would think Width would need to be rendered in a <col /> tag.

[2021-01-15 16:44] stsrki commented on #1711
Yeah, style would be the most appropriate here.

[2021-01-15 16:47] sks-ttaylor commented on #1711
as a work around i'm using CellStyle="@((PageComment r) => "width:12em")"

[2021-01-15 19:42] stsrki commented on #1711
You can also try `HeaderCellStyle`.

[2021-01-15 19:47] stsrki commented on #1401
No, not yet.

[2021-01-15 20:38] #1710 closed

[2021-01-15 20:39] #1668 closed

[2021-01-15 20:45] stsrki commented on #1059
Done with #1709

[2021-01-15 20:45] #1059 closed

[2021-01-15 23:38] Luk164 opened #1714 "Select component not working in multiple mode"
**Describe the bug**
The SelectedValues always returns an array with a single null value. Also I noticed there is some exception being thrown that does not show up in either developer or browser consoles.

**To Reproduce**
Code:
[code]

**Expected behavior**
List contains all elements selected by user.

**Screenshots**
![image](https://user-images.githubusercontent.com/30559213/104788569-d082b200-

[2021-01-16 11:44] stsrki commented on #1714
`Select` doesn't work with complex objects, so `Tag` will not work. You must remember that everything must end in a DOM and DOM `select` elements can only work with basic types like `string` or `int`.

I modified your example slightly and it now it is working.

[code]

[2021-01-16 12:19] #1326 closed

[2021-01-16 14:32] Luk164 commented on #1714
@stsrki Is there a specific reason why it is made like this? Because if not then maybe I will take a look at upgrading it so that it can take any object once I have the free time. (Exam season this month)

[2021-01-17 14:45] stsrki commented on #1714
It's a limitation with how browsers are working and not with Blazorise. Look at some of the links where you can learn more about the reasons

- https://www.telerik.com/forums/binding-dropdownlist-value-to-complex-model
- https://stackoverflow.com/questions/59176644/how-to-bind-object-to-select-option-in-blazor

Basically, you can try converting your entire model into a string. Maybe a simple overr

[2021-01-17 15:11] Luk164 commented on #1714
@stsrki I see, so we cannot assign a value directly to select option other than a string. In that case, I think I have a workaround. If we create a dictionary<GUID, TValue> we could assign a guid string and then translate it into the relevant object before returning it as a value. A bit of an overhead but it should work. What do you think?

[2021-01-17 15:13] stsrki commented on #1714
You mean internally in Blazorise? I'm not sure if I would like to go that way. While it might work, it feels like a hack to me. Let me think it through...

[2021-01-17 15:18] Luk164 commented on #1714
@stsrki I would suggest creating a separate component, like GenericSelect or something, and if it works out we could either have two - a lightweight one and a powerful one, or merge them together in some way. Considering the power of most devices today, a single dictionary and a translation function should not be that big of a deal, unless the select has an enormous amount of options.

[2021-01-17 15:19] Luk164 commented on #1714
@stsrki On second thought, the new component would merely have to wrap the old select with the value translation added in between

[2021-01-17 15:20] stsrki commented on #1714
I would rather have a single component with new functionality than creating new.

[2021-01-17 15:40] Luk164 commented on #1714
@stsrki I understand. We can see about that once we see it works and does not put undue strain on either the server or browser.

[2021-01-17 21:02] stsrki opened #1720 "Investigate why duplicate FilterContext are used"
See comments on

https://github.com/stsrki/Blazorise/pull/1719

[2021-01-18 15:20] Luk164 opened #1723 "[Question] Question about blazorise and IntelliSense"
@stsrki I have a quick question, did you do anything special to make intelliSense work better with your library?

Because I was making a custom component and I wanted an Action parameter as a callback, but while it works, the intelliSense does not fill in the lambda like yours does. The only thing related I see in blazorise code is this:
[code]

Example:
 Neither of these gets intelliSense
[code]

[2021-01-18 15:23] stsrki commented on #1723
Nothing special is done in Blazorise. I guess you're using Rider as your IDE? It tends to not work that well with razor syntax.

[2021-01-18 16:02] Luk164 commented on #1723
VS with ReSharper actually

[2021-01-18 19:34] stsrki commented on #1723
I really cant talk or know much about the reasons since I only use VS intellisense. Maybe you can ask on JetBrain/Resharper help desk?

[2021-01-18 23:49] Luk164 commented on #1723
@stsrki No reason for that, they both already know blazor support sucks and needs more work. I wanted to check just in case you used something special I did not notice.

[2021-01-18 23:49] #1723 closed

[2021-01-19 08:15] stsrki commented on #1723
🤣

[2021-01-19 14:09] David-Moreira opened #1726 "DataGrid: Multiple Sorting doubt"
Hello @stsrki
is this the expected behaviour for multiple sorting?
`SortMode="DataGridSortMode.Multiple"`

I'm trying to filter by ID Desc, and then by "Estado" ASC. Should it not apply the ID Desc filter and then the "Estado" ASC on top of it cumulatively? In fact it doesn't seem to be doing anything at all. Or am I missing something or thinking wrongly about it?

However if I apply "Estado" ASC

[2021-01-19 14:21] stsrki commented on #1726
Well, I think it's doing it like that. As far as I can see your IDs don't have duplicates so they are always sorted in either ASC or DESC. As a result, nothing else can be sorted in between.

If you would have duplicate IDs then sort would make sense in your case

| ID | Name |
|----|------|
| 10 | a    |
| 10 | b    |
| 10 | c    |
| 11 | a    |
| 12 | d    |
| 13 | e    |

[2021-01-19 14:26] David-Moreira commented on #1726
I see that explains, so it was something logical after all and it has to do with "common records"(duplicates). That's why first filtering by "Estado" would make it work. Since among the common records "Estado" it can then further sort by ID.
Thanks for your help and fast response @stsrki.
Closing issue.

[2021-01-19 14:26] #1726 closed

[2021-01-19 15:23] intiharj opened #1728 "BarToggler misaligned when horizontal scrolling"
Easy to see this problem by looking at attached image.

Using:   _<Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Hide"_, and _<BarToggler Mode="BarTogglerMode.Popout">_

First, make the browser narrow so that the browser's horizontal scrollbar appears.  Then scroll to the right while watching the popout toggler.  When I do this, the small, curved toggler button does not move left

[2021-01-19 19:09] dwildcash commented on #1441
Hi Iam running version 0.9.2.5 and TotalItems is not respected it display all items. I even hardcoded the value.  Iam doing something wrong? I have 400 elements and they are always all showing and the pager do nothing on click (but The number of page calculated look good)

 <CardBody>
                <DataGrid TItem="Delegate"
                          Bordered="true"
                          Hov

[2021-01-20 01:24] petersgiles opened #1730 "set focus on TextEdit"
I am trying to set focus on a TextEdit when I make it visible.

there doesn't seem to be a way to do this on the TextEdit

[code]

[2021-01-20 08:30] stsrki commented on #1730
In version 0.9.2x, for `TextEdit`, you have the `Focus` method.

[code]

Starting from 0.9.3 you also have `FocusAsync`. So previous example would look like

[code]

And also you now have the easiest option and that is

[code]

[2021-01-20 08:30] #1730 closed

[2021-01-20 08:40] alexR148 opened #1731 "DataGridColumn TItem Field does not support inherited interface types"
**Describe the bug**
If TItem is type of inherited interface, it is not possible to access the fields of the base interface.

**To Reproduce**

1. Make sure IEmployee is an inherited interface

[code]
2. Try to access a field in the base interface
`<DataGridColumn TItem="IEmployee" Field="Name" Caption="Name"  Editable="true" />`

3. Run.
4. An exception is thrown indicating that the 'Name' field

[2021-01-20 08:44] stsrki commented on #1731
That should definitely work. Thanks for reporting it!

[2021-01-20 08:51] alexR148 commented on #1731
Maybe this peace of code will help you

`
 public static class Filterextension
    {
        public static IEnumerable<PropertyInfo> GetPublicProperties(this Type type)
        {
            if (!type.IsInterface)
                return type.GetProperties();

            return (new Type[] { type })
                   .Concat(type.GetInterfaces())
                   .SelectMany(i => i.GetPropertie

[2021-01-20 09:36] stsrki commented on #1441
@dwildcash
I don't see any problem with your razor, only that you hardcoded 500 items. Can you share how you fetch your data?

[2021-01-20 10:36] jensengbg-jakob-reesalu opened #1732 "DataGrid: trigger ReadData mode externally"
**Is your feature request related to a problem? Please describe.**
I'm trying to have a button, that calls a method loading the data grid with data. While loading I want the loading template to show. This isn't possible however because ReadData cannot be triggered from the outside, it only works when I do filtering or pagination on the grid - because the DataGrid code recognizes these actions. It

[2021-01-20 13:53] d-oit opened #1733 "NumericEdit with steps button"
Current implentation has no button up/down steps

What is the best way for the implementation? Use html <button> or the Blazorise Button Control?

**razor**:

[code]

**cs**

[code]

[2021-01-20 14:00] stsrki commented on #1733
@d-oit Using `<input type='number' />` is the easiest, since it's natively supported by the browsers. But you will have to implement validations and any other logic if you would like to use it within Blazorise.

Your example from above could work, although you're still using a regular `<input>`. You should instead use a `<NumericEdit>`. Obviously, you still need to adjust CSS for spin buttons to a

[2021-01-20 14:35] d-oit commented on #1733
@stsrki Already changed NumericEdit with the code:

![image](https://user-images.githubusercontent.com/6849456/105189217-05955880-5b35-11eb-8543-4c6696d1ea1e.png)

[2021-01-20 14:37] d-oit commented on #1733
If you are already changed the numeric blazorise control i could wait for your changes :-)

[2021-01-20 14:41] stsrki commented on #1733
Still didn't change it. It's on the list.

I find this that is exactly the same as we want to have: https://demos.devexpress.com/blazor/SpinEdit

[2021-01-20 14:42] stsrki commented on #1733
Also, https://codepen.io/Thomas-Lebeau/pen/csHqx

[2021-01-20 14:44] stsrki commented on #1642
Close in favor of #1733

[2021-01-20 14:44] #1642 closed

[2021-01-20 16:13] d-oit commented on #1733
@stsrki  My working changes without css:  https://github.com/d-oit/Blazorise/commit/a1217781ac668605e6b2fc0472e2c3361d5662bb

Could you take over the css / naming conventation part? On Sunday or next week i could write the unit test part.

ToDo
- [ ] CSS
- [ ] Unit Test

[2021-01-20 16:16] stsrki commented on #1733
All new work should go from dev093 branch. Also, please remember that the sam functionality must be implemented for all providers, not just for bootstrap.

[2021-01-20 20:38] Morasiu opened #1734 "Clicked event isn't firing if `BarLink` has property `To` set"
**Describe the bug**
`Clicked` event is not firing in `BarLink` if `BarLink` has `To` property set. Is it intended behaviour?

**To Reproduce**
Steps to reproduce the behaviour:

I mean you can see in the source code that clicked event is not assigned.

[code]

**Expected behaviour**
`Clicked` event should be firing (I guess?)

**Additional context**
I can make a PR and help develop `Blazorise` if

[2021-01-21 08:08] stsrki commented on #1734
This was done intentionally. When `<a href>` is defined, once the link is clicked it will navigate to the URL. And click in that case has little context.

It's an easy change if that is desired but most of the time I had more problems when clicking and href are both present.

[2021-01-21 08:49] Morasiu commented on #1734
`Blazorise.Link` has `Clicked` property so it would be nice to have consisted behaviour with `BarLink` and their `Clicked` property.

Also, I was going to use that `Clicked` property in my project :)

[2021-01-21 08:58] stsrki commented on #1734
It was done a long time ago so I had to look it up. You're right it really has a `Clicked` event. Maybe it wouldn't hurt to have it on all component 🤔

[2021-01-21 09:01] Morasiu commented on #1734
I can work on it and a even add a test if you want :)

[2021-01-21 09:13] stsrki commented on #1734
Sure, that would be great :)

Just don't forget to follow [CONTRIBUTING](https://github.com/stsrki/Blazorise/blob/master/CONTRIBUTING.md) guide. A lot of people fail to do it.. 😅

[2021-01-21 11:43] #1681 closed

[2021-01-21 14:25] #1734 closed

[2021-01-21 14:49] Jimmys20 opened #1736 "'form-control' class appended twice for Components that inherit BaseTextInput<TValue>"
Hi,

BootstrapClassProvider.cs has the line:
`public override string DateEdit() => "form-control";`

but because DateEdit Component inherits from BaseTextInput<TValue> it already gets the form-control class from:
`public override string TextEdit( bool plaintext ) => plaintext ? "form-control-plaintext" : "form-control";`

So in the end the generated html element has the 'form-control' class twice.

[2021-01-21 14:54] thierrylio opened #1737 "NumericEdit with Min=2"
It is not possible to enter a value starting with 1 like (10, 11, 100, ...) in a NumericEdit where the Min attribute set to 2.

[code]

[2021-01-21 21:55] drma-dev opened #1739 "tooltip - detect page width"
Is there a way to detect the page boundaries and show the tooltip completely?

![image](https://user-images.githubusercontent.com/12803050/105417200-081dae00-5c1a-11eb-8308-532172cc631c.png)

[2021-01-22 08:25] stsrki commented on #1739
Probably yes, but it's a complex component so I will need to investigate it more.

With quick inspections I modified this and it seems to work:
[code]

You can now proceed from here and add custom `media` breakpoints.

[2021-01-22 08:51] #1731 closed

[2021-01-22 09:09] #1732 closed

[2021-01-22 09:55] #1720 closed

[2021-01-22 13:58] drma-dev commented on #1739
It didn't work or I don't think I understood.

My knowledge of CSS is not advanced.

[2021-01-22 15:10] CJHCapture commented on #1578
Any update on this issue?

[2021-01-22 15:28] stsrki commented on #1578
First, sorry for not answering sooner.

This behavior was intentional after we realized in the latest versions of bootstrap having an extra `col` class name is invalid.

- `col-6` is valid
- `col col-6` is invalid

Now, I'm really not sure what is the right behavior for `offset-auto`. But considering it's a pretty rare use-case I think it's best for you to just define it explicitly.

**Example**

[2021-01-22 15:37] CJHCapture commented on #1578
Thank you for the response and work-around!

[2021-01-22 15:37] #1578 closed

[2021-01-22 15:57] stsrki commented on #1736
You're right. While not breaking anything it shouldn't still generate duplicate names. Going on the list!

[2021-01-23 12:39] stsrki commented on #995
Hi @StefH, I hope you're feeling well.

Here I wanted to let you know that I'm working on upgrading validation so that it's more flexible. And in doing so to support fluent validation.

So far I managed to _modularise_ validation component in a way that I have created an interface `IValidationHandler`. It looks like this:

[code]

And I implemented all current validation mechanisms with it. The id

[2021-01-23 13:54] AlexTeixeira commented on #1445
Hi,

Sorry for the delay. I will look at this right now, but seems to resolve the big pictures for this issue. If I found some minors issue I open new ones :).

Thanks for your time 👍

[2021-01-23 14:16] AlexTeixeira opened #1744 "Blazor Server - Version 0.9.3-preview6 not working"
**UseBootstrapProviders**  is not accessible from **IApplicationBuilder.ApplicationServices**.

Migrate from 0.9.2.5 to 0.9.3-preview6 in net5 application

![image](https://user-images.githubusercontent.com/6555080/105580662-0117ac80-5d8e-11eb-9db0-68e085b7e52a.png)

[2021-01-23 14:18] stsrki commented on #1744
Use methods are obsolete from 0.9.3. You should just remove those.

[2021-01-23 14:18] #1744 closed

[2021-01-24 13:02] stsrki commented on #995
**Update:**

3. Might be the most flexible solution so far `<Validation HandlerType="typeof(IFluentValidationHandler)" />`

With this solution, we can define as many handler types we need.

[2021-01-24 16:03] AlexTeixeira commented on #1744
Hi,

I remove the lines and now project does not work anymore

![image](https://user-images.githubusercontent.com/6555080/105635946-1102bf80-5e66-11eb-8b4c-a54608129df1.png)
![image](https://user-images.githubusercontent.com/6555080/105635958-18c26400-5e66-11eb-8a7d-72e9ae9468c8.png)

[2021-01-24 16:31] dumaisf opened #1745 "Carousel component - slide animation not working"
I use the carousel component in my blazor app. All work fine, including **controls** and **indicators**, except there is **no slide** animation. As if the _transition delay_ is zero.
On the same page, I create the **same carousel** (_same photos_) **without** the _carousel component_, using html **markup** from carousel bootstrap v4.6 documentation. Everything works fine including the slide animat

[2021-01-24 19:42] stsrki commented on #1745
The reason why Bootstrap animation is working is that native elements are controlled with javascript and jquery.

Blazorise component on the other hand only switches CSS class names and because if that no animation can be seen. The only way to make it work is to call Bootstrap javascript methods but I'm still not sure if I'm OK with that.

[2021-01-24 21:05] dumaisf commented on #1745
Since all bootstrap javascript is already included in my page, why not let bootstrap do all the work with javascript? What is the benefit of your solution?

[2021-01-24 21:36] stsrki commented on #1745
The benefit is to do everything in C#, without the need to import `bootstrap.js` or `jquery.js` files. I know many Blazorise users, and also worked on some projects that do not want to depend on those files and want to do everything with C# code only.

Now, this is some idea that I'm been thinking about lately. Could be possible to detect if any `bootstrap.js` or `jquery.js` is available, and then

[2021-01-24 21:39] stsrki commented on #1744
Did you convert from 3.1 to .Net 5? Maybe you're missing `Microsoft.NET.Sdk.BlazorWebAssembly` defined in a csproj file. Look through our demo projects for reference on what you might be missing https://github.com/stsrki/Blazorise/tree/dev093/Demos

[2021-01-24 21:49] dumaisf commented on #1745
Blazorise installation source require bootstrap.js and popper.js. So then why do I have to include bootstrap javascript for blazorise to work? I added bootstrap javascript after installing blazorise package. That's the only reason. I don't get it.

[2021-01-24 21:51] stsrki commented on #1745
They're left in the installation guide as an example. But they are not required for Blazorise to work. It all depends on your own project requirements.

[2021-01-25 01:08] dumaisf commented on #1745
Blazorise doesn't use bootstrap javascript, that's fine, it should be documented. Carousel component doesn't support slide animation, I understand everything is not perfect, but this should also be documented. Thanks.

[2021-01-25 06:52] techierathore commented on #995
This is awesome @stsrki , How Can we test this if we have to ?

[2021-01-25 08:13] stsrki commented on #995
@techierathore Only way to test is to clone a repo and then add project references manually instead of using NuGets. Like

[code]

If you wish to go that road I will commit the latest changes for testing 😅

[2021-01-25 08:20] stsrki commented on #1745
You're right, it should be documented, or mentioned somewhere. If everything was perfect I would have 10 people working on Blazorise, and these things would be left to a minimum. But, I'm not. I'm mostly working alone and in my free time. So, there no way I can think of, or do everything. I hope you understand that...

Also, if you feel something is missing or can be improved feel free to contribu

[2021-01-25 12:13] stsrki commented on #996
Started some work on this and so far it's working well. Also fixed some nasty bugs.

But, I did notice something. Whenever I call `EditContext.NotifyFieldChanged( fieldIdentifier );` an `OnFieldChanged` event will be called multiple times. And with each input value change, the number of calls will go almost exponentially. The first change, 2 times, second change > 5 times, third change > 9 times,

[2021-01-25 13:12] AlexTeixeira commented on #1744
My Bad, I was making another change.... My project compile, I need to use the french language now 👍

[2021-01-25 13:41] Smurf-IV opened #1746 "DateEdit TValue should be used for setting Min and Max values as well"
**Describe the bug**
    <DateEdit TValue="DateTimeOffset" Style="max-width: 200px" Date="@date" @onchange="OnDateChange" Min="@minDate" Max="@MaxDate"/>

**To Reproduce**
DateEdit TValue="DateTimeOffset"

Min and Max value types **HAVE** to be DateTime

**Expected behavior**
Use TValue type

[2021-01-25 18:10] WayneHiller opened #1748 "Dropdown Requires an extra mouse click to open."
Blazorise.Bootstrap v.0.9.2.5

All the Dropdown (Buttons) on my pages require two clicks to open the dropdown list initially. Once opened they work correctly from then on until a page is revisited.

[code]

The very first click on a Dropdown Toggle focused the Button but does not open it. After this initial click the Dropdown works correctly with a single click.

[2021-01-25 22:01] ryanph-javs commented on #296
@stsrki Can you take another look at this? I am having this issue as well. The problem seems to be rooted in the `ModalBackdrop`. If I remove that I can scroll with no issues but if it's there I can't scroll at all. I'm using bootstrap as well.

[2021-01-26 05:40] pvagnini opened #1749 "Datagrid Checkbox Column Header"
Hi,
Great set of tools thanks.

For a Datagrid with a Checkbox Column being used as row selection is there any way to render a Checkbox in the Header that can be used to then select / deselect all rows please?

Thanks

[2021-01-26 07:23] techierathore commented on #995
Sorry I will wait for the MyGet release then 😅😅

[2021-01-26 08:21] stsrki commented on #296
@ryanph-javs It's already on the list for this milestone #877

[2021-01-26 08:29] stsrki commented on #1749
We already have multi selection mode by using checkboxes in one of the latest 0.9.3 previews. It is set simply by `<DataGrid SelectionMode="DataGridSelectionMode.Multiple">`

If you want to try it here is the guide https://github.com/stsrki/Blazorise#try-preview

[2021-01-26 08:34] stsrki commented on #995
@techierathore Fair enough 😂

[2021-01-26 08:46] stsrki commented on #1748
Sounds like something is interfering with dropdown attributes or styles. Can you check that you don't have duplicate imports of `bootstrap.css` or `bootstrap.js` files? Or even better, show us the entire content of your `index.html` or `_Host.cshtml`.

[2021-01-26 09:07] pvagnini commented on #1749
Thanks for you quick response. I have used 0.9.3 and set the multi select mode as you suggested.

 
I can see that it allows to click multiple lines and select them but it is not quite what I had in mind.

 
My model contains an IsSelected bool field linked to the checkboxes as per below. What I was looking for is to have a check box in the header row also that I could use to select or de-select a

[2021-01-26 09:14] stsrki commented on #1749
You have that option

![image](https://user-images.githubusercontent.com/900302/105824720-09a2f980-5fbf-11eb-81c2-fbf8d7bd4e70.png)

Also, check 093 demo for reference https://github.com/stsrki/Blazorise/blob/dev093/Demos/Blazorise.Demo/Pages/Tests/DataGridPage.razor

[2021-01-26 10:06] pvagnini commented on #1749
Thanks got it. I see there is a new DataGridMultiSelectColumn

 
I realise I can bind the SelectedItems to a List, but is there any way to bind the MultiSelectColumn to the bool field in my model? I tried the usual Field="@nameof(Model.IsSelected)" but this does not appear to work.

 
I have also seen a couple of other thing upon using 9.3 preview.

 
The OnSelectedRowStyling no longer appears to

[2021-01-26 10:16] stsrki commented on #1749
Hi,

1. I checked in code and it seems currently checked state is done with internal IsChecked property. Since @David-Moreira has done a multiselection feature maybe he can also answer how hard would it be to use an item field if it is defined?

2. OnSelectedRowStyling works for me, I just tried it for both single and multi mode

![image](https://user-images.githubusercontent.com/900302/105831616-

[2021-01-26 10:35] pvagnini commented on #1749
Thanks,

 
Looks like previously styling.Background changed the background highlight but now it is styling,Color

 
From: Mladen Macanović <notifications@github.com>
Sent: Tuesday, 26 January 2021 8:16 PM
To: stsrki/Blazorise <Blazorise@noreply.github.com>
Cc: Paolo Vagnini <paolo@vagnini.id.au>; Author <author@noreply.github.com>
Subject: Re: [stsrki/Blazorise] Datagrid Checkbox Column Header (#1

[2021-01-26 10:38] stsrki commented on #1749
Yes, previously row color was controlled with `bg-primary` class(for Boostrap), and it was wrong. So we fixed it to use `table-primary` class.

[2021-01-26 10:41] stsrki commented on #353
Closing since date format is completely done by the browser and there is no way to it prograatically. See this comment https://github.com/dotnet/aspnetcore/issues/15400 for reference

[2021-01-26 10:41] #353 closed

[2021-01-26 11:44] stsrki commented on #1746
I had problems with setting Min and Max as TValue because I couldn't make them **nullable**. And they must be null if they're not defined as parameters. Maybe nullable features in C# 9 would help, but for that, I would need to refactor the entire Blazorise codebase.

So I can either put this on hold until I have more time to commit my self to do the refactoring or as a workaround make Min and Max

[2021-01-26 14:16] David-Moreira commented on #1749
Great! Someone else interested in this feature! :)

So... I don't think we expose anything like IsSelected no, not on this feature, neither on the datagrid in general.
@stsrki correct me if I'm wrong.
The only thing that tells you what is selected, is the SelectedRow and the SelectedRows in the case of multi select being active.

From the top of my head, you have two ways.
- You do a boolean check

[2021-01-26 15:44] #995 closed

[2021-01-26 15:44] #996 closed

[2021-01-26 15:44] #1029 closed

[2021-01-26 15:44] #1515 closed

[2021-01-26 19:21] BrianHeredia opened #1751 "Autoplay="false" not working all the time"
Hi,

I'm using a Blazorise Carousel on my Blazor Server project and setting the Autoplay to false, but this does not work all the time. My code is this:

`<Carousel @bind-SelectedSlide="@selectedSlide" ShowIndicators="false" Autoplay="false"  AutoplayInterval="10000000">
   ...
</Carousel>`

When I use the Inspector I see that the Bootstrap Carousel reproduces as follow:

`<div class="carousel sli

[2021-01-26 21:04] pvagnini commented on #1749
Hi David,

 
Thanks for your response. Just to be clear the IsSelected property is part of my model and not something that should be implemented by the data grid.

 
I have previously used a generic column with a Check in the Display Template that binds to my property and works, but this is missing the ability to check all in the header.

 
What would be great would be if you could still bind the

[2021-01-26 22:34] David-Moreira commented on #1749
I understand what you'd like to do. It's not what the feature was intended for, but maybe you can customize it enough with the template to get it working just how you'd like. The feature is to "select many" and then do operations based on the records selected. Not to promptly bind model information. For example I am currently using it to allow my user to select various records, based on a one to m

[2021-01-26 22:52] stsrki commented on #1751
I've just tried `Autoplay="false"` and it seems it's working.

Are you setting `Autoplay` dynamically or just once when the page is initialized?

[2021-01-27 00:26] pvagnini commented on #1749
Hi David,

 
I tend to use a generic IsSelected property on most of my models. The purpose of this is so that selected records can then easily have some type of process performed on them based on the same list that populated the view.

 
I have found this approach works well when working in WPF MVVM.

 
I can certainly work with what is available but just thought it would be nice to bind directly

[2021-01-27 04:43] BrianHeredia commented on #1751
I'm setting it one time, not dinamically.

As I said, almost always works, but sometimes just for a while, and the it starts autoplaying.

[2021-01-27 07:13] Smurf-IV commented on #1746
As this is a date edit control, then DateTime and DateTimeOffset can be null without being "nullable" (I think).
A compile time check for the types passed in (Much like it does for event OnChanged and edit-Value are both set.)

If you do go the object route, then put the comments into the code so that an observer of the code (Decompiler) can read those comments as well.
This control has to support

[2021-01-27 08:24] stsrki commented on #1746
It's not so easy. When you use a generic type, once initialized it will be set with its `default` type. That's how C# works. You can test it yourself with this simple code

[code]

This is because `DateTime` is a value type and it cannot be null unless you mark it as nullable. So if you define `DateEdit` component as

[code]

it will become

![image](https://user-images.githubusercontent.com/90030

[2021-01-27 08:30] stsrki commented on #1751
It's hard to tell what's wrong when it is not consistent. Maybe it's something with SignalR connection when you use server-side Blazor 🤔.

I tested with Chrome, Firefox, and Edge and they all work just fine.

[2021-01-27 09:44] DDDenisSobek opened #1752 "RichTextEdit collapses at async initialization"
**Describe the bug**
RichTextEdit will throw exception, if editor content is loaded asyncron.

**To Reproduce**
1. Build this page:
[code]
2. Open this page.

**Expected behavior**
Asyncron loading of content should not throw exception and should work like syncron.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/65016836/105973080-99fb4000-608c-11eb-870a-7bc1dda12c9a.png)
![gr

[2021-01-27 10:41] stsrki commented on #1746
Making Min and Max as DateTimeOffset is the easiest and the best option I think.

[code]

It will allow for both DateTime and DateTimeOffset, including nullable types. And it will constrain us from setting the wrong value type.

[2021-01-27 13:22] #1746 closed

[2021-01-27 14:48] hugomarshall commented on #1441
I have the same problem... I fill the datagrid with mock data and the "items per page" is not working. Always show all data rows...

[code]

Data fetch:
[code]

Mock:

[code]

[2021-01-27 15:04] stsrki commented on #1441
@hugomarshall You're using manual read mode. In that mode, DataGrid will only give you information about the current state of the DataGrid. Meaning that you're in control over your data.

[code]

[2021-01-27 15:20] hugomarshall commented on #1441
Nice man! Works like a charm...
in time, have a way to change the value for label "items per page" and the count '1 - 10 of 10 items' ? I wanna translate to pt-BR

[2021-01-27 15:26] stsrki commented on #1441
@hugomarshall It's already possible in 0.9.3.

If you would like to contribute please look at #1729 for reference :)

[2021-01-27 19:37] David-Moreira commented on #1749
Seems like you can accomplish that with the template.
Just let us know, if you're not able, or need any help. :)

[2021-01-28 09:08] stsrki commented on #1748
Hi, any feedback on this? Did you check your files for duplicates?

[2021-01-28 09:21] stsrki commented on #1737
@thierrylio I'm not sure what is the _right_ behavior here. For example when I try this code

[code]

and run it on https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_number I can enter `1` but I will get the error when I try to **submit**. So input is not limited from entering anything until submitting is done and validation is executed.

But the same code in Blazorise would no

[2021-01-28 11:11] #1736 closed

[2021-01-28 13:26] c0fe opened #1756 "Adding another UI"
I am looking into adding another UI, specifically I am looking into adding Core UI into Blazorise but I didn't see any documentation in regards to what are the best practices to go about this. Is there something I missed?

[2021-01-28 13:33] stsrki commented on #1756
From what I can see Core UI is based on Bootstrap, so simply replacing `bootstrap.css` files in your `index.html` should work.

On the other hand, if you want to add Core UI as an additional provider for Blazorise, eg. `Blazorise.CoreUI` then you can follow the implementation of our `Blazorise.Material` project.

[2021-01-28 14:10] WayneHiller commented on #1748
I am not seeing any bootstrap duplicate css. I am using SCSS with bootwatch as well. Plus Talerik UI for Blazor. so ya there is a lot going on. It is strange because it only seems to happen once in a while. Quite often now when I run the site it is fine from the start. I am still trying things to see if something if causing it to happen at runtime.  Not sure what I should look for that would cause

[2021-01-28 14:13] stsrki commented on #1748
Maybe some javascript code is looking for `dropdown`, `dropdown-toggle`. Or maybe on `data-*` attribute, eg. `data-toggle`.

[2021-01-28 14:19] WayneHiller commented on #1748
@stsrki  Ya my thinking as well, seems like it is a timing issue or I might have to click something on the page to get it to start happening. Sometimes it seems like when the issue happens it is right from the start of the page but still trying to confirm that. I don't see how css would cause this issue, feels like it would have to be JS/C#

[2021-01-28 14:27] WayneHiller commented on #1748
What is also strange is that it only happens once to each of the dropdowns on the page. The first click on each sets the focus only without opening the list. But after that first click each one works perfectly after that. Every dropdown needs that first click to start working correctly. Like the initial "IsOpen" value is set wrong..

[2021-01-28 14:28] stsrki commented on #1748
Try commenting-out each `.js` file unti it starts working.

[2021-01-28 14:32] WayneHiller commented on #1748
@stsrki The problem is I can't even get it to misbehave now, the damn thing is working perfectly every time I run it lol. I will keep an eye on it and see what I can find the next time she decided to break.

[2021-01-28 16:13] c0fe commented on #1756
@stsrki it is based on bootstrap but it has a lot of unique named css elements as well though.

[2021-01-28 18:18] stsrki commented on #1756
In that case, the second option is the right way to do it. I just tried replacing `bootstrap.min.css` with `coreui.min.css` just to see what would happen and I would say it works for the most part. Somewhere around 80-90%, it is OK. The last 10-20% you should have to cover with `ClassProvider` and/or custom CSS styles.

Note that it is not an easy task but considering that almost everything is alr

[2021-01-29 09:06] NeoCoderMatrix86 opened #1761 "Help: Set TableRowCell MinWidth"
Hello,
I use a TextEdit inside a TableRowCell. Is it possible to set a minimum witdth for the input (for example on small devices)?

Thanks for help :)

[2021-01-29 09:20] ilkayilknur opened #1762 "AutoComplete SelectedValue Conversion Error"
**Describe the bug**
When I want to use `object` as `TValue`, I get `System.InvalidCastException: Object must implement IConvertible` exception when selected item changes. I don't get this exception when I use the stable version. It fails when I use the latest preview package.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Add AutoComplete component like this
[code]

**Screenshots**
If

[2021-01-29 10:12] stsrki commented on #1761
I plan to implement utility classes in Blazorise, similar to [this](https://getbootstrap.com/docs/4.6/utilities/sizing/) but it will not be done soon.

For now, your best option is to use CSS and target `TableRowCell` class name.

[code]

[code]

[2021-01-29 10:28] NeoCoderMatrix86 commented on #1761
Thanks, works like charms :). Looking forward to the next release, keep up the good work 👍 !

[2021-01-29 10:28] #1761 closed

[2021-01-29 12:04] itsLollo1000 opened #1766 "Dropdown Selected Element on Dark Colors"
When having a dark primary color the selected element text remains black.

Export Button Color is `<DropdownToggle Color="Color.Secondary">`
and my Primary Color is black set in the Theme via

[code]

![image](https://user-images.githubusercontent.com/10349466/106273068-55a9a480-6232-11eb-99c2-4a121384c06b.png)

Here is a fix:
`<style>
    .dropdown-item.active, .dropdown-item:active {
        col

[2021-01-29 14:14] stsrki commented on #1762
@ilkayilknur I found the problem and just as the error said the problem is that `Guid` type does not have `IConvertible`
 implementation.

This is a workaround that I did.

[code]

I will release a fix with the next version.

[2021-01-29 14:18] ilkayilknur opened #1767 "Add InputMode Parameter To the DateEdit"
It would be good to add `Mode` parameter to the `DateEdit` to generate input elements with `type='datetime-local'`.

My suggestion
[code]

[2021-01-29 18:28] LuisPignataro commented on #1233
Hi, using Task.Run (...) I call an async service in GetChilds and it works.
However, it makes the call 2 times and I don't like the use of Task.Run, I was reviewing the code but I don't know what is the best way to Make GetChildNodes work with the async await pattern.

My code is the following:

`GetChildNodes="@(item => GetChildren(item))"`

`protected ICollection<Item> GetChildren(Item item)

[2021-01-29 20:44] stsrki commented on #1767
@ilkayilknur According to [mozilla docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local), `datetime-local` has limited browser support.

[2021-01-30 02:00] pvagnini commented on #1749
Hi David,

 
One more thing I am hoping you can help with please.

 
In order to fit more on a screen I have wrapped the Data Grid in a div with font-size set at 75%

 
This all work well until I allow filters which still show at original font size which then does not look right. I can no see a way to address this. Any ideas please?

 
Regards

Paolo

 
From: David <notifications@github.com>
Sent:

[2021-01-30 09:59] David-Moreira commented on #1749
Hello,
I can try to help you, but those more general questions, could be addressed with @stsrki  :P

So, I'm guessing your problem is with the inputs the filters row have. You also have to also style them.

The following screenshot is just for demonstration purposes, you should not directly alter such a general class such as form-control, unless you really do want to do so or apply more css specif

[2021-01-30 11:47] #1762 closed

[2021-01-30 12:24] stsrki opened #1771 "Replace width attribute with width style"
Instead of

`<TableRowCell width="@column.Width">`

do

`<TableRowCell Style="@($"width: {column.Width};")">`

[2021-01-31 13:07] thierrylio commented on #1737
@stsrki thank you fo this. For my use case `Validation` is ok and I would not use `Min`.

The keystroke validation problem only appears for values ​​greater than 2. Negative, zero or 1.x `Min` values work well.
May be it would be possible to perform the validation on the Input lost focus event rather than on each keystroke !

[2021-02-01 09:32] stsrki commented on #1260
Closing this as there is no plan to leave `input type="date"`. As stated in https://stackoverflow.com/questions/35682138/html5-date-picker-doesnt-show-on-safari, you can try with Placeholder as a workaround.

[2021-02-01 09:32] #1260 closed

[2021-02-01 09:34] stsrki commented on #1281
This was already answered so closing this.

[2021-02-01 09:34] #1281 closed

[2021-02-01 09:35] #1767 closed

[2021-02-01 09:35] stsrki commented on #1527
Added!

[2021-02-01 09:35] #1527 closed

[2021-02-01 09:47] #1766 closed

[2021-02-01 09:53] robalexclark commented on #1260
Fair enough. I have written a blazor component for date - [](https://github.com/robalexclark/BlazorDatePicker ). It is a port of a noda time version (with timezone removed). Its a but rough around the edges but could be a starting point for a component if there is any interest.

[2021-02-01 09:57] stsrki commented on #1260
Dates and date pickers are really, really, complex area. Better to have native support than reinvent things. It's a lot less pain 😅

[2021-02-01 11:38] BrettButcher opened #1776 "Support for onclick:stopPropagation"
Love the clean way this libraray seems to work and happy that it is still in dev, however I need to use **onclick:stopPropogation** in a <Button> object. To be honest, I was surprised it didn't work but then found that using a standard <button> tag does work. I found various references on StackOverflow to components needing to make explicit effort to support it? I am not sure if this is just an ov

[2021-02-01 11:46] stsrki commented on #1776
This seems to work

[code]

[2021-02-01 12:33] BrettButcher commented on #1776
Ah.! Brilliant @stsrki thank you... I'll give it a go..

[2021-02-01 12:45] stsrki commented on #1776
In any case. Adding `bool ClickedPreventDefault` shouldn't be a problem, if needed.

[2021-02-01 16:24] stsrki opened #1777 "DataGrid Check All - indeterminate state"
Might be a good feature to have an **indeterminate** state for **check-all** checkbox when not everything is selected.

![image](https://user-images.githubusercontent.com/900302/106486602-1be6d100-64b2-11eb-9aa3-96041597c560.png)

[code]

@David-Moreira What do you think?

[2021-02-01 17:51] David-Moreira commented on #1777
I'm not sure what you mean?

Supporting 3 states instead of just on/off?
So when there are items selected but not every single one of them. The checkbox displays an indeterminate state instead of the standard on/off?

Does blazorise.check support that?

[2021-02-01 18:03] stsrki commented on #1777
I found this quick demonstration https://stackoverflow.com/a/48990131/833106

Yep, Check component supports indeterminate state.

[2021-02-01 19:26] David-Moreira commented on #1777
Yep makes total sense.
It's visually more appealing and indicative.

However I don't think we need to expose a property telling if it's indeterminate to the developer, what do you think? Since we also don't expose if everything is selected or not.

I can pick this one up if you'd like, should be a quick addition since blazorise.check already supports it.

[2021-02-01 20:13] stsrki commented on #1777
No, we don't expose anything :). I just gave an example for you so you know that `Check` supports an indeterminate state (`<Check Indeterminate="true"></Check>`).

[2021-02-02 00:15] David-Moreira commented on #1777
Alright. Great. Seems good to me.

[2021-02-02 12:07] stevenlupo opened #1780 "Preview4 to Preview8: Invalid URI: The hostname could not be parsed."
Upgraded from v0.9.3-preview4 to preview8.

In the morning I upgraded and it seemed to work. But later in the day, I suddenly got the error:

`System.UriFormatException: Invalid URI: The hostname could not be parsed.`

It came out of nowhere. I could not even start the application. I tried deleting my .vs folder (as is the common recommendation) and restarting. As a last resort, I rolled back Blaz

[2021-02-02 12:15] stsrki commented on #1780
That's really strange. Which parts did you change during the update? Maybe you missed something. You can always check in our demo projects for reference: https://github.com/stsrki/Blazorise/tree/dev093/Demos

[2021-02-02 14:11] SuriyaArul commented on #437
Hi all,
Actually, I have one blocker, regarding Blazorise Autocomplete. I have done autocomplete field in my project, after that, I have updated the version of abp.io CLI. so the autocomplete SelectedValueChanged event was not working... previously object arguments were taken, but now it's showing (cannot convert EventCallBack to EventCallBack<System.Guid?>)... can anyone help out this issue...
![

[2021-02-02 14:14] stsrki commented on #437
@SuriyaArul Autocomplete was converted into a generic component recently. That means you now need to define `TItem` and `TValue`, eg.

[code]

[2021-02-02 14:27] SuriyaArul commented on #437
Hi @stsrki Thanks for your reply, I already tried this one, In my case TValue is Guid, so it's not taken properly. so I want to get Guid of selected value.

[2021-02-02 14:49] stsrki commented on #437
Do you also have `SearchDiseasesHandlerAsync` as `Task SearchDiseasesHandlerAsync(Guid value)`?

[2021-02-02 14:58] stevenlupo commented on #1780
I already use the demo projects for reference.

I don't understand what you mean by "change during the update? Maybe you missed something". Missed what, for example? I updated every Blazorise NuGet package I have to the latest preview.

[2021-02-02 15:13] SuriyaArul commented on #437
yes

[2021-02-02 15:46] stsrki commented on #437
@SuriyaArul Please open a new issue with the example of your code so I can reproduce it.

[2021-02-02 15:48] stsrki commented on #1780
Well, I meant what parts of your projects did you change during the update process? It's hard to guess or know without any example or code. That's why I said to look at demo projects and see what are the differences between them and your project.

[2021-02-02 16:10] stsrki opened #1781 "Update DataGrid docs for context usage"
Instead of

[code]

write

[code]

[2021-02-02 16:11] stevenlupo commented on #1780
I'm on to something. I think it has to do with other Core packages that I updated in addition to Blazorise. This "old code" was working fine but stopped after the package updates.

Maybe you can help. I was doing this:

`return LocalRedirect(Url.Content("~/")`

after I authenticate in `Login.cshtml.cs` (it's the only way I can authenticate with cookies). But now, evidently, that's bad and is causi

[2021-02-02 16:16] stsrki commented on #1780
I just checked one of my projects and I just do `return LocalRedirect("/")`.

[2021-02-02 16:24] stevenlupo commented on #1780
Did more testing. This definitely has something to do with Blazorise and not other packages. I can reliably duplicate the exception when using Preview8, if I roll back to Preview4, the problem goes away.

See the stack trace in the image I gave. See the `Blazorise.Link.OnParametersSet()`? Could that have something to do with it?

Blazorise doesn't seem to like some code that is running after I aut

[2021-02-02 16:37] stevenlupo commented on #1780
Found the problem! Preview8 definitely broke it, but maybe I shouldn't be doing it the way I am, but it was the only way I could get it to work. Here's the offending code:

[code]
The idea was, I wanted the user to click a link to start a new email. I couldn't use the `To` attribute because (if I remember correctly) it could not parse the `mailto` (invalid uri error). But it worked with an `href`.

[2021-02-02 19:36] stevenlupo opened #1782 "Menu Colors"
Just upgraded from Preview4 to Preview8.

Did something happen to the menu colors? I don't even know how to write this one up. I'm using `<BarItem>` and `<BarDropdown>` and the coloring is all messed up. Are there new behaviors we're supposed to know about?

[2021-02-02 19:43] stsrki commented on #1782
Can you show an example?

[2021-02-02 19:43] stevenlupo commented on #1782
It's probably because I set custom color options as shown below, but I'm not sure why these are a problem.

[code]

[2021-02-02 19:45] stsrki commented on #1782
Screenshot?

[2021-02-02 19:47] stsrki commented on #1780
The problem is in the `Link `component, on line with `NavigationManager.ToAbsoluteUri( To ).AbsoluteUri`. Since you're giving it a bunch of emails separated by `;` it doesn't know what to do with it.

[code]

If I use just one email it seems to work

[code]

[2021-02-02 19:56] stsrki commented on #1780
Note for me! This should fix it:

[code]

[2021-02-02 19:58] stevenlupo commented on #1782
The image shows two screenshots side-by-side. The colors are changing on-the-fly after I click another menu option. It seems unpredictable. here's the sample menu:

[code]
![image](https://user-images.githubusercontent.com/4267021/106654375-134fd280-6566-11eb-8aae-7475b9cd9501.png)

This isn't the way I originally had it. I had Classes assigned to get the look I wanted, but that was so messed up a

[2021-02-02 20:05] stevenlupo commented on #1780
It needs to be multiple emails though. I might just build a form instead and just send the email through the back end. But a regular `<a href=...></a>` allows multiple emails with the semi-colon, so this should to.

You can close this if you want because I don't consider this a showstopper for me.

thanks.

[2021-02-02 22:16] stsrki commented on #1780
I can put it on the list for the next milestone.

[2021-02-03 05:05] sorainnosia opened #1783 "I am requesting to have AppBar, Drawer component"
**Is your feature request related to a problem? Please describe.**
When I want to start with Blazorise, I start from designing menu template razor file, but cant find any sample of how to make a Drawer with navigation link to start with.

**Describe the solution you'd like**
I would like to have an AppBar and Drawer component, where it interacts with one another. For example the AppBar has a hambu

[2021-02-03 08:48] stsrki commented on #1783
Hi @sorainnosia. There is no plan to create the components that you requested. The reason is that most of these features are already available with our Bar component? Your _AppBar_ is basically `Bar` with `Horizontal` mode, and _Drawer_ is `Bar` with `Vertical` mode. The easiest for you is to look at our demo app and then adjust what you need to https://github.com/stsrki/Blazorise/tree/master/Demo

[2021-02-03 10:41] sorainnosia commented on #1783
Oh never know the Bar component has so many options available. Even the popup overlay mode also exist.

Thanks, will try to test out my app using blazorise. Thanks

[2021-02-03 11:30] stsrki commented on #1783
Yep, our Bar component is a beast. All thanks to @MitchellNZ help 💪

[2021-02-03 11:30] #1783 closed

[2021-02-03 14:39] #1591 closed

[2021-02-04 07:21] bestpika commented on #1631
@stsrki Can you please add a comment to "README.md"? I updated to 0.9.3 and found that I couldn't compile it, so I found this paragraph after a long time.

[2021-02-04 07:45] bestpika opened #1785 "DataGrid translation of zh-TW"
I have translated the text of "zh-TW" by hand, please help me add it to the project.
[code]

[2021-02-04 08:21] stsrki commented on #1631
@bestpika README.md and documentation will be updated once we release an official 0.9.3. Until then, the documentation should mention only the official 0.9.2.x.

[2021-02-04 08:21] #1631 closed

[2021-02-04 08:23] stsrki commented on #1785
If you want to create a new PR you can use this PR as a reference https://github.com/stsrki/Blazorise/pull/1729

Also, don't forget to follow our guidelines https://github.com/stsrki/Blazorise/blob/master/CONTRIBUTING.md

[2021-02-04 08:26] stsrki commented on #1782
Can you inspect and see what is causing the style issue?

As far as I remember I have only changed `.dropdown-item` color recently.

[2021-02-04 10:50] stevenlupo commented on #1782
I figured it out. If you look at the screenshot, I was using `To=""` as a placeholder. That was causing it. I replaced it with `To="#"` and it fixed it.

But I think `To=""` should work because I think it might be common for someone to do this in the beginning not realizing it makes a difference. But if you want to close it I'm fine with that.

[2021-02-04 10:55] stsrki commented on #1782
Ah, I know what is wrong now. Recently I changed all _linkable_ items to use `Link` component. And when `Link` detects the current URL is the same as in `To` it will apply the `active` classname to the item.

Good catch, I should have tested it better 😅

[2021-02-04 11:30] pvagnini opened #1787 "Sizing for DataGrid Filter Box"
Is it possible to apply a Size property to the Filter Boxes similar to what is allowed for other controls such as TextEdit.

Currently it is possible to set the font-size that is inherited by most of the DataGrid, but if the font-size is set to say 75% to get more data on the page the Filters remain at 100% and so look out of place.

Great set of controls. Thanks for your help

Regards
Paolo

[2021-02-04 11:57] paulosdfigueiredo opened #1788 "DataGrid problems with nested fields"
**Describe the bug**
I'm having problems with nested properties after update to preview8.

I get an ArgumentException with the message "Cannot detect the member of {item.Type}".

**To Reproduce**
To reproduce it in demo i added a new property to Employee.

[code]
And then added new column to datagrid

`<DataGridColumn TItem="Employee" Field="ReportsTo.FirstName" Caption="Reports To" Editable="fals

[2021-02-04 12:05] stsrki commented on #1788
In your example, Boss is not inherited from Employee class. Is that a typo?

[2021-02-04 12:06] stsrki commented on #1788
Sorry, I misunderstood it. Ignore my previous comment 😅

[2021-02-04 12:24] #1788 closed

[2021-02-04 12:40] stsrki opened #1790 "All StateHasChanged should be with InvokeAsync"
**Example**

` await InvokeAsync( StateHasChanged );`

[2021-02-04 12:49] FStolte opened #1791 "DateEdit: Year cannot be entered manually on Chrome when using validation"
**Describe the bug**
I have a DateEdit in a form using Blazorise validation. When trying to edit the date by hand, i.e. without the date picker, it is impossible to enter the whole year.

**To Reproduce**
Here is a minimal example:
[code]

- Click on the year part of the date
- Type "2", "0", "2", "1"

**Expected behavior**
The year field changes as following while typing: "0002", "0020", "0202",

[2021-02-04 12:54] ivancavlek opened #1792 "Validation for RichTextBox"
Hi!

Is it possible to validate RichTextBoxes and how?
If not, will this feature be added?

Regards,
Ivan

[2021-02-04 13:04] stsrki commented on #1791
This is already fixed in https://github.com/stsrki/Blazorise/pull/1750

But only for 0.9.3 and up since it required many changes internally.

[2021-02-04 13:04] #1791 closed

[2021-02-04 13:05] stsrki commented on #1792
Not at the moment but it could be added sometime in the future.

[2021-02-04 13:17] SuriyaArul commented on #437
Sure @stsrki... will one new issue.., Thanks for your reply

[2021-02-04 14:17] stsrki commented on #1787
You can use `FilterTemplate` and create your own input fields with Size parameter

[code]

[2021-02-04 14:26] #1737 closed

[2021-02-05 01:21] pvagnini commented on #1787
Thankyou this works great.

[2021-02-05 01:21] #1787 closed

[2021-02-05 08:50] #1790 closed

[2021-02-05 09:01] Filiecs opened #1799 "Setting background color for entire website?"
I feel like this is really simple and I'm just missing something really obvious, but I have looked everywhere for how to set the background color for an entire website using the Blazorise themes and I just cannot figure it out. Setting it in css or using Style is trivial, but is there an intended way to do this?

[2021-02-05 09:05] stsrki commented on #1799
There is no way to set the entire background-color for `body` (or website) in Blazorise. With theming you get the option to quickly define standard colors (primary, danger, success, etc.) for buttons, alerts, etc., without going over all the manual work yourself.

For everything else, you must use custom CSS.

[2021-02-05 09:12] Filiecs commented on #1799
Thanks for the quick answer.

[2021-02-05 09:27] #1799 closed

[2021-02-05 11:09] #1780 closed

[2021-02-05 12:13] #1771 closed

[2021-02-05 12:14] #1711 closed

[2021-02-05 12:50] stsrki commented on #1782
I was thinking more about this and I think it works as expected. When you define `To=""` as an empty string it will get **active** when it detects a _homepage_ URLs. And `To=""` also means to navigate to _homepage_ when you click on a link.

[2021-02-05 15:00] stsrki commented on #1150
Already fixed with #1719

[2021-02-05 15:00] #1150 closed

[2021-02-05 15:12] NeoCoderMatrix86 opened #1801 "Table drag and drop events"
**Describe the bug**
I need to have a @ondragstart which prevents default. But when I enter "@ondragstart="() => TrackTableRowOnDragStart(track) @ondragstart:preventDefault" I can not compile. With default blazor this is possible.

[2021-02-05 16:43] rubeesh commented on #661
If ValidateOnLoad="false", untouched fields does not show any error message on Submit.

If ValidateOnLoad = "true", error message gets displayed even before touching the field, which doesn't look good.

It would have been nice if validation message is shown only if the field is touched or on submit.

[2021-02-05 19:27] stsrki commented on #661
@rubeesh Please open a new issue if you have a problem. Also, give an example so we can reproduce it on our side. Thanks

[2021-02-05 19:54] rubeesh opened #1802 "Form Validation Control Issue"
Form Validation Control Issue:

If ValidateOnLoad="false", untouched fields does not show any error message on Submit.

If ValidateOnLoad = "true", error message gets displayed even before touching the field, which doesn't look good.

It would have been nice if validation message is shown only if the field is touched or on Submit.

[2021-02-06 00:42] David-Moreira opened #1803 "TreeView: SelectedClass"
Hello @stsrki
I've also started using the Tree view for a use case I have.
I noticed that the selected class is already put there by Blazorise, In the case of bootstrap, bg-primary.
Would be nice to just have a SelectedClass to set my own freely. Otherwise I have to endup overriding bg-primary.

[2021-02-06 03:50] drma-dev commented on #1739
@stsrki

[2021-02-06 06:23] stsrki commented on #1802
ValidateOnLoad is meant to be used only for data annotations and for Auto mode. Thats why they will not react to Submit.

Can you post a sample code to reproduce your behavior?

[2021-02-06 06:24] stsrki commented on #1739
Just copy paste the css code from above into your `site.css` and it should work.

[2021-02-06 06:34] rubeesh commented on #1802
[code]

[2021-02-06 08:24] Sohra opened #1804 "Blazorise.Animate Animate Delay and Duration properties not honoured"
**Describe the bug**
Regardless of what I set the Delay and Duration properties to, or even if I use DurationMilliseconds instead, it is ignored and the delay seems locked at 0, and the duration at 1000ms.  So for example, all of these render exactly the same way in my application:
[code]

I am trying 0.9.3-preview8 from the myget feed.  I also experience the same behaviour using the sample https:

[2021-02-06 08:27] Sohra commented on #1804
I should add, I've spent an awful long time playing around on that test bed (trying to figure out the difference between Fade and FadeIn animations, hence the long durations!) and I would say perhaps 1% of the time, I have either the Delay or Duration setting honoured, but never both at the same time I don't think - and it's very rare that either works for me.

[2021-02-06 09:37] Aculeo commented on #596
On a similar note, wouldn't it also be a good idea to add a prefix to all controls? When I added Blazorise to my project I had a few naming conflicts (for example `ValidationSummary`, I also had my own `ProgressBar` already).

Something like `BlsTextEdit`, `BlsProgressBar`, etc. If you do a breaking name change, it might be a good opportunity for this.

[2021-02-06 10:23] David-Moreira commented on #596
Personally I also take the approach of using a prefix on my own components. That also means you could have already taken that approach yourself... :P
Eitherway that's what namespaces are for, I usually don't have it in the global imports and just call for **Blazorise.**  even if that looks more verbose or even just import it on the page I want to use.

But yes, personally I do also agree with addi

[2021-02-06 12:49] drma-dev commented on #1739
Yes, I did that part, but it doesn't work alone.

I was referring to the second thing you mentioned: custom media breakpoints

[2021-02-06 13:09] drma-dev commented on #1739
[code]
I think I understand. My code was different.

But how to solve this when the component is on the right side. I tried with right: 100%, but it didn't work.
![image](https://user-images.githubusercontent.com/12803050/107118983-485c6d80-6863-11eb-98b2-6c6a7038c9f1.png)

[2021-02-07 09:59] stsrki commented on #596
I'm not a fan of prefixes as it adds _noise_ to the code. And as others are already said, that is why namespaces are there.

[2021-02-07 12:17] stsrki commented on #1802
So, you're using `EditForm` and `Valdations` at the same time. I don't think that is going to work. EditForm is not fully supported in Blazorise. We only have partial support, and that is for `EditContext` only. To make this work you will need to use Validations component.

[2021-02-07 12:20] stsrki commented on #1804
@mikoskinen can you answer this question? You have more experience with the Animate library.

[2021-02-07 12:23] stsrki commented on #596
Probably something to look for https://github.com/dotnet/aspnetcore/issues/13090

[2021-02-07 16:52] rubeesh opened #1807 "DataGrid Sorting for large data"
I am trying to use Blazorise DataGrid extension to load large data.
I use ReadData  handler to call my api endpoint. I am trying to pass current sort column, search text and current current page no to my api end point.

It works fine with server side paging and search, **but i am confused how can i get the current sort column and direction**

[code]

[2021-02-08 09:17] stsrki commented on #1803
I agree, there should be an API to configure TreeView.

It was done by a community member some time ago and still needs some optimizations. I can do it as part of #994

[2021-02-08 11:00] #1801 closed

[2021-02-08 15:43] vladop commented on #1802
I also noticed this behaviour that in Auto mode validation is displayed even before user had chance to enter data. I decided to use Auto mode because otherwise when I correct entry (which was invalid) it will not be updated automatically.
To solve this upfront validation messages, I solved it somehow, and if I remember  I put ref on Validation component and inside OnAfterRenderAsync and isFirstRen

[2021-02-08 15:57] stsrki commented on #1802
@vladop Yes, that is the right way to make it work. At least when used on Modal dialog. You can see simple examples in the demo https://github.com/stsrki/Blazorise/blob/dev093/Demos/Blazorise.Demo/Pages/Tests/ValidationsPage.razor#L595

@rubeesh One thing, I didn't ask is what version you're using? The problem you're facing was happening in 0.9.2.x and it was fixed in one of the latest previews fo

[2021-02-09 03:03] yorytang opened #1810 "How to using DataGrid editing function"
I have read the documentation and don't know how to edit data in grid row.
the doc specify "Inline" mode but how to set the propertiy?
---------
The grid can work in two different editing modes that can provide different user experiences.

Form editing is done in the internal DataGrid form
Inline editing is done in the current row
Popup editing is done in the the modal dialog

[2021-02-09 08:33] stsrki commented on #1810
Look at the demo for reference https://github.com/stsrki/Blazorise/blob/master/Demos/Blazorise.Demo/Pages/Tests/DataGridPage.razor

[2021-02-09 09:24] dkonstantinov193 opened #1811 "No switching to a next element on DateEdit"
**Describe the bug**
On the DateEdit component there are no switching to another element on specific numbers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://bootstrapdemo.blazorise.com/tests/misc-forms
2. On "DateEdit Sizes" enter some date in any field.
3. Click on the very first element (Day or Month depending on local date format) and enter "01".
4. See that there are no fo

[2021-02-09 09:27] stsrki commented on #1811
What browser do you use? I tried it with Chrome and Firefox and it is working just fine.

[2021-02-09 09:34] stsrki commented on #1121
@WillianGruber

I was investigating this and I think it is working as expected. Natively bootstrap does not have any padding or height on radio, check, range, and switch components.

After some playing with height for `Slider` component I was able to adjust it. But as I mentioned before I'm not sure if this is the right way to go for. The purpose of these controls is to be able to be as compact as

[2021-02-09 09:34] #1121 closed

[2021-02-09 10:06] dkonstantinov193 commented on #1811
Reproduces on both latest Chrome and Firefox (all extensions disabled). On step 3 do you see the other elements being reset and showing "mm.yyyy"? From what I can see, this reproduces when such reset event occurs.

[2021-02-09 10:09] stsrki commented on #1811
![image](https://user-images.githubusercontent.com/900302/107348291-1c412680-6ac7-11eb-9499-907243e7592a.png)

Yes, I type "01" and it goes into the second part as expected. Maybe it has something with current culture for your system or browser?

[2021-02-09 10:42] dkonstantinov193 commented on #1811
This was the first thing I've checked, reproduces on brand new AWS VM with en-US cultured Windows and the same browsers. I can see it has some floating nature when different fields are used - when the focus going out to the next field (from Small to Medium) and I click back on small's month (which is already filled up with 01.01.2006) and set it again to 01 sometimes the focus stays on the element

[2021-02-09 12:06] dkonstantinov193 opened #1812 "Setting Max on DateEdit doesn't affect years input"
**Describe the bug**
Some users prefer to write down date in the inputs rather than working with browser calendar to speed up the process and it is great that we have an ability to manipulate min and max dates on DateEdit component but it is not working as expected for years limitation. Specifically, when we set Max value to limit years to 4-digits a user still can write 5 or 6-digit years.

**To

[2021-02-09 19:30] WillianGruber commented on #1121
No problem! Thanks for the effort!

If needed, I'll write a wrapper in my own project.

(Yes, I'm still here, but not actively working on this right now. I'll be back end of month...)

[2021-02-09 22:11] catriname opened #1813 "Primary Color Not Changing for Hero"
**Describe the bug**
Theming color change to "hero" style not working.  (Bulma)

**To Reproduce**
Steps to reproduce the behavior:
1. Set primary as instructed per Blazorise docs
Use (as per Bulma docs):
[code]

**Expected behavior**
primary green color should change to color specified in App.razor

Example Repo:  https://github.com/catriname/BlazoriseTest

[2021-02-10 01:46] yorytang commented on #1810
thanks

[2021-02-10 01:46] #1810 closed

[2021-02-10 04:06] pvagnini opened #1814 "DataGrid Row Height"
I am styling with a smaller font size to fit more data onto large screens.
Wraping the DataGrid in a <div> with font-size set to 75% works fine, however the row height remain the same.

Is there anyway to reduce the row heights in the datagrid to match the font-size please

Regards
Paolo

[2021-02-10 08:00] #1785 closed

[2021-02-10 08:01] stsrki commented on #1814
Maybe this? #1787

[2021-02-10 08:03] stsrki commented on #1814
PS. I think you can also target header with CSS:

[code]

[2021-02-10 08:03] #1814 closed

[2021-02-10 09:02] David-Moreira opened #1815 "DataGrid: Able to fire multiple edit/delete commands of the same type when Modal is set"
Hello @stsrki
Noticed a strange one.
1. Datagrid set to modal
2. Click Edit or Delete
3. Modal opens with edit or delete content
4. You can press Spacebar or Enter, and since the button is still focused on the background, it keeps triggering new instances of the modal.

![image](https://user-images.githubusercontent.com/22283161/107487857-8963c300-6b7e-11eb-9060-20dbc840665f.png)

I think we could

[2021-02-10 09:05] stsrki commented on #1815
We can solve it simply by adding `Autofocus="true"` to the first input component on modal.

[2021-02-10 09:24] David-Moreira commented on #1815
That seems fine.

I also have to apologize because I seem to have tested a custom modal of mine, and not the automatic from Datagrid by mistake, I just retested what happens on the datagrid one, is that it only keeps one open it seems, and that seems about correct. However, I can tab the background and still trigger edit modal for a different record for example.

There's also the question  about a

[2021-02-10 09:29] stsrki commented on #1815
I guess that is just how browsers work. I'm not sure if it makes sense to lose too much time on that.

[2021-02-10 09:37] David-Moreira commented on #1815
@stsrki  That's fine then. It really does not seem a big bother if it already does not open more then one modal and there's the auto focus workaround.

So that's more to do if you want Blazorise to be as much user accessible as possible or not.

Closing issue. Thanks for your help as always. ^^

[2021-02-10 09:37] #1815 closed

[2021-02-10 09:53] oaldrian opened #1816 "DataGrid ItemsPerPageTemple, TotalItemsShortTemplate, TotalItemsTemplate not configurable"
**Describe the bug**
When using a DataGrid some RenderFragments can be given to the DataGrid (FirstPageButtonTemplate, LastPageButtonTemplate, ...). This can be used to localize the pagination.
In the _DataGridPagination.razor there are already ItemsPerPageTemple, TotalItemsShortTemplate, TotalItemsTemplate used, but they are not accessible from outside.

**To Reproduce**
Steps to reproduce the be

[2021-02-11 09:11] stsrki commented on #1647
Any progress? Can I close this?

[2021-02-11 09:22] stsrki commented on #1596
I have investigated this and I think it is working as expected. My guess is you're using `MaxHeight` to limit modal size, which means it will show scrollbars once overflow happens. That is just how Boostrap works. If you want to change it you will need to adjust CSS manually for your project.

[2021-02-11 09:22] #1596 closed

[2021-02-11 09:23] stsrki commented on #1410
Should be fixed with #1818

[2021-02-11 09:23] #1410 closed

[2021-02-11 09:24] stsrki commented on #1388
Going to be done as part of #1634

[2021-02-11 09:24] #1388 closed

[2021-02-11 09:26] #1373 closed

[2021-02-11 09:28] #1298 closed

[2021-02-11 09:54] #877 closed

[2021-02-11 10:05] stsrki commented on #1813
Fixed.

For future reference, the `hero` is named Jumbotron in Blazorise so you should use that instead of writing manual Bulma tags.

https://blazorise.com/docs/components/jumbotron/

[2021-02-11 10:05] #1813 closed

[2021-02-11 10:38] jerpic opened #1820 "User badge on left menu"
Hi @stsrki,

Hope you are doing well.

It's not a bug but a question.

What would be the best implementation for a "User badge" in the left menu like this picture?

![image](https://user-images.githubusercontent.com/8591455/107626045-8095ee80-6c5d-11eb-8ee0-485367747a91.png)

Best Regards,

[2021-02-11 10:40] #1296 closed

[2021-02-11 10:40] #1293 closed

[2021-02-11 10:51] stsrki commented on #1820
Basically, whatever works for you. You can't escape from doing manual adjustments

**Few examples**

[code]

[code]

[2021-02-11 11:26] jerpic commented on #1820
Thanks for your answer and reactivity!

I tried with that code, but I’m pretty sure it’s not the right way….
<BarItem>
   <Row>
       <Column Style="color: darkgray;border-bottom:solid;border-bottom-color:darkgray;border-bottom-width:1px;padding-top: 0.50rem;">
           <Figure Size="FigureSize.Is64x64" Padding="Padding.Is3.FromLeft" Margin="Margin.Is0">
               <FigureImage Source="http

[2021-02-11 12:04] rperazzolli commented on #1647
Yes, you can close it. I forgot the issue, sorry. It was all my fault. Blazor is working properly.

[2021-02-11 12:04] #1647 closed

[2021-02-11 12:06] jerpic commented on #1820
Thanks for your answer and reactivity!

I tried with that code, but I’m pretty sure it’s not the right way….

`<BarItem>
   <Row>
       <Column Style="color: darkgray;border-bottom:solid;border-bottom-color:darkgray;border-bottom-width:1px;padding-top: 0.50rem;">
           <Figure Size="FigureSize.Is64x64" Padding="Padding.Is3.FromLeft" Margin="Margin.Is0">
               <FigureImage Source="ht

[2021-02-11 12:37] Merhex commented on #1807
Hi rubeesh, I might be a little late to the party and hope you found a solution already, but in the `DataGridReadDataEventArgs<ItemsDto>  args` you have access to the Columns field. Where you have access to all columns in the grid. which is of type `DataGridColumnInfo`.

Which in turn you can take out any information you need.

Here is a small example which I used in my own project, I take, in you

[2021-02-11 12:39] Merhex commented on #1807
This in turn I convert to a suitable query string, that your API needs.

[2021-02-11 12:40] Jimmys20 opened #1823 "TextEdit FocusAsync "Event is already tracked" exception"
Hello,

I'm trying Blazorise version 0.9.3-preview9 and I noticed an error when using TextEdit Focus and FocusAsync methods. I'm calling FocusAsync inside OnAfterRenderAsync using the TextEdit reference object as suggested [here](https://github.com/stsrki/Blazorise/issues/1730). I'm getting the error when I click the "reload page" button on my browser (chrome). This error doesn't seem to appear un

[2021-02-11 12:41] Merhex commented on #1807
[code]

[2021-02-11 13:35] kamilkosek commented on #1634
I love the idea of implementing the services inside core Blazorise.
Currently I am using many 3rd party Components like for example [https://github.com/Blazored/Toast](https://github.com/Blazored/Toast) and whenever there is an update (blazorise or others) it breaks something.

In a project I am working on, I´ve implemented a quick and dirty "LoadingService" which just shows an overlay with a prog

[2021-02-11 15:27] stsrki commented on #1823
I'm also getting the error. Something is messing with input events, but I don't see a reason for now. Going on the backlog!

[2021-02-11 15:32] njannink opened #1824 "Additional layouts/styles of material date picker"
Is it possible to manipulate the way the date picker looks for material layout? I need a birthdate picker and so it should be possible to easily switch the year with have to click 12*40 times previous to get to 1980

[2021-02-11 15:42] stsrki commented on #1824
Do you mean like this?

![image](https://user-images.githubusercontent.com/900302/107659954-09298480-6c88-11eb-9643-83e68121e60b.png)

It's already done in 0.9.3

[2021-02-11 15:44] njannink commented on #1824
ok how can I turn that on?

[2021-02-11 15:45] stsrki commented on #1824
You need to get the preview Blazorise https://github.com/stsrki/Blazorise#try-preview

It's on by default.

[2021-02-11 15:50] #1824 closed

[2021-02-11 20:02] Wolfenry opened #1825 "Filter lag"
I have a grid with +50 columns, data is not massive, just 200 registers, so i don't use the Large Data method (api) but **when i search in the column filter, it lags my input**

Steps to reproduce the behavior:
1. Type fast in the filter of a big grid
2. See error

I expect that either works fluent (jquery datatables type) or have the capability to put some delay on it.

What i notice is that is a

[2021-02-11 20:02] devinbandara opened #1826 "No way to style save and cancel buttons in datagrid form editing"
![Capture24](https://user-images.githubusercontent.com/71271116/107691732-d4aecc00-6c79-11eb-898c-d4da9362fa1f.PNG)
![Capture23](https://user-images.githubusercontent.com/71271116/107691790-e7290580-6c79-11eb-8324-e93b139c16db.PNG)
I am attempting to style the "Save" and "Cancel" buttons in the edit form of my datagrid.

Any suggestions on how to do this? I have not been able to find where I can e

[2021-02-11 20:20] Jimmys20 commented on #1823
Same error with simple html input and ElementReference class
https://github.com/dotnet/aspnetcore/issues/30070

It seems that this issue is not related to blazorise

[2021-02-12 03:38] rubeesh commented on #1807
Tha

Thanks for the response.
Actually i took the same approach

[2021-02-12 03:38] #1807 closed

[2021-02-12 06:27] Jirubizu opened #1827 "DataGrid Custom Button/Action Column"
**Is your feature request related to a problem? Please describe.**
I am trying to create a new column that holds custom action buttons. For example, I want a column called Actions that has a button in which will show a popup model once pressed. However, I have been unable to find anything through the documentation that would allow me to achieve this.

**Describe the solution you'd like**
A new Dat

[2021-02-12 08:18] stsrki commented on #1826
Look at the demo https://github.com/stsrki/Blazorise/blob/master/Demos/Blazorise.Demo/Pages/Tests/DataGridPage.razor#L119

Every command like EditCommandTemplate or CancelCommandTemplate can be customized.

[2021-02-12 08:31] stsrki commented on #1825
It's a known problem. In the latest preview, I have made many optimizations to make it less obvious but it can still happen. See this https://github.com/stsrki/Blazorise/issues/1429 and adjust your code based on it.

Closing since it's already on the list for more optimizations.

[2021-02-12 08:31] #1825 closed

[2021-02-12 08:36] stsrki commented on #1827
You can just use any existing field on your item model and add DataGridColumn. Then use DisplayTemplate to add any button inside of it.

Or you can inherit from DataGridColumn and try implementing what you need: look this https://github.com/abpframework/abp/blob/2c36a37933c7824974c966d696048a6930047ddb/framework/src/Volo.Abp.BlazoriseUI/Components/DataGridEntityActionsColumn.cs

[2021-02-12 11:11] #1224 closed

[2021-02-12 14:48] Merhex opened #1830 "Could not find 'blazoriseCharts.initialize' ('blazoriseCharts' was undefined)."
**Describe the bug**
When implementing the charts, following the documention or even copying the implementation from the demo, it cannot initialize the chart.
The script is not found, it's in my index.html file but not when I start the project.

**Screenshots**
![image](https://user-images.githubusercontent.com/25284019/107782390-4b66ca80-6d49-11eb-8145-0bf5f8dbf011.png)
![image](https://user-imag

[2021-02-12 14:53] stsrki commented on #1830
Is this the Blazor server-side project? In that case, you need to have files defined in `_Host.cshtml`.

[2021-02-12 14:57] Merhex commented on #1830
No this is a Blazor WASM application.

By the way, I am using the latest stable version 0.9.2.5

[2021-02-12 15:26] drma-dev opened #1831 "Carousel - Not working properly"
`string[] imageDataUriGallery = _profile.GetGalleryPhotos();`
[code]
Now that it has 3 images, it hangs on the last one and doesn't show the others.
When I had two images, I was stuck too, but showing one image overlapping another.

[code]
When I try to name it, an error occurs.
![image](https://user-images.githubusercontent.com/12803050/107787239-970b7b00-6d2d-11eb-93d2-322f22aadb3f.png)

What am

[2021-02-12 15:36] Smurf-IV opened #1832 "Be able to change the ranges of Min and Max on Numeric edit"
**Is your feature request related to a problem? Please describe.**
`<NumericEdit TValue="float" Decimals="3" Min="@lookupTable.MinValue" Max="@lookupTable.MaxValue" Value="@lookupTable.CurrentMinValue" ValueChanged="OnMinValueTyped" ChangeTextOnKeyPress="false" />`

**Describe the solution you'd like**
i.e. when the values of `CurrentMinValue` change I want the `NumericEdit` to reflect the new min

[2021-02-12 15:42] stsrki commented on #1831
Slide Name must be persistent and not random. Also, SelectedSlide must be used `@bind-SelectedSlide="selectedImage"`.

Here is updated example:

[code]

PS. I also added `@key` to optimize it a little.

[2021-02-12 15:43] stsrki commented on #1832
Hi, this is already done for 0.9.3 preview, with #1797

[2021-02-12 15:43] #1832 closed

[2021-02-12 15:49] drma-dev commented on #1831
I had already tried that example.

I used exactly the code that you just showed me.

![image](https://user-images.githubusercontent.com/12803050/107789739-bce64f00-6d30-11eb-803c-14ec08f03ee8.png)

[2021-02-12 15:52] stsrki commented on #1831
I tried on the dev version. You probably have 0.9.2.x?

[2021-02-12 15:53] stsrki commented on #1830
Might be because of the version. This works on my dev.

[code]

[2021-02-12 15:59] drma-dev commented on #1831
I have the latest version. I think I know how to reproduce the two errors.

if I read exclusively from dynamic content (from my api), it gives the following error:
![image](https://user-images.githubusercontent.com/12803050/107790584-b1475800-6d31-11eb-8264-e10281e771ce.png)

If I declare the variable with that static content of 3 images (which you showed) and then concatenate it with my dynamic c

[2021-02-12 16:00] rayder2007 opened #1833 "Add Toggle() method for component Bar"
I wanted to make a function to automatically hide the bar after a specified time, for example, after 30 seconds.  But the method Toggle() is not available in code.

[2021-02-12 16:02] Merhex commented on #1830
What version are you using in your dev environment?

[2021-02-12 16:24] stsrki commented on #1833
You can just bind it to the `Visible `parameter and then refresh.

[code]

[2021-02-12 16:26] stsrki commented on #1830
Little over `0.9.3-preview9`

[2021-02-12 16:29] stsrki commented on #1831
The overlap is happening because of the different aspect ratio for the given images. For that, you will need to manage it with CSS.

[2021-02-12 16:39] rayder2007 commented on #1833
Thanks

[2021-02-12 16:39] #1833 closed

[2021-02-12 16:42] Jossec101 opened #1834 "Datagrid cross-column validation"
Hi! Great work!

I have a question since ValidatorEventArgs only receives a value of the property, how can we perfom cross-validation of two columns?

For example, we want to validate that  the start is not later than the end
![image](https://user-images.githubusercontent.com/53834183/107795624-31cd7f00-6d59-11eb-9467-cac9604ba296.png)

Is it possible to use the validation of each column for cross

[2021-02-12 16:45] Merhex commented on #1830
I am on that version now, really don't know what the issue might be. The script tag is gone in the index.html when the project launches. Seems that the js file is not in the content folder.

[2021-02-12 17:17] crjc opened #1835 "Blazorise.BarDropdownToggle: JavaScript interop calls cannot be issued during server-side prerendering"
**Describe the bug**
The `<BarDropdownToggle>` component attempts to do JavaScript interop calls when pre-rendering a Web Assembly Blazor application.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the first example snippet from https://blazorise.com/docs/components/bar/ in a web assembly blazor app
2. Set `render-mode="WebAssemblyPrerendered"` on server's _Host
3. Navigate to page
4. S

[2021-02-12 17:19] #1831 closed

[2021-02-12 20:00] stsrki commented on #1835
Thank you for reporting this. Somehow we overlooked this, definitely shouldn't call JS before it's rendered. Going on the list.

[2021-02-12 20:47] BruhWhatGives opened #1836 "Switch toggle functionality is broken"
For component testing, I added an id to the switch (which works great) and found this breaks the toggle functionality in the UI.

<Switch id="compliance-service-switch" Disabled="@(!this.EditComplianceService)" TValue="bool" @bind-Checked="@this.ViewModel.IsComplianceServiceEnabled">Enabled</Switch>

[2021-02-12 22:09] devinbandara commented on #1826
Yes but when I add a class to it to add margins it does not get applied

[2021-02-13 01:15] DDDenisSobek commented on #1752
@stsrki Hey, could you reproduce the problem?

[2021-02-13 05:38] mikoskinen commented on #1804
Thank you for the question and sorry for the delay @Sohra. The underlying AOS.js adds some limits to these, this is from the library's documentation:

---
Duration and delay accept values from 50 to 3000, with step 50ms, it's because those are handled by css, and to not make css longer than it is already I implemented only a subset. I believe those should cover most cases.

If not, you can write s

[2021-02-13 08:24] stieven76 opened #1837 "Remove info text next to datagrid pagination"
Hi,

I'm build a site with Blazorise, really nice looking components! Now I've got a question about the Datagrid  Pagination. There is a text next to it displaying 1 - 7 of 7 items. On the demo page it's not there: [https://bootstrapdemo.blazorise.com/tests/datagrid](https://bootstrapdemo.blazorise.com/tests/datagrid). I've dowloaded the demo code but can't seem to find the setting to hide this. C

[2021-02-13 20:43] vladop opened #1839 "OnFieldChanged not fired when some field is changed"
On `EditContext` of `EditForm `there is event `FieldChanged`.
I would like to use this event to detect if any of the field has been changed(if form is "dirty")
But it seems that event is not fired.
If I manually call OnNotify... inside onchanged then it works but ofcourse I don't want to do it manually for every field.
[code]

[2021-02-14 17:46] Jimmys20 opened #1840 "Add Selectable parameter to ListGroup"
Hello, I think it would be nice if ListGroupItem could also generate an `<a>` or `<button>` element with the list-group-item-action  class. What I want to achieve is this kind of html https://getbootstrap.com/docs/4.6/components/list-group/#links-and-buttons. The main reason I would like this functionality is because list-group-item-action has special highlight styling when it's hovered or focused

[2021-02-14 19:46] WayneHiller opened #1841 "NumericEdit display initial value limited by Decimals count."
I have a NumericEdit like this:
[code]

Even though it specifies Decimals="2" (the default) the initial value is displayed as 0.0000 or 99.9900

[2021-02-15 08:04] stsrki commented on #1826
It should be applied

![image](https://user-images.githubusercontent.com/900302/107920169-cbb94580-6f6c-11eb-837f-5a30ac8d9944.png)

![image](https://user-images.githubusercontent.com/900302/107920196-d7a50780-6f6c-11eb-8a7a-91ef2683e7c1.png)

[2021-02-15 08:10] stsrki commented on #1752
@DDDenisSobek Sorry for not getting to this sooner. Yes, I was able to reproduce.

@njannink Can you look at this, please?

[2021-02-15 08:14] stsrki commented on #1837
You can hide it by just defining `TotalItemsTemplate` and leaving it empty.

![image](https://user-images.githubusercontent.com/900302/107921068-4040b400-6f6e-11eb-967c-35a914f0fedf.png)

[2021-02-15 08:14] #1837 closed

[2021-02-15 08:18] stsrki commented on #1839
This is a duplicate of #996

It was fixed as part of #1750

[2021-02-15 08:18] #1839 closed

[2021-02-15 08:22] stsrki commented on #1836
It probably messes with the internally generated ID when you use `id`.

Instead, you should define it as:

[code]

[2021-02-15 08:22] #1836 closed

[2021-02-15 08:25] stsrki commented on #1841
I cannot reproduce it: Maybe it's because you have a different culture in your system. Try changing it:

[code]

[2021-02-15 08:45] mortezabarzkar opened #1842 "Chart: RemoveDataSet API"
Hi
I can add dataset via Chart.AddDatasetsAndUpdate() and it's work normally
but when i want to remove dataset via Chart.Data.Datasets.RemoveAt(Chart.Data.Datasets.FindLastIndex(c => c.Label == item));
it was removed from collection but still are showing in ui !!!

[2021-02-15 08:58] stsrki commented on #1840
All valid ideas. Although I like more the second example (`ListGroup Mode`).

I can consider adding it for one of the next versions. For now, it's not a priority since you can already use existing items, and using the `Clicked` event you will be able to fire any link or action.

[2021-02-15 09:06] stsrki commented on #1842
When you change `Chart.Data.Datasets` directly there is no way to tell chartsjs that something has changed. remember, Blazor and JS objects are separated.

You should be calling `chart.Update()` after you remove the dataset, but here we also have a problem since internally a `dirty` flag will not be set(because you modified data directly) and no update would be passed down to JS.

The only way for

[2021-02-15 10:15] mortezabarzkar commented on #1842
if i use chart.Clear() all datasets will be remove and it will be violate the live view.
if you can add RemoveDataset(int index) it's will be useful

[2021-02-15 10:53] Jimmys20 commented on #1840
I agree, it's more of a nice-to-have feature, not something desperately needed. Thanks for including it in the plans for next versions.

[2021-02-15 11:44] #1458 closed

[2021-02-15 14:00] #1835 closed

[2021-02-15 14:26] WayneHiller commented on #1841
Adding the Culture did not change anything.

Ok this is interesting. These price values are retrieved from a database where they are stored as numeric(19, 4). When fetched via an API they display as 769.88 in the browser dev tools but display as 769.8800 in the NumericEdit. Changing the API to return Math.Round(Price1, 2) correctly displays 769.88 in the NumericEdit.

[2021-02-15 14:28] stsrki commented on #1841
Ahhh so it probably directly binds the value and just skips the internal validator that happens only on keypress. In that case, I should probably reformat it in `OnInitialize` also.

[2021-02-15 14:41] #951 closed

[2021-02-15 14:44] stsrki commented on #1086
@MitchellNZ Going on the backlog. Just reopen when you're ready to start!

[2021-02-15 14:45] stsrki commented on #1137
@MitchellNZ Going on the backlog. Just reopen when you're ready to start!

[2021-02-15 14:46] WayneHiller commented on #1841
It is interesting that value?.ToString() returns 769.8800 with the zeros, I guess it is just displaying the number of decimal places.

[2021-02-15 15:30] stieven76 commented on #1837
I must be missing something because TotalItemsTemplate doesn't exists for my DataGrid. My nuget are 0.9.2.5.

![image](https://user-images.githubusercontent.com/6266999/107965508-e90d0480-6faa-11eb-9317-2c977ee5c0b8.png)

[2021-02-16 10:07] mortezabarzkar opened #1849 "BarDropdownItem padding"
you add padding via this line
`builder.Append( $"padding-left: { 1.5d * ( ParentStore.NestedIndex + 1 ) }rem", ParentStore.IsInlineDisplay );`
but when app culture is not tr-TR it will be converted to

[code]

so the browser can not detect it

is there possible to add culture to your calculations?

[2021-02-16 10:21] stsrki commented on #1849
@MitchellNZ was working on this a while back and probably he hardcoded this with `style` to make it work. Maybe not ideal in this case. I think a better way would be to introduce a new class name, eg. `bar-dropdown-item-indent` that could be restyled on your side.

Or even better had a built-in `Padding` work its magic and just initialize it with a default `Padding.Is2.FromLeft` or similar. And th

[2021-02-16 10:24] stsrki commented on #1849
As for your question "is there possible to add culture to your calculations?". I don't think it's possible. `rem` works relative to the root element, so if you have different culture and it has different settings, it will be sized relative to that.

[2021-02-16 10:34] mortezabarzkar commented on #1849
that's all
Thank you

[2021-02-16 12:17] stsrki commented on #1837
Sorry, I forgot. It's available in 0.9.3 preview only.

[2021-02-16 15:35] stsrki commented on #1849
Done with #1850

[2021-02-16 15:35] #1849 closed

[2021-02-16 15:48] #1195 closed

[2021-02-16 20:55] stieven76 opened #1852 "DateEdit 2 way binding doesn't work."
I have a DateEdit component on my form and it works fine on my Add page, value gets passed with the post. However when I try to load it on my Edit page then the binding doesn't work. The value is in my model but doesn't show on my view.

`<DateEdit TValue="DateTime?" @bind-Value="@_updateModel.PurchaseDate" />`
Value: 2021-02-12 not shown:
![image](https://user-images.githubusercontent.com/6266999

[2021-02-17 02:59] pvagnini opened #1853 "NumericEdit ValueChanged fires twice and sets value back to zero"
I am on v0.9.3-preview9

I am using basic configuration like

`<NumericEdit TValue="int"  @bind-Value="@Test" ChangeTextOnKeyPress="false" Size="Size.Small" />`

When entering a value in the NumericEdit the bound value is updated correctly, but then immediately after updated again to zero.
This incorrect behavior also happens when using the ValueChanged event rather than direct binding.

[2021-02-17 08:09] mortezabarzkar opened #1854 "Can not bind Jobject to Datagrid"
When i was try to bind jobject to datagrid , data was shown but i got this error

Error: System.AggregateException: One or more errors occurred. ('Email' is not a member of type 'Newtonsoft.Json.Linq.JObject' (Parameter 'propertyOrFieldName'))
 ---> System.ArgumentException: 'Email' is not a member of type 'Newtonsoft.Json.Linq.JObject' (Parameter 'propertyOrFieldName')
   at System.Linq.Expressio

[2021-02-17 08:29] stsrki commented on #1852
You have a typo. Instead of `Value` it should be `Date`:

`<DateEdit TValue="DateTime?" @bind-Date="@_updateModel.PurchaseDate" />`

[2021-02-17 08:33] stsrki commented on #1854
JObject is not supported.

How do you use DataGrid with JObject in the first place? Can you show a code?

[2021-02-17 08:37] mortezabarzkar commented on #1854
that's my code

`<DataGrid TItem="JObject"
          Data="@jObjects"
          Striped="true"
          Narrow="true"
          Bordered="true"
          Hoverable="true"
          Editable="true"
          Filterable="false">
    <DataGridColumn Width="25px" TItem="JObject" Field="Email" Caption="Email">
        <DisplayTemplate>
            @context.Property("Email").Value
        </DisplayTemp

[2021-02-17 08:42] stsrki commented on #1854
The problem is that internally we determine the Field name and then use the reflection to build the expression tree that later is used to get and set the value from the Data object.

And here you're trying to bind to JObject, which is pretty specific and works in a completely different way than the regular object type. It's more like a dictionary.

The sooner I can commit to this is for 0.9.4 sinc

[2021-02-17 08:43] mortezabarzkar commented on #1854
Thank you

[2021-02-17 08:59] stsrki commented on #1853
Fixed value reset with #1855

As of ValueChanged fired twice, it was necessary since there was no way to make a Min-Max value check unless onblur event was used. Basically, onblur will check if the entered value is in range and then adjust, making a second call to ValueChanged.

[2021-02-17 08:59] #1853 closed

[2021-02-17 09:15] stieven76 commented on #1852
Ah so stupid. That fixed it. :)
How to 2way bind the RichTextEdit?

You have a great set of tools!

[2021-02-17 09:19] stsrki commented on #1852
Thanks!

[2021-02-17 09:19] #1852 closed

[2021-02-17 10:38] mcguireuk opened #1856 "RichTextEdit - Toolbar Option - Image"
Missing RichTextEditToolbarButton Action.
RichTextEditAction.Image is missing from the list.

**To Reproduce**
[code]

**Expected behavior**
Should be able to set Action to image.
Above example is a temp hack to get an image button but should be added to enums to follow convention.

[2021-02-17 10:48] stsrki commented on #1856
@njannink Can you please look at this!

[2021-02-17 11:14] stsrki commented on #1350
Madi it work with some internal changes and it works like this:

[code]

[2021-02-17 11:24] #1350 closed

[2021-02-17 11:46] #437 closed

[2021-02-17 11:47] stsrki commented on #437
done with #1858

[2021-02-17 12:21] wmachanik opened #1859 "Multi-select in DataGrid checkbox does not uncheck if row selected"
With DataGrid 0.9.3 preview and SelectionMode="DataGridSelectionMode.Multiple" when a row is clicked on the check box for the selected is ticked. If you try  and unselect that check box it resellects it

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DataGrid with SelectionMode="DataGridSelectionMode.Multiple"
2. Click on a row in the grid
3. Checkbox for multi-select is checked.
4. If

[2021-02-17 12:24] stsrki commented on #1859
@David-Moreira can you please have a look at this once you have time?

[2021-02-17 12:52] David-Moreira commented on #1859
Yea I'll see if I have time later today.

[2021-02-17 13:24] njannink commented on #1856
For dev092 the 'hack' is fine. I will add the Image option.

[2021-02-17 13:26] stsrki commented on #1644
Going to close this original report had private field instead of public property. Simple change to:

[code]

made it work as expected.

Note, however, I tested on 0.9.3 only since I plan to release it soon.

[2021-02-17 13:26] #1644 closed

[2021-02-17 13:26] #1487 closed

[2021-02-17 13:27] stsrki commented on #1856
Can you add it for 0.9.3?

[2021-02-17 13:30] stsrki commented on #1837
Just a quick info. The plan is to release 0.9.3 soon. How soon it depends, but I hope by the end of next week.

[2021-02-17 13:34] stsrki commented on #1841
I'm still not sure if I should commit to this. Or is it an issue in the first place. Do we really need to modify binded original value on purpose?

What I mean is. If we have `769.8877` in the DB and we bind it to a NumericEdit and if we do nothing with the input field we are good to save that same number back into the DB.

But if we change it on bind, and truncate it to `769.88` then we have data

[2021-02-17 13:36] stsrki commented on #1830
The `_content` folder is Blazor convention, meaning that the file will be located inside of a nugget package.

[2021-02-17 13:37] stsrki commented on #1834
It's not possible out of the box. The only way is for you to save each value and then check it with each validator separately.

There is no plan to add this feature internally.

[2021-02-17 13:37] #1834 closed

[2021-02-17 13:40] stsrki commented on #1812
I'm trying to reproduce it and it seems good.

I cannot enter the year above `9999` using a dropdown calendar, nor with the keyboard.

*Tested on 0.9.3!

[2021-02-17 13:40] #1812 closed

[2021-02-17 13:42] stsrki commented on #1811
I'm still not able to reproduce this. So closing for now.

[2021-02-17 13:42] #1811 closed

[2021-02-17 13:53] njannink commented on #1752
Yes I will have a look. Can't promise anything for this and next week depending how deep this rabbit-hole goes :)

[2021-02-17 13:59] RobertChanphakeo commented on #1644
Great, thank you!

[2021-02-17 14:10] WayneHiller commented on #1841
I think it is the right thing to do if the Decimals value is set. So if I wanted to keep 4 decimals I would just set Decimals = 4. The way it is now (Decimals = 2) It will stay as 99.9900 until I edit the value. It seems more logical if Decimals was nullable and not initially set but that would probably be too much of a breaking change.

[2021-02-17 14:19] njannink opened #1861 "RichTextEdit - Link and image popups might be partly behind the sidebar"
When using the image or link actions the popups that will be displayed might be partly behind the Blazorise sidebar. Change the css z-index value so it's higher than the sidebar zindex

@stsrki Assign this to me so I wont forget

[2021-02-17 14:23] stsrki commented on #1861
Done :)

[2021-02-17 14:25] WayneHiller opened #1862 "NumericEdit select all on focus"
Would it be possible to add an option to NumericEdit to select all text in the input on focus. With numbers, especially zero the instinct is to always type out the number not edit it. For example if the editor starts out as 0 my instinct is to type out 5 but I will end up with 05 or 50 depending on where I clicked.

[2021-02-17 15:22] #1856 closed

[2021-02-17 16:18] stieven76 commented on #1837
ah nice. I'll follow up and update my nugets when possible.
Thx!

[2021-02-17 16:23] curelom opened #1864 "Animation types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Example: I am trying to do [...] but [...]
All the Animation types are transition animations, i.e. object showing up or dissappearing in an animated way.  Would love to see some animation types that are "attention getters"  i.e. animations for objects that are already displaye

[2021-02-17 22:20] David-Moreira commented on #1859
Ok so the checkboxes behave separately from the row clicks. They only change the **SelectedRows** collection Parameter .
However their boolean also checks for **SelectedRow** Parameter just to make sure it always displays what's selected.

**Which means whenever I click the checkbox, it currently does not update the SelectedRow.** And this was originally intended...
I have fixed it, so that it if

[2021-02-17 22:36] stsrki commented on #1859
@David-Moreira

As I recall, `SelectedRows` and `SelectedRow` were separated depending on `DataGridSelectionMode.Single` or `DataGridSelectionMode.Multiple`. If we're separating them like that then it makes sense to not update `SelectedRow`.

But, I think it makes sense from UX perspective. Each time `check=true` we should also update `SelectedRow`. But in that case we should track what is the las

[2021-02-17 22:48] David-Moreira commented on #1859
Hmm I guess that makes sense. The tracking also seems to make sense. Not sure if worth having another in memory collection to track it...
Alright I'll PR in a bit.

[2021-02-17 23:00] David-Moreira commented on #1859
I was thinking about this, you're kinda right here:
"As I recall, `SelectedRows `and `SelectedRow `were separated depending on `DataGridSelectionMode.Single` or `DataGridSelectionMode.Multiple`. If we're separating them like that then it makes sense to not update SelectedRow."

When on `DataGridSelectionMode.Multiple`. We're still updating SelectedRow on normal row clicks, and maybe it just makes

[2021-02-17 23:14] njannink commented on #1752
@DDDenisSobek it has nothing to do with async/sync. The problem is that changing the editor-content after it has been rendered isn't working. It's something from Blazor, because it can't seem to find it's parent element to render the content markup. I have been trying to fix this behavior but no luck so far. Maybe for your case it might make more sense to use the `SetHtmlAsync ` method. That one w

[2021-02-18 08:58] stsrki commented on #1859
I think it's best to separate them. For example, a `Select` component also has a `Multiple` mode and both `SelectedValue` and `SelectedValues` are strictly separated.

But then again it still makes sense to have `SelectedRow` when multiple modes is on and the last selected item is focused. Although maybe the naming here is not best. It should be named `FocusedRow`. But I'm not sure if introducing

[2021-02-18 09:13] stsrki commented on #1859
PS. your modification in PR seems to work nicely now.

[2021-02-18 09:38] Merhex commented on #1830
What appears in your index file? Is the script there?

[2021-02-18 09:40] stsrki commented on #1830
Everything is in there

![image](https://user-images.githubusercontent.com/900302/108337701-af6c1180-71d5-11eb-9a81-00624cdeb23e.png)

@Merhex Any chance you can create a small test project and upload it on github?

[2021-02-18 09:46] Merhex commented on #1830
Well, I left this chart out for a while because it was not working for me for some reason. Now, I copied the code back into the project and it magically works, except for a null reference in the beginning but that's just because the chartdatalist was empty. Oh well, machines, always a mystery.

[2021-02-18 09:46] #1830 closed

[2021-02-18 10:46] mortezabarzkar opened #1869 "Datagrid Header Fixed"
is it possible to make datagrid header Fixed when it was scrolled ?

[2021-02-18 10:46] #1861 closed

[2021-02-18 10:49] stsrki commented on #1869
Not natively but it can easily be done. Check this https://github.com/stsrki/Blazorise/issues/1408

[2021-02-18 10:49] #1869 closed

[2021-02-18 11:14] DDDenisSobek commented on #1752
`SetHtmlAsync` works, if delay will be high enough. At a delay of 200ms i get sometimes the error "Error: System.InvalidOperationException: RichTextEdit not initialized yet".
[code]
![grafik](https://user-images.githubusercontent.com/65016836/108349058-d5e47980-71e2-11eb-9b61-bbcad1eb63f9.png)

[2021-02-18 11:17] stsrki commented on #1752
@DDDenisSobek You should do it in `OnAfterRenderAsync`.

[2021-02-18 11:48] DDDenisSobek commented on #1752
@stsrki
I also get the error.
[code]
![grafik](https://user-images.githubusercontent.com/65016836/108351531-f104b880-71e5-11eb-85bc-1d56f8acc5fd.png)
It also does not work, when i do it after first render.
[code]

@stsrki and @njannink I want to say thanks for your commitment. I hope, that i do not bug you.

[2021-02-18 12:16] David-Moreira commented on #1859
I actually see the use for the focused row. I have a project where I use a main grid and then there's a "slave" grid which loads records according to the main grid selected row.
So if I wanted to have multiple selection on the main grid and still load related items to a focused row on the "slave" grid, that would be helpful. However I think its just ends up being more confusing, because then you h

[2021-02-18 12:46] stsrki commented on #1859
I will accept the PR. It's useful and whatever we try to come up with, every scenario makes sense. So it's best to have SelectedRow in multiple mode also. As you already said, there are use cases for it.

Going out now, but I will merge it as soon as I got back.

[2021-02-18 14:45] #1859 closed

[2021-02-18 15:10] stsrki commented on #1118
Hey @njannink

I started doing this feature and I don't think I need to do anything. All you need is already possible.

Here is a quick demonstration of what I did and it works nice. All I did was using `ObservableCollection` and registering to `CollectionChanged` event.

[code]

You may notice `await dataGridRef.Reload();`. This is the API I introduced recently. But even without it just calling `

[2021-02-18 15:10] #1118 closed

[2021-02-18 15:34] mcguireuk opened #1870 "Carousel Indicators z-index higher than Fixed Layout Header."
**Describe the bug**
The Carousel indicators are set to a z-index of 15. However the LayoutHeader fixed (.b-layout-header-fixed) has a z-index of 1.

I have a page with a carousel on and when scrolling the indicators are in front of the app header.

**To Reproduce**
Use basic App Layout.
[code]
**Expected behavior**
z-index needs to be reviewed. I'd suggest a higher value on the header fixed as I'

[2021-02-18 15:48] stsrki commented on #1870
A problem similar to #1582

I will add it to the list so we can test it along with Addons.

[2021-02-19 11:45] tanvrkhan opened #1877 "Sidebar not expanding"
**DESCRIPTION**
**Blazor Server application**
I am using Blazorise Sidebar with items being fetched from the database. Items seem to be pulled fine, because I can see them in the page css, but they wont show in the side bar as sub items. A sidebaritem can have 2 sub levels in my case.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. S

[2021-02-19 11:48] stsrki commented on #1877
You're mixing two different components, Bar and Sidebar.

Sidebar is obsolete and is not maintained anymore. You should switch to Bar with vertical mode. https://blazorise.com/docs/components/bar/#vertical-bar-sidebar

[2021-02-19 12:10] tanvrkhan commented on #1877
Too bad. Loved how I could just code it in @COde section

[2021-02-19 12:13] stsrki commented on #1877
You can just continue to use `Sidebar` is you need dynamic binding, It's still a good component. It's just that Bar has more features and in time it will also get dynamic binding.

[2021-02-19 12:13] #1877 closed

[2021-02-19 13:42] #1582 closed

[2021-02-19 13:42] #1870 closed

[2021-02-19 15:11] #1617 closed

[2021-02-19 17:21] njannink commented on #1752
Maybe I will have to remove the Editor fragment. Updating the editor content through the renderfragment after the RTE has been rendered doesn't work. This because the QuillJS library replaces this content with something of it's own. If you then update it Blazor cannot find the original data in the Html tree causing the exception seen.

The SetxxxxAsync should work as expected. I will have a look w

[2021-02-19 19:03] njannink commented on #1752
@stsrki I found a fix for all of the exceptions above and also a workaround to support content updates. Have a look at my changes. I added a helper method to BaseComponent for async OnAfterRender with return values

[2021-02-20 00:18] thuhaile opened #1882 "Validation is still being called when Disabled=true"
Validation is still being called when Disabled=true. Is there a way to skip validation if a component is disabled? Thanks.

[2021-02-20 10:39] David-Moreira opened #1883 "Datagrid: Is Async missing?"
Hello @stsrki
Shouldn't the async state machine be set up on these delegates?

**This:**
![image](https://user-images.githubusercontent.com/22283161/108592807-ac088f80-7367-11eb-898f-2551aa9c06b6.png)
**To this:**
![image](https://user-images.githubusercontent.com/22283161/108592816-b7f45180-7367-11eb-81c3-6ce340da9329.png)

[2021-02-20 11:13] stsrki commented on #1882
Hmm, I missed this behavior. It's going to be done for 0.9.3

[2021-02-20 11:17] stsrki commented on #1883
I guess you're right. Did you test it and see how it behaves?

[2021-02-20 11:23] David-Moreira commented on #1883
Nope, I am starting work on resizable, and noticed that.

I'm guessing the delegate signature should also have return Task instead of void since that also affects async negatively.
But since those delegates are bound to events I'm not 100% sure how it behaves under the curtains and that's why I was questioning.

I guess I can do some reading up and testing.

[2021-02-20 13:04] stsrki commented on #1883
That is also my concern with delegates. If you have time see what can be done. Or I can try it later.

[2021-02-20 13:15] #1882 closed

[2021-02-20 14:05] David-Moreira commented on #1883
Either way, that shouldn't be critical.
I am still gonna be finishing the resizing feature first.

I did notice something else which can be critical, possible memory leaks, but again I'm not sure, if this is gonna hang on memory or not, I generally just take the safe approach and always unscribe events:
![image](https://user-images.githubusercontent.com/22283161/108598271-93f33900-7384-11eb-8799-c

[2021-02-20 17:17] David-Moreira commented on #1883
@stsrki
No real reading up yet about the async event/delegate stuff.

But done some initial testing.
As expected without async it will not await any of the lines and will move right on.
The only downside is if we wanted to do something firstly in `InvokeAsync( () => PageSizeChanged.InvokeAsync( pageSize ) );` just before` InvokeAsync( HandleReadData );` happens, HandleReadData could possibly run b

[2021-02-20 17:37] stsrki commented on #1883
Wow, you did a lot of investigation. Thanks!

Yeah, I already had a feeling it wouldn't be much difference between the regular void delegate and the one with Task. In fact, `async void` for events is the only one that should be _safe_ to do. So I think we can safely do it that way. Just create a PR and if anything happens in the future we can improve it.

Regarding the memory leaks, that sounds mo

[2021-02-20 18:45] pascx64 commented on #1220
@stsrki  Why would it not need all the functionality of a regular button ? It seems like it is a regular button, with an icon. It should behave like all other buttons, with the only difference that there is an icon along side the text.

[2021-02-20 19:49] stsrki commented on #1220
Because regular buttons can be used inside of Addon, Dropdown, and other components and its styles are natives supported for that kind of scenarios. The icon button from what I can see looks different and has a different structure in some cases. Which would make it hard to adjust for different use case scenarios. Thats why it's best to create the separate components. Just like there is CloseButton

[2021-02-20 20:40] njannink commented on #1220
And from a SOLID point of view I wouldn't want to make on big bloated button either

[2021-02-21 02:31] dkonstantinov193 commented on #1816
I believe this feature is just not completed yet, you can use the following workaround to apply custom stuff:

`<DataGrid Localizers="_dataGridLocalizers">
 </DataGrid>
@code
{
  private DataGridLocalizers _dataGridLocalizers;

  protected async override Task OnInitializedAsync()
    {
        _dataGridLocalizers = new DataGridLocalizers
        {
            ItemsPerPageLocalizer = new Blazorise.

[2021-02-21 03:04] dkonstantinov193 opened #1887 "Introduce difference for disabled radio button"
**Is your feature request related to a problem? Please describe.**
Consder the following code:
[code]

While the Top button is disabled and not clickable, visually it doesn't differ from the enabled Middle button (still the same hover effect, mouse cursor etc.). This is confusing for the end users.

**Describe the solution you'd like**
Make disabled buttons visually differ from the enabled ones or

[2021-02-21 06:03] hydrodeveloper opened #1888 "Tooltip on button near right-edge of screen not re-positioning to fall within the screen width"
**Describe the bug**
I am creating a "top" tooltip for a button that is positioned near the right-edge of the screen. If the tooltip is "too wide", the width of the screen will increase to accommodate the width of the tooltip, thus causing a horizontal scroll bar to appear (with additional white space).

**Screenshots**
Here is an example of what is happening:
![Tooltip Issue](https://user-images.

[2021-02-21 10:46] David-Moreira opened #1890 "Suggestion: Select2 like component."
**Is your feature request related to a problem? Please describe.**
I currently took in a dependency to a select2.js in a project of mine with a component wrapping the interop, but would like to remove it, if there's already something similar in a blazor component.

**Describe the solution you'd like**
I was taking a look at AutoComplete extension and it already does part of it. Just that it could

[2021-02-21 10:48] David-Moreira commented on #1883
#1886 for async.
#1889 for event unsubscribing.
I guess you can close this issue.

[2021-02-21 10:54] David-Moreira commented on #1803
@stsrki Mind if I grab these two:

- "Would be nice to just have a SelectedClass to set my own freely. Otherwise I have to endup overriding bg-primary."
- "It would be nice to have a way to customise the icons for opening and closing a node. For example, I would like to replace the plus and minus icons for a right and down arrow."

Personally I'd like to have at least these two features soon to fu

[2021-02-21 18:57] Jinjinov opened #1892 "NumericEdit Min="0" allows negative values"
**Describe the bug**

`<NumericEdit Min="0" Max="10"  />` allows the user to input `-999`

**Expected behavior**

When `Min >= 0` NumericEdit should not allow the input of `-` (minus character)

**Additional context**

I am searching for a temporary workaround and I am trying to set `<NumericEdit @ref="myEdit"  />` and `myEdit.SetValue("0");` but it does not work. Can I set `NumericEdit.Value` fro

[2021-02-21 21:31] Jimmys20 commented on #1892
Hello, the reason for this behavior is that the component can't distinguish the difference between passing Min="0"  and not setting the Min property at all. The component "thinks" the Min property has not been set because 0 is also the default value of not nullable numeric types ( e.g. `default(int) == 0` and `Min="0" == Min="default(int)"` ).

So a temporary work-around would be to use a nullable

[2021-02-21 22:08] Jinjinov commented on #1892
Thanks for the workaround!

If the problem is that `Min="0"` and `Max="0"` are treated as not setting the property at all, then one possible solution would be that `Min="int.MinValue"` and `Max="int.MaxValue"` should be treated as not setting the property instead.

[2021-02-22 09:48] Merhex opened #1893 "Pass additional information in CheckChanged event."
Consider following code:

[code]

I would like to have access to properties of the license plate, wherefor I changed the check's status. Is there any way to do it now?